<div class="text-center">
  <%= link_to(@collection.published_in_dls ?
                  collection_items_path(@collection) : @collection.access_url,
              class: 'btn btn-lg btn-default pt-browse',
              target: @collection.published_in_dls ? '' : '_blank') do %>
    <%= icon_for(@collection) %> View the collection
  <% end %>
  <% if Rails.env.development? %>
    <%= link_to('Admin', admin_collection_path(@collection),
                class: 'btn btn-lg btn-default', target: '_blank') %>
    <br>
    <%= link_to('Staging', "https://kumquat-dev.library.illinois.edu/collections/#{@collection.repository_id}",
                class: 'btn btn-lg btn-default', target: '_blank') %>
    <%= link_to('Staging Admin', "https://kumquat-dev.library.illinois.edu/admin/collections/#{@collection.repository_id}",
                class: 'btn btn-lg btn-default', target: '_blank') %>
    <br>
    <%= link_to('Production', "https://digital.library.illinois.edu/collections/#{@collection.repository_id}",
                class: 'btn btn-lg btn-default', target: '_blank') %>
    <%= link_to('Production Admin', "https://digital.library.illinois.edu/admin/collections/#{@collection.repository_id}",
                class: 'btn btn-lg btn-default', target: '_blank') %>
  <% end %>
</div>
<div id="pt-description">
  <%= raw(@collection.description_html) ||
          simple_format(auto_link(@collection.description)) %>
</div>

<%= rights_statement(@collection.rights_statement) %>
