<div class="text-center">
  <% if @collection.published_in_dls %>
    <%= link_to(collection_items_path(@collection),
                class: 'btn btn-lg btn-default pt-browse',
                target: @collection.published_in_dls ? '' : '_blank') do %>
      <%= icon_for(Item) %> <%= number_with_delimiter(@collection.num_public_items) %> items
    <% end %>
  <% else %>
    <%= link_to(@collection.access_url,
                class: 'btn btn-lg btn-default pt-browse',
                target: @collection.published_in_dls ? '' : '_blank') do %>
      <%= icon_for(Item) %> View Items
    <% end %>
  <% end %>
</div>
<div id="pt-description">
  <%= raw(@collection.description_html) ||
          simple_format(auto_link(@collection.description)) %>
</div>
