<% provide :title, 'Collections' %>
<% provide :body_id, 'collections_index' %>
<% provide :active_nav, 'collections' %>

<%= breadcrumb %>

<h1>Collections <small><%= @collections.length %> total</small></h1>

<div class="pt-results">
  <ol>
    <% @collections.each do |col| %>
      <li>
        <div>
          <span class="pt-title">
            <% if col.published %>
              <%= link_to col.title, collection_url(col) %>
            <% else %>
              <%= link_to col.title, col.access_url, target: '_blank' %>
            <% end %>
          </span>
          <br>
          <span class="pt-description">
            <%= col.description %>
          </span>
        </div>
      </li>
    <% end %>
  </ol>
</div>
