<% provide :title, 'Collections' %>
<% provide :body_id, 'collections_index' %>
<% provide :active_nav, 'collections' %>

<h1>Collections</h1>

<div id="pt-letter-links">
  <ul class="nav nav-pills">
    <% collection_anchors(@collections).each_with_index do |n, index| %>
      <li role="presentation" data-toggle="tab" <%= index == 0 ? 'class=active' : '' %>>
        <a href="#<%= n %>"><%= n %></a>
      </li>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="col-sm-3 pt-facets pt-panel-facets">
    <%= collection_facets_as_panels(@collections) %>
  </div>
  <div class="col-sm-9">
    <%= collections_as_list(@collections) %>
  </div>
</div>