<% provide :title, 'Collections' %>
<% provide :body_id, 'collections_index' %>
<% provide :active_nav, 'collections' %>

<h1 id="pt-page-title">Collections
  <span id="pt-count" class="badge"><%= @count %></span></h1>

<%= form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'pt-filter') do %>
  <div class="row">
    <div class="hidden-xs col-sm-3 col-lg-2 pt-facets pt-panel-facets">
      <%= render partial: 'facets' %>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-10">
      <div class="row">
        <div class="col-xs-6">
          <div class="input-group">
            <%= search_field_tag :q, params[:q], placeholder: 'Filter Collections',
                                 class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-eye"></i> Advanced <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right view-dropdown">
              <li>
                <%= link_to @permitted_params.merge(format: :atom), id: 'pt-view-as-atom' do %>
                  <i class="fa fa-rss"></i>&nbsp;&nbsp;Atom
                <% end %>
              </li>
              <li>
                <%= link_to @permitted_params.merge(format: :json), id: 'pt-view-as-json' do %>
                  <i class="fa fa-code"></i>&nbsp;JSON
                <% end %>
              </li>
              <li>
                <%= link_to collections_iiif_presentation_list_path, target: '_blank' do %>
                  <i class="fa fa-code"></i>&nbsp;IIIF Directory
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to admin_collections_path, target: '_blank' do %>
                  <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="pt-collections" class="pt-cards">
        <%= render partial: 'collections' %>
      </div>
    </div>
  </div>
<% end %>