<% provide :title, @collection.title %>
<% provide :body_id, 'collections_show' %>
<% provide :active_nav, 'collections' %>

<%= breadcrumb(collection: @collection) %>

<h1><%= @collection.title %></h1>

<% if @representative_image_bytestream %>
  <div class="row">
    <div class="col-sm-6 col-md-7 col-lg-8">
      <%= render partial: 'description' %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
      <div class="pt-main-image">
        <% if @representative_image_bytestream.item %>
          <%= link_to @representative_image_bytestream.item do %>
            <%= thumbnail_tag(@representative_image_bytestream, 512) %>
          <% end %>
          <%= link_to @representative_image_bytestream.item, class: 'pt-title' do %>
            <%= @representative_image_bytestream.item.title %>
          <% end %>
        <% else %>
          <%= thumbnail_tag(@representative_image_bytestream, 512) %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <%= render partial: 'description' %>
<% end %>
