- provide :title, @collection.title
- provide :body_id, 'collections_show'
- provide :active_nav, 'collections'
= breadcrumb(collection: @collection)

%form.form-inline.float-right{action: "#{collection_items_path(@collection)}",
                              method: "get"}
  .input-group
    - if @children.count > 1 || (@collection.published_in_dls && @uofi_user) 
      -# Add hidden fields for collection_ids 
      - @collection_ids.each do |id|
        = hidden_field_tag 'collection_ids[]', id
      .input-group-prepend
        %span.input-group-text
          %i.fa.fa-search
      = search_field_tag :q,
                         params[:q],
                         class: 'form-control',
                         placeholder: 'Search This Collection'
    .input-group-append
      %button.btn.btn-light.dropdown-toggle{"aria-expanded": "false",
                                            "aria-haspopup": "true",
                                            "data-toggle": "dropdown",
                                            type: "button"}
        %i.fa.fa-eye
        View
        %span.caret
      .dropdown-menu.dropdown-menu-right
        - if @uofi_user
          = link_to collection_tree_path(@collection),
                    target: '_blank',
                    class: 'dropdown-item' do
            %i.fa.fa-folder-open 
            Browse Collection
          .dropdown-divider{role: "separator"}
          = link_to @permitted_params.merge(format: :json),
                    target: '_blank',
                    class: 'dropdown-item' do
            %i.fa.fa-code
             JSON
          = link_to collection_iiif_presentation_path(@collection),
                    target: '_blank',
                    class: 'dropdown-item' do
            %i.fa.fa-code
             IIIF Representation
          .dropdown-divider{role: "separator"} 
        = link_to admin_collection_path(@collection),
                  target: '_blank',
                  class: 'dropdown-item' do
          %i.fa.fa-lock
            Admin View

%h1= collection_page_title(@collection)

.row
  .col-sm-6.col-md-7.col-lg-8
    = render partial: 'description'
  .col-sm-6.col-md-5.col-lg-4
    .dl-main-image
      - if @representative_item
        - if @uofi_user
          = link_to @representative_item do
            = thumbnail_tag(@collection, size: 512)
          = link_to @representative_item, class: 'dl-title' do
            - if @representative_item.parent
              = @representative_item.parent.title
              —
            = @representative_item.title
        - else
          = thumbnail_tag(@collection, size: 512)
          = @representative_item.title
      - else
        = thumbnail_tag(@collection, size: 512)

- if @children.count > 0
  %hr/
  %h2#subcollections 
    Subcollections
    %small
      %span.badge.badge-pill.badge-secondary= @children.count
  .dl-cards-container.clearfix
    .dl-cards
      - @children.each do |child|
        .dl-card
          .dl-card-content
            = link_to child do
              = thumbnail_tag(child, shape: :square, size: 256)
            %h4.dl-title= link_to(child.title, child)
            - if child.num_public_objects > 0
              = raw("#{child.num_public_objects} Items")

.text-center.email-curator
  - mailto = curator_mailto(@collection)
  - if mailto
    = link_to mailto, class: 'btn btn-light' do
      %i.fa.fa-envelope
      Email Curator About This Collection