<% provide(:title, 'Sign In') %>
<% provide(:body_id, 'signin') %>

<% if Rails.env.development? %>
  <p>DEVELOPMENT: Sign in as admin / kumquats4ever</p>
<% end %>

<div class="panel panel-default signin">
  <div class="panel-heading">
    <h3 class="panel-title">Sign In</h3>
  </div>
  <div class="panel-body">
    <%= form_for(:sessions, url: auth_path(:password)) do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Sign In', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
