-# Form for editing the owning side of an AgentRelation.
-#
-# @param agent_relation [AgentRelation]

= form_for([:admin, agent_relation], remote: true) do |f|
  .dl-error-messages
    -# populated via ajax by shared/_validation_messages.js.erb
  .form-group
    = f.label :related_agent_id, 'Agent'
    = f.text_field :related_agent_id, value: f.object.related_agent&.name,
                   class: 'form-control dl-autocomplete', autocomplete: 'off'
  .form-group
    = f.label :agent_relation_type_id, 'Relation Type'
    = select_tag 'agent_relation[agent_relation_type_id]',
                 options_from_collection_for_select(AgentRelationType.all.order(:name),
                                                    'id', 'name', f.object.agent_relation_type_id),
                 include_blank: false,
                 class: 'custom-select'
  .form-group
    = f.label :agent_id, 'Referred Agent'
    = f.text_field :agent_id,
                   value: f.object.agent&.name,
                   class: 'form-control dl-autocomplete',
                   autocomplete: 'off'
  .form-group
    = f.label :dates
    = f.text_field :dates, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? 'Create Relationship' : 'Edit Relationship',
                 class: 'btn btn-primary')
