<%= form_for([:admin, @collection_def]) do |f| %>

  <div class="form-group">
    <%= f.label :medusa_id, 'Medusa ID' %>
    <%= f.text_field(:medusa_id, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :metadata_profile_id, 'Metadata Profile' %>
    <%= select(:collection_def, :metadata_profile_id,
               @metadata_profile_options_for_select, {},
               class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :theme_id %>
    <%= select(:collection_def, :theme_id, @theme_options_for_select, {},
               class: 'form-control') %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>

<% end %>
