- page_links = paginate(@agent_count, @limit, @current_page,
                        Admin::AgentsController::PERMITTED_PARAMS, true)

.text-center
  = page_links
%table.table.table-striped
  %thead
    %th{style: "width: 1px"}
    %th{style: "width: 1px"}
    %th Name
  %tbody
    - @agents.each do |agent|
      %tr
        %td{style: "white-space: nowrap"}
          %button.btn.btn-light.btn-sm.dl-edit-agent{"data-agent-id": "#{agent.id}",
                                                     "data-target": "#dl-edit-agent-modal",
                                                     "data-toggle": "modal",
                                                     type: "button"}
            %i.fas.fa-pencil-alt
            Edit
        %td{style: "white-space: nowrap"}
          = link_to(admin_agent_path(agent),
                    class: 'btn btn-danger btn-sm',
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this agent?' }) do
            %i.fa.fa-trash
            Delete
        %td= link_to agent.name, admin_agent_path(agent)
.text-center
  = page_links
