<%
  # @param agent [Agent]
  # @param agent_relation [AgentRelation]
  # @param context [Symbol] :new or :edit
  # @param show_relation_types [Boolean]
%>

<%= form_for([:admin, agent], remote: true) do |f| %>
  <div class="pt-error-messages">
    <% # populated via ajax by shared/_validation_messages.js.erb
    %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'uris', 'URIs' %>
    <% if context == :edit %>
      <span class="help text-danger">
        <i class="fa fa-warning"></i> Changing URIs may break entity relationships.
      </span>
    <% end %>
    <table id="pt-agent-uris" border="0">
      <% num_fields = f.object.agent_uris.length == 0 ?
          0 : f.object.agent_uris.length - 1 %>
      <% for index in 0..num_fields %>
        <% uri = f.object.agent_uris[index] %>
        <tr>
          <td>
            <%= text_field_tag "agent_uris[#{index}][uri]", uri&.uri,
                               class: 'form-control' %>
          </td>
          <td style="width:100px">
            <%= label_tag do %>
              <%= radio_button_tag "agent_uris[#{index}][primary]", 'true',
                                   uri&.primary %> Primary
            <% end %>
          </td>
          <td style="width:1px">
            <button class="btn btn-sm btn-danger pt-remove">
              <i class="fa fa-minus"></i>
            </button>
          </td>
        </tr>
      <% end %>
    </table>
    <button class="btn btn-sm btn-success pt-add">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div class="form-group">
    <%= label_tag :agent_rule, 'Agent Rule' %>
    <%= select_tag 'agent[agent_rule_id]',
                   options_from_collection_for_select(AgentRule.all.order(:name),
                                                      'id', 'name', f.object.agent_rule_id),
                   include_blank: true,
                   class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :agent_type, 'Agent Type' %>
    <%= select_tag 'agent[agent_type_id]',
                   options_from_collection_for_select(AgentType.all.order(:name),
                                                      'id', 'name', f.object.agent_type_id),
                   include_blank: true,
                   class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="clearfix">
    <div class="pull-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit(context == :new ? 'Create Agent' : 'Edit Agent',
                   class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
