<% provide :title, 'Agents' %>
<% provide :body_id, 'admin_agents_index' %>
<% provide :active_nav, 'metadata' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Agents</li>
</ol>

<div class="btn-group pull-right">
  <!-- Add Agent button -->
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#pt-add-agent-modal">
    <span class="fa fa-plus"></span> Add Agent
  </button>
</div>

<h1>Agents</h1>

<table class="table table-striped">
  <thead>
    <th style="width: 1px"></th>
    <th style="width: 1px"></th>
    <th>Name</th>
    <th>URI</th>
  </thead>
  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td>
          <button type="button" class="btn btn-default btn-xs pt-edit-agent"
                  data-toggle="modal" data-target="#pt-edit-agent-modal"
                  data-agent-id="<%= agent.id %>">
            Edit
          </button>
        </td>
        <td>
          <%= link_to 'Delete', admin_agent_path(agent),
                      class: 'btn btn-danger btn-xs', method: :delete,
                      data: { confirm: 'Are you sure you want to delete '\
                              'this agent?' } %>
        </td>
        <td><%= link_to agent.name, admin_agent_path(agent) %></td>
        <td><%= link_to agent.uri, admin_agent_path(agent) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate(@agents.count, @limit, @current_page) %>
</div>

<!-- Add-agent modal -->
<div class="modal fade" id="pt-add-agent-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-add-agent-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-add-agent-modal-label">Add Agent</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: { agent: @new_agent,
                                              context: :new } %>
      </div>
    </div>
  </div>
</div>

<!-- Edit-agent modal -->
<div class="modal fade" id="pt-edit-agent-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-edit-agent-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-edit-agent-modal-label">Edit Agent</h4>
      </div>
      <div class="modal-body">
        <% # will be populated via XHR %>
      </div>
    </div>
  </div>
</div>
