<% provide :title, @agent.name %>
<% provide :body_id, 'admin_agents_show' %>
<% provide :active_nav, 'metadata' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Agents', url: admin_agents_path },
                     { label: @agent.name }) %>

<div class="btn-group float-right" role="group">
  <!-- Edit button -->
  <button type="button" class="btn btn-light" data-toggle="modal"
          data-target="#dl-edit-agent-modal">
    <i class="fas fa-pencil-alt"></i> Edit
  </button>
  <!-- View button -->
  <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i>
      View <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" role="menu">
      <%= link_to agent_url(@agent, format: :json), target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-code"></i>&nbsp;JSON
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to @agent, target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;Public View
      <% end %>
    </div>
  </div>

  <!-- Delete button -->
  <%= link_to admin_agent_path(@agent), method: :delete,
              class: 'btn btn-danger',
              data: { confirm: 'Are you sure you want to delete this agent?' } do %>
    <i class="fa fa-trash"></i> Delete
  <% end %>
</div>

<h1><%= @agent.name %></h1>

<table class="table">
  <tr>
    <td>URIs</td>
    <td>
      <ul>
        <% @agent.agent_uris.each do |uri| %>
          <li><%= uri %> <%= uri.primary ?
                                 raw('<span class="badge badge-success">primary</span>') : '' %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Agent Rule</td>
    <td><%= @agent.agent_rule&.name %></td>
  </tr>
  <tr>
    <td>Agent Type</td>
    <td><%= @agent.agent_type&.name %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @agent.description %></td>
  </tr>
</table>

<hr>

<div class="btn-group float-right">
  <!-- Add Referred Agent button -->
  <button type="button" class="btn btn-light" data-toggle="modal"
          data-target="#dl-relating-agent-modal">
    Add Referred Relationship <span class="fa fa-arrow-right"></span>
  </button>
</div>

<h2>Refers To</h2>

<% if @related_agents.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">Relationship</th>
        <th>Agent</th>
        <th>Relation Type</th>
        <th>Referred Agent</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      <% @related_agents.each do |relation| %>
        <tr>
          <td style="white-space: nowrap">
            <button type="button" class="btn btn-light btn-sm dl-edit-agent-relation"
                    data-toggle="modal" data-target="#dl-agent-relation-modal"
                    data-agent-relation-id="<%= relation.id %>">
              <i class="fas fa-pencil-alt"></i> Edit
            </button>
          </td>
          <td style="white-space: nowrap">
            <%= link_to admin_agent_relation_path(relation),
                        class: 'btn btn-danger btn-sm', method: :delete,
                        data: { confirm: 'Are you sure you want to remove '\
                          'this relationship?' } do %>
              <i class="fa fa-trash"></i> Delete
            <% end %>
          </td>
          <td><%= @agent.name %></td>
          <td><%= relation.agent_relation_type&.name %></td>
          <td><%= link_to relation.related_agent.name,
                          admin_agent_path(relation.related_agent) %></td>
          <td><%= relation.dates %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nothing</p>
<% end %>

<hr>

<div class="btn-group float-right">
  <!-- Add Referred Agent button -->
  <button type="button" class="btn btn-light" data-toggle="modal"
          data-target="#dl-related-agent-modal">
    <span class="fa fa-arrow-left"></span> Add Referring Relationship
  </button>
</div>

<h2>Referred To By</h2>

<% if @relating_agents.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">Relationship</th>
        <th>Agent</th>
        <th>Relation Type</th>
        <th>Referred Agent</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      <% @relating_agents.each do |relation| %>
        <tr>
          <td style="white-space: nowrap">
            <button type="button" class="btn btn-light btn-sm dl-edit-agent-relation"
                    data-toggle="modal" data-target="#dl-agent-relation-modal"
                    data-agent-relation-id="<%= relation.id %>">
              <i class="fas fa-pencil-alt"></i> Edit
            </button>
          </td>
          <td style="white-space: nowrap">
            <%= link_to admin_agent_relation_path(relation),
                        class: 'btn btn-danger btn-sm', method: :delete,
                        data: { confirm: 'Are you sure you want to remove '\
                        'this relationship?' } do %>
                <i class="fa fa-trash"></i> Delete
            <% end %>
          </td>
          <td><%= link_to relation.agent.name,
                          admin_agent_path(relation.agent) %></td>
          <td><%= relation.agent_relation_type&.name %></td>
          <td><%= @agent.name %></td>
          <td><%= relation.dates %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nothing</p>
<% end %>

<hr>

<h2>References</h2>

<table class="table">
  <tr>
    <td>Agents</td>
    <td><%= @num_agent_references %></td>
  </tr>
  <tr>
    <td>Items</td>
    <td><%= @num_item_references %></td>
  </tr>
  <tr>
    <td>Collections</td>
    <td><%= @num_collection_references %></td>
  </tr>
</table>


<%= render partial: 'admin/agent_relations/agent_relation_panel', locals: {
    agent_relation: @new_agent_relation,
    context: :new } %>

<%= render partial: 'admin/agent_relations/related_agent_panel', locals: {
    agent: @agent,
    agent_relation: @new_agent_relation,
    context: :new } %>

<%= render partial: 'admin/agent_relations/relating_agent_panel', locals: {
    related_agent: @agent,
    agent_relation: @new_agent_relation,
    context: :new } %>

<%= render partial: 'edit_modal' %>
