#dl-batch-change-modal.modal.fade{"aria-labelledby": "dl-batch-change-modal-label",
                                  role: "dialog",
                                  tabindex: "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      = form_tag(admin_collection_items_batch_change_metadata_path(@collection)) do
        .modal-header
          %h4#dl-batch-change-modal-label.modal-title Batch Change
          %button.close{"aria-label": "Close",
                        "data-dismiss": "modal",
                        type: "button"}
            %span{"aria-hidden": "true"} ×
        .modal-body
          - if @collection.metadata_profile
            - element_defs = @collection.metadata_profile.elements.sort_by(&:label)
            .form-group
              %label{for: "element"} Set Element:
              = select_tag(:element,
                           raw(element_defs.map{ |d| "<option data-controlled=\"#{d.vocabularies.select(&:controlled?).any?}\" data-controlled-vocabulary-id=\"#{d.vocabularies.find(&:controlled?)&.id}\" value=\"#{d.name}\">#{d.label} (#{d.name})</option>" }.join),
                           class: 'custom-select')
            .dl-elements
              %label To:
              .form-group
                %table.table.table-borderless.table-sm
                  %tr.dl-element
                    %td.dl-uncontrolled-value
                      %label String:
                      = text_field_tag('replace_values[][string]', '', class: 'form-control')
                      %label URI:
                      = text_field_tag('replace_values[][uri]', '', class: 'form-control')
                    %td.dl-controlled-value{style: "display: none"}
                      = hidden_field_tag('replace_values[][string]', nil)
                      = hidden_field_tag('replace_values[][uri]', nil)
                      -# option values are populated via JS populate the above fields on change
                      = select_tag(:controlled_value,
                                   nil,
                                   class: 'custom-select')
                    %td{style: "text-align: center; vertical-align: middle;"}
                      %button.btn.btn-sm.btn-danger.dl-remove-element{type: "button"}
                        %i.fa.fa-minus
              %button.btn.btn-sm.btn-success.dl-add-element
                %i.fa.fa-plus
          - else
            %p Metadata profile is not set.
          .dl-query
            -# will be populated by index.js.erb
        .modal-footer
          %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
          %button.btn.btn-primary{type: "submit"} Change
