<div class="text-center">
  <%= paginate_items(@count, @limit, @current_page) %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <% @metadata_profile.elements.each do |pe| %>
        <th>
          <%= pe.label %>
          <br>
          <var><%= pe.name %></var>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <div class="pt-thumbnail">
            <% if item.parent_repository_id.present? and item.variant != Item::Variants::FILE %>
                <span class="pt-tree-connector">&#8627;</span>
            <% end %>
            <%= link_to admin_collection_item_path(item.collection, item), target: '_blank' do %>
                <%= thumbnail_tag(item) %>
            <% end %>
          </div>
          <%= item.binaries.select{ |b| b.master_type == Binary::MasterType::PRESERVATION }.first&.filename %>
        </td>
        <td>
          <%= select_tag("items[#{item.repository_id}][variant]",
                         options_for_select(Item::Variants::all.map{ |v| [v.titleize, v] }, selected: item.variant),
                         include_blank: true,
                         class: 'form-control input-sm') %>
          <table border="0">
            <tr>
              <td>Page:</td>
              <td>
                <%= number_field_tag("items[#{item.repository_id}][page]", item.page_number,
                                     class: 'form-control input-sm') %>
              </td>
              <td>
                Subpage:
              </td>
              <td>
                <%= number_field_tag("items[#{item.repository_id}][subpage]", item.subpage_number,
                                     class: 'form-control input-sm') %>
              </td>
            </tr>
          </table>
        </td>
        <% @metadata_profile.elements.each do |pe| %>
          <td>
            <% item_elements = item.elements.select{ |ie| ie.name == pe.name } %>
            <% if item_elements.any? %>
              <%= text_area_tag("items[#{item.repository_id}][#{pe.name}]",
                                ItemElement::tsv_string_from_elements(item_elements)) %>
            <% else %>
              <%= text_area_tag("items[#{item.repository_id}][#{pe.name}]", '') %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate_items(@count, @limit, @current_page) %>
</div>