<%= form_for([:admin, @item.collection, @item]) do |f| %>
  <div class="float-right">
    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#dl-system-info" class="nav-link active"
         aria-controls="dl-system-info" role="tab" data-toggle="tab">System Info</a>
    </li>
    <li class="nav-item">
      <a href="#dl-access" class="nav-link"
         aria-controls="dl-access" role="tab" data-toggle="tab">Access</a>
    </li>
    <li class="nav-item">
      <a href="#dl-metadata" class="nav-link"
         aria-controls="dl-metadata" role="tab" data-toggle="tab">Metadata</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dl-system-info">
      <table class="table dl-elements">
        <tbody>
          <tr>
            <td>Published</td>
            <td><%= f.check_box(:published) %></td>
          </tr>
          <tr>
            <td>Variant</td>
            <td>
              <%= f.select(:variant, @variants, { include_blank: true },
                           { class: 'custom-select' }) %>
            </td>
          </tr>
          <tr>
            <td>Representative Item ID</td>
            <td>
              <%= f.text_field(:representative_item_repository_id, class: 'form-control') %>
            </td>
          </tr>
          <tr>
            <td>Page Number</td>
            <td>
              <%= f.number_field(:page_number, class: 'form-control') %>
            </td>
          </tr>
          <tr>
            <td>Subpage Number</td>
            <td>
              <%= f.number_field(:subpage_number, class: 'form-control') %>
            </td>
          </tr>
          <tr>
            <td>CONTENTdm Alias</td>
            <td>
              <%= f.text_field(:contentdm_alias, class: 'form-control') %>
              <p class="form-text text-muted">Only needed if the item's DLS
                collection is different from its CONTENTdm collection.</p>
            </td>
          </tr>
          <tr>
            <td>CONTENTdm Pointer</td>
            <td>
              <%= f.text_field(:contentdm_pointer, class: 'form-control') %>
            </td>
          </tr>
          <tr>
            <td>Embed Tag</td>
            <td>
              <%= f.text_area(:embed_tag, class: 'form-control') %>
              <p class="form-text text-muted">If present, this will override the viewer.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="dl-access">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <h4>Allowed Host Groups</h4>
            <%= hidden_field_tag :host_group_ids, nil,
                                 name: 'item[allowed_host_group_ids][]' %>
            <% HostGroup.order(:name).each do |group| %>
              <div class="checkbox">
                <label>
                  <%= check_box_tag :host_group_ids, group.id,
                                    f.object.allowed_host_groups.pluck(:id).include?(group.id),
                                    name: 'item[allowed_host_group_ids][]' %>
                  <%= group.name %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <h4>Denied Host Groups</h4>
            <%= hidden_field_tag :host_group_ids, nil,
                                 name: 'item[denied_host_group_ids][]' %>
            <% HostGroup.order(:name).each do |group| %>
              <div class="checkbox">
                <label>
                  <%= check_box_tag :host_group_ids, group.id,
                                    f.object.denied_host_groups.pluck(:id).include?(group.id),
                                    name: 'item[denied_host_group_ids][]' %>
                  <%= group.name %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="dl-metadata">
      <div class="alert alert-info">Collection metadata profile:
        <%= link_to(@item.collection.metadata_profile.name,
                    admin_metadata_profile_path(@item.collection.metadata_profile)) %>
      </div>

      <table class="table dl-elements">
        <tbody>
          <% @item.collection.metadata_profile.elements.each do |profile_elem| %>
            <% profile_elem.vocabularies.each do |voc| %>
              <tr>
                <td style="width:20%">
                  <h5><%= profile_elem.label %></h5>
                  <p class="form-text text-muted"><%= voc.name %></p>
                </td>
                <td>
                  <% elements = @item.elements.select{ |e| e.name == profile_elem.name and
                      (e.vocabulary_id == voc.id or (e.vocabulary_id.blank? and voc == Vocabulary.uncontrolled)) } %>
                  <% if elements.any? %>
                    <% elements.each do |elem| %>
                      <%= admin_item_element_edit_tag(profile_elem, elem, voc) %>
                    <% end %>
                  <% else %>
                    <%= admin_item_element_edit_tag(profile_elem, nil, voc) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <div class="float-right">
    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
  </div>

<% end %>
