= form_for([:admin, @item.collection, @item]) do |f|
  .float-right
    = f.submit 'Save Changes', class: 'btn btn-primary'
  %ul.nav.nav-tabs
    %li.nav-item
      %a.nav-link.active{"aria-controls": "dl-system-info",
                         "data-toggle": "tab",
                         href: "#dl-system-info",
                         role: "tab"} System Info
    %li.nav-item
      %a.nav-link{"aria-controls": "dl-access",
                  "data-toggle": "tab",
                  href: "#dl-access",
                  role: "tab"} Access
    %li.nav-item
      %a.nav-link{"aria-controls": "dl-metadata",
                  "data-toggle": "tab",
                  href: "#dl-metadata",
                  role: "tab"} Metadata
  .tab-content
    #dl-system-info.tab-pane.active{role: "tabpanel"}
      %table.table.dl-elements
        %tbody
          %tr
            %td Published
            %td= f.check_box(:published)
          %tr
            %td Variant
            %td
              = f.select(:variant,
                         @variants,
                         { include_blank: true },
                         { class: 'custom-select' })
          %tr
            %td Representative Item ID
            %td
              = f.text_field(:representative_item_repository_id, class: 'form-control')
          %tr
            %td Page Number
            %td
              = f.number_field(:page_number, class: 'form-control')
          %tr
            %td Subpage Number
            %td
              = f.number_field(:subpage_number, class: 'form-control')
          %tr
            %td CONTENTdm Alias
            %td
              = f.text_field(:contentdm_alias, class: 'form-control')
              %p.form-text.text-muted
                Only needed if the item's DLS
                collection is different from its CONTENTdm collection.
          %tr
            %td CONTENTdm Pointer
            %td
              = f.text_field(:contentdm_pointer, class: 'form-control')
          %tr
            %td Embed Tag
            %td
              = f.text_area(:embed_tag, class: 'form-control')
              %p.form-text.text-muted If present, this will override the viewer.
    #dl-access.tab-pane{role: "tabpanel"}
      .row
        .col-sm-6
          .form-group
            %h4 Allowed Host Groups
            = hidden_field_tag :host_group_ids, nil,
                               name: 'item[allowed_host_group_ids][]'
            - HostGroup.order(:name).each do |group|
              .checkbox
                %label
                  = check_box_tag :host_group_ids, group.id,
                                  f.object.allowed_host_groups.pluck(:id).include?(group.id),
                                  name: 'item[allowed_host_group_ids][]'
                  = group.name
        .col-sm-6
          .form-group
            %h4 Denied Host Groups
            = hidden_field_tag :host_group_ids, nil,
                               name: 'item[denied_host_group_ids][]'
            - HostGroup.order(:name).each do |group|
              .checkbox
                %label
                  = check_box_tag :host_group_ids, group.id,
                                  f.object.denied_host_groups.pluck(:id).include?(group.id),
                                  name: 'item[denied_host_group_ids][]'
                  = group.name
      .row
        .col-sm-12
          %h4 Allowed NetIDs
          = hidden_field_tag('item[allowed_netids][][expires]', nil)
          = hidden_field_tag('item[allowed_netids][][netid]', nil)
          - if f.object.allowed_netids.blank?
            - f.object.allowed_netids = [{ netid: '', expires: '' }]
          - f.object.allowed_netids.each do |h|
            .input-group.mb-3
              = hidden_field_tag('item[allowed_netids][][expires]', h[:expires])
              = text_field_tag('item[allowed_netids][][netid]', h[:netid],
                               class: 'form-control dl-remove-element',
                               'aria-label': 'NetID',
                               'aria-describedby': "remove-netid-button-#{h[:netid]}")
              .input-group-append
                %button.btn.btn-danger.dl-remove-netid{id: "remove-netid-button-#{h[:netid]}",
                                                       type: "button"}
                  %i.fa.fa-minus
          %p.form-text
            %button#dl-add-netid-button.btn.btn-success.mr-3{type: "button"}
              %i.fa.fa-plus
            %i.fa.fa-info-circle
            An email will automatically be sent to any new NetIDs entered above.
    #dl-metadata.tab-pane{role: "tabpanel"}
      .alert.alert-info
        Collection metadata profile:
        \#{link_to(@item.collection.metadata_profile.name, admin_metadata_profile_path(@item.collection.metadata_profile))}
      %table.table.dl-elements
        %tbody
          - @item.collection.metadata_profile.elements.each do |profile_elem|
            - profile_elem.vocabularies.each do |voc|
              %tr
                %td{style: "width:20%"}
                  %h5= profile_elem.label
                  %p.form-text.text-muted= voc.name
                %td
                  - elements = @item.elements.select{ |e| e.name == profile_elem.name && (e.vocabulary_id == voc.id || (e.vocabulary_id.blank? && voc == Vocabulary.uncontrolled)) }
                  - if elements.any?
                    - elements.each do |elem|
                      = admin_item_element_edit_tag(profile_elem, elem, voc)
                  - else
                    = admin_item_element_edit_tag(profile_elem, nil, voc)
  .float-right.mt-3
    = f.submit 'Save Changes', class: 'btn btn-primary'
