<div class="modal fade" id="dl-find-replace-modal" tabindex="-1" role="dialog"
     aria-labelledby="dl-find-replace-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(admin_collection_items_replace_metadata_path(@collection)) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="dl-find-replace-modal-label">Find and Replace</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle"></i> This cannot be undone.
          </div>

          <% if @collection.metadata_profile %>
            <% defs = @collection.metadata_profile.elements.
                select{ |e| !e.controlled? }.
                sort{ |a, b| a.label <=> b.label }.
                map{ |t| [ "#{t.label} (#{t.name})", t.name ] } %>

            <div class="form-group">
              <label for="matching_mode">Find Values:</label>
              <%= select_tag(:matching_mode, options_for_select(
                  [ [ 'Exactly Matching', 'exact_match' ],
                    [ 'Containing', 'contain' ],
                    [ 'Starting With', 'start' ],
                    [ 'Ending With', 'end' ], ]),
                             class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= text_field_tag(:find_value, '', class: 'form-control') %>
            </div>

            <div class="form-group">
              <label for="element">In Element:</label>
              <%= select_tag(:element, options_for_select(defs),
                             class: 'form-control') %>
            </div>

            <div class="form-group">
              <label for="replace_mode">Replace:</label>
              <%= select_tag(:replace_mode, options_for_select(
                  [ [ 'Whole Value', 'whole_value' ],
                    [ 'Matched Part', 'matched_part' ] ], 'matched_part'),
                             class: 'form-control') %>
            </div>

            <div class="form-group">
              <label for="replace_value">With Value:</label>
              <%= text_field_tag(:replace_value, '', class: 'form-control') %>
            </div>
          <% else %>
            <p>Metadata profile is not set.</p>
          <% end %>

          <div class="dl-query">
            <% # will be populated by index.js.erb %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Replace</button>
        </div>
      <% end %>
    </div>
  </div>
</div>