<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Items', admin_collection_items_path %></li>
  <li class="active"><%= truncate(@item.title, length: 50) %></li>
</ol>

<div class="btn-group pull-right">
  <%= link_to @item, class: 'btn btn-default', target: '_blank' do %>
    <i class="fa fa-globe"></i> Public View
  <% end %>
</div>

<% if @item.parent %>
  <h1 class="pt-compound-title">
    <small><%= link_to @item.parent.title, @item.parent %></small>
    <br>&nbsp;&nbsp;&#8627; <%= @item.title %>
  </h1>
<% else %>
  <h1><%= @item.title %>
    <% if @item.subtitle %>
      <br><small><%= @item.subtitle %></small>
    <% end %>
  </h1>
<% end %>

<%= viewer_for(@item) %>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Metadata</h3>
      </div>
      <div class="panel-body">
        <%= metadata_as_list(@item) %>
        <%= metadata_as_table(@item) %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">System Information</h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Created</dt>
          <dd><%= local_time(@item.created_at) %></dd>
          <dt>Last Modified</dt>
          <dd><%= local_time(@item.updated_at) %></dd>
        </dl>
      </div>
    </div>

    <% if @item.items.any? %>
      <div class="panel panel-default pt-pages">
        <div class="panel-heading">
          <h3 class="panel-title">Pages</h3>
        </div>
        <div class="panel-body">
          <%= pages_as_list(@item, link_to_admin: true) %>
        </div>
      </div>
    <% end %>

    <% if @item.full_text.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Full Text</h3>
        </div>
        <div class="panel-body">
          <pre><%= @item.full_text %></pre>
        </div>
      </div>
    <% end %>

  </div>
</div>

