- if current_user.can?(Permissions::MODIFY_ITEMS)
  .btn-group.float-right.mb-3
    %button.btn.btn-light.dl-edit-representation{type: 'button',
                                                 'data-toggle': 'modal',
                                                 'data-target': '#dl-edit-representation-modal'}
      %i.fas.fa-pencil-alt
      Edit&hellip;

.media.dl-representation
  .dl-image-container
    = thumbnail_tag(@item, size: 256)
  .media-body
    %h5
      Self
      - if @item.representation_type == Representation::Type::SELF
        %span.badge.badge-success active
      - else
        = form_for([:admin, @item.collection, @item]) do |f|
          = f.hidden_field(:representation_type, value: Representation::Type::SELF)
          = f.submit("Activate", class: "btn btn-light btn-sm")

.media.mt-3.dl-representation
  .dl-image-container
    - if @item.representative_image.present?
      = thumbnail_tag(@item.representative_image_key, size: 256)
    - else
      .dl-no-image
  .media-body
    %h5
      Local Image
      - if @item.representation_type == Representation::Type::LOCAL_FILE
        %span.badge.badge-success active
      - elsif @item.representative_image.present?
        = form_for([:admin, @item.collection, @item]) do |f|
          = f.hidden_field(:representation_type, value: Representation::Type::LOCAL_FILE)
          = f.submit("Activate", class: "btn btn-light btn-sm")

.media.mt-3.dl-representation
  .dl-image-container
    - rep_image_uuid    = @item.representative_medusa_file_id
    - rep_image_file    = Medusa::File.with_uuid(rep_image_uuid)
    - rep_image_present = rep_image_uuid.present?
    - if rep_image_present
      - rep_image_exists = rep_image_file.exists?
      - if rep_image_exists
        = link_to(rep_image_file.url) do
          = thumbnail_tag(rep_image_file, size: 256)
      - else
        .dl-no-image
    - else
      .dl-no-image
  .media-body
    %h5
      Medusa Image
      - if rep_image_present && rep_image_exists
        - if @item.representation_type == Representation::Type::MEDUSA_FILE
          %span.badge.badge-success active
        - else
          = form_for([:admin, @item.collection, @item]) do |f|
            = f.hidden_field(:representation_type, value: Representation::Type::MEDUSA_FILE)
            = f.submit("Activate", class: "btn btn-light btn-sm")
    - if rep_image_present
      - if rep_image_exists
        = link_to(rep_image_file.url) do
          %code= rep_image_file.name
      - else
        %code
          = rep_image_uuid
        %span.badge.badge-pill.badge-danger invalid
