<% provide :body_id, 'admin_items_edit_all' %>
<% provide :active_nav, 'entities' %>
<% provide :title, "#{@collection.title} | Edit Items" %>

<%= admin_breadcrumb(collection: @collection) %>

<%= form_tag(controller: 'admin/items', action: 'update_all', method: :post) do %>
  <%= hidden_field_tag 'dl-collection-id', @collection.repository_id %>

  <div class="btn-group pull-right" role="group">
    <%= submit_tag('Save Changes', class: 'btn btn-primary') %>
  </div>

  <h1>Edit Items</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <%= query_summary(params[:q], params[:fq], @metadata_profile) %>
          </div>
          <div class="col-sm-6 text-right">
            Metadata profile: <%= link_to @metadata_profile.name,
                                          admin_metadata_profile_path(@metadata_profile) %>
          </div>
        </div>
      </div>
    </div>

  <div id="dl-items">
    <%= render partial: 'edit_all_items' %>
  </div>
  <%= submit_tag('Save Changes', class: 'btn btn-primary') %>
<% end %>
