<% provide :body_id, 'items_edit_all' %>
<% provide :active_nav, 'entities' %>
<% provide :title, "#{@collection.title} | Edit Items" %>

<%= admin_breadcrumb(collection: @collection) %>

<%= form_tag(controller: 'admin/items', action: 'update_all', method: :post) do %>
  <div class="btn-group pull-right" role="group">
    <!-- Metadata -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-list"></i> Metadata <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Batch Change&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-batch-change-modal' %>
        </li>
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Find and Replace&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-find-replace-modal' %>
        </li>
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Migrate Element Values&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-migrate-modal' %>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <%= submit_tag('Save Changes', class: 'btn btn-primary') %>
    </div>
  </div>

  <h1>Edit Items</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <%= query_summary(params[:q], params[:fq], @metadata_profile) %>
          </div>
          <div class="col-sm-6 text-right">
            Metadata profile: <%= link_to @metadata_profile.name,
                                          admin_metadata_profile_path(@metadata_profile) %>
          </div>
        </div>
      </div>
    </div>

  <div id="pt-items">
    <%= render partial: 'edit_all_items' %>
  </div>
  <%= submit_tag('Save Changes', class: 'btn btn-primary') %>
<% end %>

<%= render partial: 'batch_change_metadata_panel' %>
<%= render partial: 'replace_metadata_panel' %>
<%= render partial: 'migrate_metadata_panel' %>
