<% provide :title, "#{@collection.title} | Items" %>
<% provide :body_id, 'admin_items_index' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb(collection: @collection) %>

<div class="clearfix">
  <div class="btn-group pull-right" role="group">
    <!-- Import button -->
    <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#pt-import-modal"
            <%= (@collection.package_profile and @collection.medusa_file_group) ? '' : 'disabled="disabled"' %>>
      <i class="fa fa-refresh"></i> Import&hellip;
    </button>

    <!-- Metadata -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-list"></i> Metadata <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to 'Edit Result Set',
                      admin_collection_edit_all_items_path(@collection),
                      id: 'pt-edit-result-set-metadata-link' %>
        </li>
        <li class="divider"></li>
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Batch Change&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-batch-change-modal' %>
        </li>
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Find and Replace&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-find-replace-modal' %>
        </li>
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Migrate Element Values&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-migrate-modal' %>
        </li>
        <li class="divider"></li>
        <li <%= (@collection.package_profile and @collection.medusa_file_group) ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Import From TSV&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-import-tsv-modal' %>
        </li>
        <li>
          <%= link_to raw('Export As TSV&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-export-modal' %>
        </li>
      </ul>
    </div>

    <!-- Sets button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <%= icon_for(ItemSet) %> Sets <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to raw('Add All Results&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-add-all-results-to-set-modal' %>
        </li>
        <li>
          <%= link_to raw('Add Checked Results&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-add-checked-items-to-set-modal' %>
        </li>
        <% if @collection.item_sets.count > 0 %>
          <li class="divider"></li>
          <% @collection.item_sets.order(:name).each do |set| %>
            <li><%= link_to set, admin_collection_item_set_path(@collection, set) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <!-- Public button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-globe"></i> Public <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
          <%= link_to 'Publish All Results',
                      admin_collection_items_publish_path(@collection),
                      method: :patch,
                      id: 'pt-publish-results-link' %>
        </li>
        <li>
          <%= link_to 'Publish Checked Results',
                      admin_collection_items_publish_path(@collection),
                      method: :patch,
                      id: 'pt-publish-checked-results-link' %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to 'Unpublish All Results',
                      admin_collection_items_unpublish_path(@collection),
                      method: :patch,
                      id: 'pt-unpublish-results-link' %>
        </li>
        <li>
          <%= link_to 'Unpublish Checked Results',
                      admin_collection_items_unpublish_path(@collection),
                      method: :patch,
                      id: 'pt-unpublish-checked-results-link'%>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to 'View', collection_items_path(@collection), target: '_blank' %>
        </li>
      </ul>
    </div>

    <!-- Purge button -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-trash"></i> Purge <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <% if current_user.can?(Permission::Permissions::PURGE_ITEMS_FROM_COLLECTION) %>
          <li>
            <%= link_to raw('Items From Collection'), '',
                        'data-toggle': 'modal', 'data-target': '#pt-purge-items-modal' %>
          </li>
        <% end %>
          <li>
            <%= link_to 'Cached Images From Image Server',
                        admin_collection_purge_cached_images_path(@collection),
                        method: 'post' %>
          </li>
      </ul>
    </div>
  </div>

  <h1>Items <small><%= @collection.title %></small></h1>
</div>

<%= form_tag(@permitted_params, method: :get, class: 'pt-filter') do %>
  <div class="row">
    <div class="col-sm-3 col-lg-2 pt-facets pt-panel-facets">
      <%= render partial: 'facets' %>
    </div>

    <div class="col-sm-9 col-lg-10">
      <% @permitted_params.each do |k, v| %>
        <%= hidden_field_tag(k, v) %>
      <% end %>

      <div class="form-inline pt-filter">
        <%= item_filter_field %>
        <%= item_filter_field_element_menu(@metadata_profile) %>
      </div>

      <% if @num_results_shown > 0 %>
        <div class="panel panel-default">
          <div id="pt-search-status" class="panel-body">
            <%= search_status(@count, @start, @num_results_shown) %>
          </div>
        </div>
      <% end %>

      <div id="pt-items" class="pt-list-results">
        <%= render partial: 'items' %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'batch_change_metadata_panel' %>
<%= render partial: 'replace_metadata_panel' %>
<%= render partial: 'migrate_metadata_panel' %>
<%= render partial: 'add_all_results_to_set_panel' %>
<%= render partial: 'add_checked_items_to_set_panel' %>
<%= render partial: 'import_panel' %>
<%= render partial: 'import_tsv_panel', locals: { collection: @collection } %>
<%= render partial: 'export_panel' %>
<%= render partial: 'purge_items_panel' %>