<% provide :title, "#{@collection.title} | Items" %>
<% provide :body_id, 'admin_items_index' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb(collection: @collection) %>

<h1>Items <small><%= @collection.title %></small></h1>

<div class="clearfix" style="margin-bottom: 1em">
  <div class="btn-group pull-right" role="group">
    <!-- Import button -->
    <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#pt-import-modal"
            <%= (@collection.package_profile and @collection.medusa_file_group) ? '' : 'disabled="disabled"' %>>
      <i class="fa fa-refresh"></i> Import&hellip;
    </button>

    <!-- Metadata -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-list"></i> Metadata <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to 'Edit Result Set',
                      admin_collection_edit_all_items_path(@collection),
                      id: 'pt-edit-metadata-link' %>
        </li>
        <li class="divider"></li>
        <li <%= (@collection.package_profile and @collection.medusa_file_group) ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Import From TSV&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-import-tsv-modal' %>
        </li>
        <li>
          <%= link_to raw('Export As TSV&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-export-modal' %>
        </li>
      </ul>
    </div>

    <!-- Sets button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-list"></i> Sets <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to raw('Add All Results&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-add-all-results-to-set-modal' %>
        </li>
        <li>
          <%= link_to raw('Add Checked Results&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-add-checked-items-to-set-modal' %>
        </li>
        <li class="divider"></li>
        <% @collection.item_sets.order(:name).each do |set| %>
          <li><%= link_to set, admin_collection_item_set_path(@collection, set) %></li>
        <% end %>
      </ul>
    </div>

    <!-- Public View button -->
    <%= link_to collection_items_path(@collection), class: 'btn btn-default',
                target: '_blank' do %>
      <i class="fa fa-globe"></i> Public View
    <% end %>

    <!-- Purge Items button -->
    <% if current_user.can?(Permission::Permissions::PURGE_ITEMS_FROM_COLLECTION) %>
      <button type="button" class="btn btn-danger" data-toggle="modal"
              data-target="#pt-purge-items-modal">
        <i class="fa fa-trash"></i> Purge Items
      </button>
    <% end %>
  </div>
</div>

<%= form_tag(@permitted_params, method: :get, class: 'pt-filter') do %>
  <div class="row">
    <div class="col-sm-3 col-lg-2 pt-facets pt-panel-facets">
      <%= render partial: 'facets' %>
    </div>

    <div class="col-sm-9 col-lg-10">
      <% @permitted_params.each do |k, v| %>
        <%= hidden_field_tag(k, v) %>
      <% end %>

      <div class="form-inline pt-filter">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <%= search_field_tag :q, params[:q], class: 'form-control',
                               placeholder: 'Filter' %>
        </div>

        <select class="form-control" name="df">
          <option value="<%= Item::SolrFields::SEARCH_ALL %>">Any Field</option>
          <% @metadata_profile.elements.each do |e| %>
            <option value="<%= e.solr_multi_valued_field %>"><%= e.label %></option>
          <% end %>
        </select>
      </div>

      <% if @num_results_shown > 0 %>
        <div class="panel panel-default">
          <div id="pt-search-status" class="panel-body">
            <%= search_status(@items, @start, @num_results_shown) %>
          </div>
        </div>
      <% end %>

      <div id="pt-items" class="pt-list-results">
        <%= render partial: 'items' %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'add_all_results_to_set_panel' %>
<%= render partial: 'add_checked_items_to_set_panel' %>
<%= render partial: 'import_panel' %>
<%= render partial: 'import_tsv_panel', locals: { collection: @collection } %>
<%= render partial: 'export_panel' %>
<%= render partial: 'purge_items_panel' %>