- provide :title, "#{@collection.title} | Items"
- provide :body_id, 'admin_items_index'
- provide :active_nav, 'entities'

= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                   { label: 'Collections', url: admin_collections_path },
                   { label: @collection.title, url: admin_collection_path(@collection) },
                   { label: 'Items' })

.clearfix
  = render partial: 'admin/items/index_button_group'

%h1
  Items
  %small= @collection.title

= form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'dl-filter') do
  .row
    .col-sm-4.col-lg-3.col-xl-2.dl-facets.dl-card-facets
      = render partial: 'facets'

    .col-sm-8.col-lg-9.col-xl-10
      - @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v|
        = hidden_field_tag(k, v)

      .form-inline.dl-filter
        .mr-2
          = item_filter_field
        = item_filter_field_element_menu(@metadata_profile)

      - if @num_results_shown > 0
        .card
          #dl-search-status.card-body
            = search_status(@count, @start, @num_results_shown)

      #dl-items.dl-results
        = render partial: 'items'

= render partial: 'batch_change_metadata_panel'
= render partial: 'replace_metadata_panel'
= render partial: 'migrate_metadata_panel'
= render partial: 'add_all_results_to_set_panel'
= render partial: 'add_checked_items_to_set_panel'
= render partial: 'import_panel'
= render partial: 'import_tsv_panel', locals: { collection: @collection }
= render partial: 'export_panel'
= render partial: 'purge_items_panel'