<% provide :title, "#{@collection.title} | Items" %>
<% provide :body_id, 'items_index' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Collections', admin_collections_path %></li>
  <li><%= link_to @collection.title, admin_collection_path(@collection) %></li>
  <li class="active">Items</li>
</ol>

<h1>Items in <%= @collection.title %></h1>

<div class="well pt-search">
  <%= render partial: 'search_panel',
             locals: { elements_for_select: @elements_for_select,
                       collections: @collections,
                       params: params } %>
</div>

<div class="clearfix" style="margin-bottom: 1em">
  <div class="btn-group pull-right" role="group">
    <!-- Sync button -->
    <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#pt-sync-modal">
      <i class="fa fa-refresh"></i> Sync&hellip;
    </button>
    <!-- Import button -->
    <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#pt-import-modal">
      <i class="fa fa-upload"></i> Import&hellip;
    </button>
    <!-- Export menu -->
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-download"></i> Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'TSV', params.merge(format: 'tsv') %></li>
    </ul>
  </div>
</div>

<% if @num_results_shown > 0 %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= search_status(@items, @start, @num_results_shown) %>
    </div>
  </div>
<% end %>

<div class="pt-list-results">
  <%= items_as_list(@items, @start, link_to_admin: true,
                    show_collections: false,
                    show_add_to_favorites_buttons: false,
                    show_description: false,
                    show_remove_from_favorites_buttons: false) %>
</div>

<div class="text-center">
  <%= paginate(@items, @limit, @current_page) %>
</div>

<!-- Sync modal panel -->
<div class="modal fade" id="pt-sync-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-sync-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(admin_collection_items_sync_path(@collection)) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pt-import-modal-label">Sync Items</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info">Before syncing, please verify that
            the collection's content profile and file group are set
            correctly.</div>
          <div class="radio">
            <label>
              <%= radio_button_tag('ingest_mode',
                                   MedusaIngester::IngestMode::CREATE_ONLY, true,
                                   'aria-described-by' => 'pt-create-only-help') %>
              Create
            </label>
            <span id="pt-create-only-help" class="help-block">
              Create any items present in Medusa but not the DLS. Don't touch
              existing DLS items.
            </span>
          </div>
          <div class="radio">
            <label>
              <%= radio_button_tag('ingest_mode',
                                   MedusaIngester::IngestMode::DELETE_MISSING, false,
                                   'aria-described-by' => 'pt-delete-missing-help') %>
              Delete Missing
            </label>
            <span id="pt-delete-missing-help" class="help-block">
              Delete any items present in the DLS but not Medusa.
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Sync</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Import modal panel -->
<div class="modal fade" id="pt-import-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-import-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(admin_collection_items_ingest_path(@collection, format: :tsv),
                   { multipart: true }) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pt-import-modal-label">Import TSV</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info">Before importing, please verify that
            the collection's content profile, metadata profile, and file group
            are set correctly.</div>
          <div class="form-group">
            <%= file_field_tag('tsv') %>
          </div>
          <hr>
          <div class="radio">
            <label>
              <%= radio_button_tag('import_mode',
                                   ItemTsvIngester::ImportMode::CREATE_ONLY, true,
                                   'aria-described-by' => 'pt-only-create-help') %>
              Only Create
            </label>
            <span id="pt-only-create-help" class="help-block">
              Create new items, but don't update any existing items.
              Use this for an initial import, or when adding new items to a
              collection that already contains some.
            </span>
          </div>
          <div class="radio">
            <label>
              <%= radio_button_tag('import_mode',
                                   ItemTsvIngester::ImportMode::CREATE_AND_UPDATE, false,
                                   'aria-described-by' => 'pt-create-and-update-help') %>
              Create &amp; Update
            </label>
            <span id="pt-create-and-update-help" class="help-block">
              Create new items, and update existing items. Use this to redo an import.
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
