<% provide :title, "#{@collection.title} | Items" %>
<% provide :body_id, 'items_index' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb(collection: @collection) %>

<h1>Items in <%= @collection.title %></h1>

<div class="well pt-search">
  <%= render partial: 'search_panel',
             locals: { elements_for_select: @elements_for_select,
                       collections: @collections,
                       params: params } %>
</div>

<div class="clearfix" style="margin-bottom: 1em">
  <div class="btn-group pull-right" role="group">
    <!-- Sync button -->
    <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#pt-sync-modal"
            <%= (@collection.package_profile and @collection.medusa_file_group) ? '' : 'disabled="disabled"' %>>
      <i class="fa fa-refresh"></i> Sync&hellip;
    </button>

    <!-- Metadata -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-list"></i> Metadata <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Batch Change&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-batch-change-modal' %>
        </li>
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Find and Replace&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-find-replace-modal' %>
        </li>
        <li <%= @collection.metadata_profile ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Migrate Element Values&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-migrate-modal' %>
        </li>
        <li class="divider"></li>
        <li <%= (@collection.package_profile and @collection.medusa_file_group) ? '' : 'disabled="disabled"' %>>
          <%= link_to raw('Import From TSV&hellip;'), '',
                      'data-toggle': 'modal', 'data-target': '#pt-import-modal' %>
        </li>
        <li><%= link_to 'Export As TSV', params.merge(format: 'tsv') %></li>
      </ul>
    </div>

    <!-- Public View button -->
    <%= link_to collection_items_path(@collection), class: 'btn btn-default',
                target: '_blank' do %>
      <i class="fa fa-globe"></i> Public View
    <% end %>
  </div>
</div>

<% if @num_results_shown > 0 %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= search_status(@items, @start, @num_results_shown) %>
    </div>
  </div>
<% end %>

<div class="pt-list-results">
  <%= items_as_list(@items, @start, link_to_admin: true,
                    show_collections: false,
                    show_add_to_favorites_buttons: false,
                    show_description: false,
                    show_remove_from_favorites_buttons: false) %>
</div>

<div class="text-center">
  <%= paginate(@items, @limit, @current_page) %>
</div>

<!-- Sync modal panel -->
<div class="modal fade" id="pt-sync-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-sync-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(admin_collection_items_sync_path(@collection)) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pt-import-modal-label">Sync Items</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info">Before syncing, please verify that
            the collection's file group and package profile are set
            correctly, and that its content conforms to the package profile.</div>
          <div class="radio">
            <label>
              <%= radio_button_tag('ingest_mode',
                                   MedusaIngester::IngestMode::CREATE_ONLY, true,
                                   'aria-described-by' => 'pt-create-only-help') %>
              Create
            </label>
            <span id="pt-create-only-help" class="help-block">
              Create any items present in Medusa but not the DLS. Don't touch
              existing DLS items.
            </span>
          </div>
          <div class="checkbox" style="padding-left: 1em">
            <label>
              <%= check_box_tag('options[extract_metadata]', 'true', true) %>
              Extract embedded file metadata into DLS metadata
            </label>
          </div>
          <div class="checkbox" style="padding-left: 1em">
            <label>
              <%= check_box_tag('options[include_date_created]', 'true', true) %>
              Extract creation date from embedded file metadata
            </label>
          </div>
          <div class="radio">
            <label>
              <%= radio_button_tag('ingest_mode',
                                   MedusaIngester::IngestMode::UPDATE_BYTESTREAMS, false,
                                   'aria-described-by' => 'pt-update-bytestreams-help') %>
              Update Bytestreams
            </label>
            <span id="pt-update-bytestreams-help" class="help-block">
              Update existing DLS items' bytestreams based on their corresponding
              files in Medusa.
            </span>
          </div>
          <div class="alert alert-danger">
          <div class="radio">
            <label>
              <%= radio_button_tag('ingest_mode',
                                   MedusaIngester::IngestMode::REPLACE_METADATA, false,
                                   'aria-described-by' => 'pt-replace-metadata-help') %>
              Replace Metadata <span class="label label-danger">dangerous!</span>
            </label>
            <span id="pt-replace-metadata-help" class="help-block">
              Replaces DLS items' metadata with embedded metadata extracted
              from their bytestream(s).
            </span>
          </div>
          </div>
          <div class="radio">
            <label>
              <%= radio_button_tag('ingest_mode',
                                   MedusaIngester::IngestMode::DELETE_MISSING, false,
                                   'aria-described-by' => 'pt-delete-missing-help') %>
              Delete Missing
            </label>
            <span id="pt-delete-missing-help" class="help-block">
              Delete any items present in the DLS but not Medusa.
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Sync</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'batch_change_metadata_panel' %>
<%= render partial: 'replace_metadata_panel' %>
<%= render partial: 'migrate_metadata_panel' %>
<%= render partial: 'import_panel' %>
