<% provide :title, "#{@collection.title} | Items" %>
<% provide :body_id, 'admin_items_index' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Collections', url: admin_collections_path },
                     { label: @collection.title, url: admin_collection_path(@collection) },
                     { label: 'Items' }) %>

<div class="clearfix">
  <div class="btn-group float-right" role="group">
    <!-- Import button -->
    <button type="button" class="btn btn-light" data-toggle="modal"
            data-target="#dl-import-modal"
            <%= (@collection.package_profile and @collection.medusa_file_group) ? '' : 'disabled="disabled"' %>>
      <i class="fas fa-sync-alt"></i> Import&hellip;
    </button>

    <!-- Metadata -->
    <div class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-list"></i> Metadata <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Edit Result Set',
                    admin_collection_edit_all_items_path(@collection),
                    id: 'dl-edit-result-set-metadata-link',
                    class: "dropdown-item #{@collection.metadata_profile ? '' : 'disabled'}" %>
        <div class="dropdown-divider"></div>
        <%= link_to raw('Batch Change&hellip;'), '',
                    'data-toggle': 'modal',
                    'data-target': '#dl-batch-change-modal',
                    class: "dropdown-item #{@collection.metadata_profile ? '' : 'disabled'}" %>
        <%= link_to raw('Find and Replace&hellip;'), '',
                    'data-toggle': 'modal',
                    'data-target': '#dl-find-replace-modal',
                    class: "dropdown-item #{@collection.metadata_profile ? '' : 'disabled'}" %>
        <%= link_to raw('Migrate Element Values&hellip;'), '',
                    'data-toggle': 'modal',
                    'data-target': '#dl-migrate-modal',
                    class: "dropdown-item #{@collection.metadata_profile ? '' : 'disabled'}" %>
        <div class="dropdown-divider"></div>
        <%= link_to raw('Import TSV&hellip;'), '',
                    'data-toggle': 'modal',
                    'data-target': '#dl-import-tsv-modal',
                    class: "dropdown-item #{(@collection.package_profile and @collection.medusa_file_group) ? '' : 'disabled'}" %>
        <%= link_to raw('Export TSV&hellip;'), '', class: 'dropdown-item',
                    'data-toggle': 'modal', 'data-target': '#dl-export-modal' %>
      </div>
    </div>

    <!-- Sets button -->
    <div class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <%= icon_for(ItemSet) %> Sets <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <%= link_to raw('Add All Results&hellip;'), '',
                    class: 'dropdown-item',
                    'data-toggle': 'modal',
                    'data-target': '#dl-add-all-results-to-set-modal' %>
        <%= link_to raw('Add Checked Results&hellip;'), '',
                    class: 'dropdown-item',
                    'data-toggle': 'modal',
                    'data-target': '#dl-add-checked-items-to-set-modal' %>
        <% if @collection.item_sets.count > 0 %>
          <div class="dropdown-divider"></div>
          <% @collection.item_sets.order(:name).each do |set| %>
            <%= link_to set, admin_collection_item_set_path(@collection, set), class: 'dropdown-item' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- Public button -->
    <div class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-globe"></i> Public <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to 'Publish All Results',
                    admin_collection_items_publish_path(@collection),
                    method: :patch,
                    id: 'dl-publish-results-link',
                    class: 'dropdown-item' %>
        <%= link_to 'Publish Checked Results',
                    admin_collection_items_publish_path(@collection),
                    method: :patch,
                    id: 'dl-publish-checked-results-link',
                    class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Unpublish All Results',
                    admin_collection_items_unpublish_path(@collection),
                    method: :patch,
                    id: 'dl-unpublish-results-link',
                    class: 'dropdown-item' %>
        <%= link_to 'Unpublish Checked Results',
                    admin_collection_items_unpublish_path(@collection),
                    method: :patch,
                    id: 'dl-unpublish-checked-results-link',
                    class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to 'View', collection_items_path(@collection),
                    target: '_blank', class: 'dropdown-item' %>
      </div>
    </div>

    <!-- Purge button -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-trash"></i> Purge <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <% if current_user.can?(Permissions::PURGE_ITEMS_FROM_COLLECTION) %>
          <%= link_to raw('Items From Collection'), '',
                      'data-toggle': 'modal',
                      'data-target': '#dl-purge-items-modal',
                      class: 'dropdown-item' %>
        <% end %>
          <%= link_to 'Cached Images From Image Server',
                      admin_collection_purge_cached_images_path(@collection),
                      method: 'post', class: 'dropdown-item' %>
      </div>
    </div>
  </div>

  <h1>Items <small><%= @collection.title %></small></h1>
</div>

<%= form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'dl-filter') do %>
  <div class="row">
    <div class="col-sm-4 col-lg-3 col-xl-2 dl-facets dl-card-facets">
      <%= render partial: 'facets' %>
    </div>

    <div class="col-sm-8 col-lg-9 col-xl-10">
      <% @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v| %>
        <%= hidden_field_tag(k, v) %>
      <% end %>

      <div class="form-inline dl-filter">
        <div class="mr-2">
          <%= item_filter_field %>
        </div>
        <%= item_filter_field_element_menu(@metadata_profile) %>
      </div>

      <% if @num_results_shown > 0 %>
        <div class="card">
          <div id="dl-search-status" class="card-body">
            <%= search_status(@count, @start, @num_results_shown) %>
          </div>
        </div>
      <% end %>

      <div id="dl-items" class="dl-results">
        <%= render partial: 'items' %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'batch_change_metadata_panel' %>
<%= render partial: 'replace_metadata_panel' %>
<%= render partial: 'migrate_metadata_panel' %>
<%= render partial: 'add_all_results_to_set_panel' %>
<%= render partial: 'add_checked_items_to_set_panel' %>
<%= render partial: 'import_panel' %>
<%= render partial: 'import_tsv_panel', locals: { collection: @collection } %>
<%= render partial: 'export_panel' %>
<%= render partial: 'purge_items_panel' %>