<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Collections', admin_collections_path %></li>
  <li><%= link_to @item.collection.title, admin_collection_path(@item.collection) %></li>
  <li><%= link_to 'Items', admin_collection_items_path %></li>
  <li class="active"><%= truncate(@item.title, length: 50) %></li>
</ol>

<div class="btn-group pull-right">
  <%= link_to @item, class: 'btn btn-default', target: '_blank' do %>
    <i class="fa fa-globe"></i> Public View
  <% end %>
</div>

<% if @item.parent %>
  <h1 class="pt-compound-title">
    <small><%= link_to @item.parent.title, @item.parent %></small>
    <br>&nbsp;&nbsp;&#8627; <%= @item.title %>
  </h1>
<% else %>
  <h1><%= @item.title %>
    <% if @item.subtitle %>
      <br><small><%= @item.subtitle %></small>
    <% end %>
  </h1>
<% end %>

<%= viewer_for(@item) %>

<section>
  <h2>Metadata</h2>
  <%= metadata_as_list(@item) %>
  <%= metadata_as_table(@item) %>
</section>

<section>
  <h2>Bytestreams</h2>
  <% if @item.bytestreams.any? %>
    <% @item.bytestreams.each do |bs| %>
      <h3><%= bs.human_readable_type %></h3>
      <%= bytestream_metadata_as_table(bs, admin: true) %>
    <% end %>
  <% else %>
    <p>None</p>
  <% end %>
</section>

<section>
  <h2>Pages</h2>
  <% if @item.pages.any? %>
    <div class="pt-pages">
      <%= pages_as_list(@item, link_to_admin: true) %>
    </div>
    <!-- TODO: files, directories, non-pages -->
  <% else %>
    <p>None</p>
  <% end %>
</section>

<section>
  <h2>Full Text</h2>
  <% if @item.full_text.present? %>
    <pre><%= @item.full_text %></pre>
  <% else %>
    <p>None</p>
  <% end %>
</section>

<section>
  <h2>System Information</h2>
  <dl>
    <dt>Created</dt>
    <dd><%= local_time(@item.created_at) %></dd>
    <dt>Last Modified</dt>
    <dd><%= local_time(@item.updated_at) %></dd>
  </dl>
</section>
