<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb(item: @item) %>

<div class="btn-group pull-right">
  <%= link_to edit_admin_collection_item_path(@item.collection, @item),
              class: 'btn btn-default' do %>
    <i class="fa fa-pencil"></i> Edit
  <% end %>
  <%= link_to @item, class: 'btn btn-default', target: '_blank' do %>
    <i class="fa fa-globe"></i> Public View
  <% end %>
</div>

<% if @item.parent %>
  <h1 class="pt-compound-title">
    <small><%= link_to @item.parent.title, @item.parent %></small>
    <br>&nbsp;&nbsp;&#8627; <%= @item.title %>
  </h1>
<% else %>
  <h1><%= @item.title %>
    <% if @item.subtitle %>
      <br><small><%= @item.subtitle %></small>
    <% end %>
  </h1>
<% end %>

<div class="row">
  <div class="col-sm-3 col-lg-2">
    <div class="pt-thumbnail">
      <%= thumbnail_tag(@item, ItemsHelper::DEFAULT_THUMBNAIL_SIZE) %>
    </div>
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active">
        <a href="#pt-structure" aria-controls="pt-structure" role="tab" data-toggle="tab">Structure</a>
      </li>

      <li role="presentation">
        <a href="#pt-system-info" aria-controls="pt-system-info" role="tab" data-toggle="tab">System Info</a>
      </li>

      <li role="presentation">
        <a href="#pt-descriptive-metadata" aria-controls="pt-descriptive-metadata" role="tab" data-toggle="tab">Descriptive Metadata</a>
      </li>

      <li role="presentation">
        <a href="#pt-bytestreams" aria-controls="pt-bytestreams" role="tab" data-toggle="tab">
          Bytestreams <span class="badge"><%= @item.bytestreams.length %></span></a>
      </li>

      <li role="presentation">
        <a href="#pt-viewer" aria-controls="pt-viewer" role="tab" data-toggle="tab">Viewer</a>
      </li>

      <li role="presentation">
        <a href="#pt-full-text" aria-controls="pt-full-text" role="tab" data-toggle="tab">Full Text</a>
      </li>

      <li role="presentation">
        <a href="#pt-schema-org" aria-controls="pt-schema-org" role="tab" data-toggle="tab">schema.org</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-9 col-lg-10">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="pt-structure">
        <%= admin_structure_of_item(@item) %>
      </div>

      <div role="tabpanel" class="tab-pane" id="pt-system-info">
        <%= admin_system_info_as_list(@item) %>
        <%= admin_system_info_as_table(@item) %>
      </div>

      <div role="tabpanel" class="tab-pane" id="pt-descriptive-metadata">
        <div class="alert alert-info">
          Collection metadata profile:
          <%= @item.collection.metadata_profile ?
                  link_to(@item.collection.metadata_profile&.name,
                          admin_metadata_profile_path(@item.collection.metadata_profile)) :
                  'None' %>
        </div>
        <%= admin_item_metadata_as_table(@item) %>
      </div>

      <div role="tabpanel" class="tab-pane" id="pt-bytestreams">
        <% if @item.bytestreams.any? %>
          <ul class="nav nav-tabs" role="tablist">
            <% @item.bytestreams.each_with_index do |bs, index| %>
              <li role="presentation" class="<%= index == 0 ? 'active' : '' %>">
                <a href="#pt-bs-<%= bs.bytestream_type %>" aria-controls="home"
                   role="tab" data-toggle="tab">
                  <%= bs.human_readable_type %>
                </a>
              </li>
            <% end %>
          </ul>

          <div class="tab-content">
            <% @item.bytestreams.each_with_index do |bs, index| %>
              <div role="tabpanel" class="tab-pane <%= index == 0 ? 'active' : '' %>"
                   id="pt-bs-<%= bs.bytestream_type %>">
                <%= bytestream_metadata_as_table(bs, admin: true) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="pt-viewer">
        <%= viewer_for(@item) %>
      </div>

      <div role="tabpanel" class="tab-pane" id="pt-full-text">
        <% if @item.full_text.present? %>
          <pre><%= @item.full_text %></pre>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="pt-schema-org">
        <div class="clearfix">
          <div class="pull-right">
            <a href="https://search.google.com/structured-data/testing-tool"
               class="btn btn-default" target="_blank">
              <i class="fa fa-google"></i> Test</a>
          </div>
        </div>
        <pre><%= schema_org_json_ld(@item, pretty_print: true) %></pre>
      </div>
    </div>
  </div>
</div>
