- provide :title, @item.title
- provide :body_id, 'admin_items_show'
- provide :active_nav, 'entities'

= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                   { label: 'Collections', url: admin_collections_path },
                   { label: @item.collection.title, url: admin_collection_path(@item.collection) },
                   { label: 'Items', url: admin_collection_items_path(@item.collection) },
                   *admin_item_structure_breadcrumb(@item))

= hidden_field_tag 'dl-collection-id', @item.collection_repository_id
= hidden_field_tag 'dl-item-id', @item.repository_id

= render partial: 'show_button_group'

- if @item.parent
  %h1.dl-compound-title
    %small= link_to @item.parent.title,
                    admin_collection_item_path(@item.parent.collection, @item.parent)
    = succeed "\u00A0\u00A0\u21B3" do
      %br/
    = @item.title
- else
  %h1
    = @item.title
    - if @item.subtitle
      %br/
      %small= @item.subtitle
.row
  .col-sm-3
    .dl-thumbnail
      = thumbnail_tag(@item)
    .dl-item-structure
      = admin_structure_of_item(@item)
  .col-sm-9
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.nav-item{role: 'presentation'}
        %a.nav-link.active{"aria-controls": "dl-technical-info",
                           "data-toggle": "tab",
                           href: "#dl-technical-info",
                           role: "tab",
                           "aria-selected": true} Technical Info
      %li.nav-item{role: 'presentation'}
        %a.nav-link{"aria-controls": "dl-representation",
                    "data-toggle": "tab",
                    href: "#dl-representation",
                    role: "tab"} Representation
      %li.nav-item{role: 'presentation'}
        %a.nav-link{"aria-controls": "dl-access",
                    "data-toggle": "tab",
                    href: "#dl-access",
                    role: "tab"} Access
      %li.nav-item{role: 'presentation'}
        %a.nav-link{"aria-controls": "dl-descriptive-metadata",
                    "data-toggle": "tab",
                    href: "#dl-descriptive-metadata",
                    role: "tab"} Descriptive Metadata
      %li.nav-item{role: 'presentation'}
        %a.nav-link{"aria-controls": "dl-binaries",
                    "data-toggle": "tab",
                    href: "#dl-binaries",
                    role: "tab"}
          Binaries
          - if @item.binaries.find{ |b| !b.medusa_file.exists? }
            %span.badge.badge-pill.badge-danger
              %i.fa.fa-exclamation-triangle
          - else
            %span.badge.badge-pill.badge-secondary
              = @item.binaries.length
      %li.nav-item{role: 'presentation'}
        %a.nav-link{"aria-controls": "dl-schema-org",
                    "data-toggle": "tab",
                    href: "#dl-schema-org",
                    role: "tab"} schema.org

    -# Display a warning if the item is not free-form and has a preservation
    -# master binary but no access master.
    - if !@item.collection.free_form? && |
        @item.binaries.find{ |b| b.master_type == Binary::MasterType::PRESERVATION } && |
        !@item.binaries.find{ |b| b.master_type == Binary::MasterType::ACCESS } |
      .alert.alert-danger
        %i.fas.fa-exclamation-triangle
        This item has no access master binary.
        Its Medusa package may be malformed.

    .tab-content
      #dl-technical-info.tab-pane.active{role: "tabpanel"}
        = render partial: "admin/items/show_info_tab"
      #dl-representation.tab-pane{role: "tabpanel"}
        = render partial: "admin/items/show_representation_tab"
      #dl-access.tab-pane{role: "tabpanel"}
        = render partial: "admin/items/show_access_tab"
      #dl-descriptive-metadata.tab-pane{role: "tabpanel"}
        = render partial: "admin/items/show_metadata_tab"
      #dl-binaries.tab-pane{role: "tabpanel"}
        = render partial: "admin/items/show_binaries_tab"
      #dl-schema-org.tab-pane{role: "tabpanel"}
        = render partial: "admin/items/show_schema_org_tab"

= render partial: 'edit_binary_access_modal'
= render partial: 'ocr_panel', locals: { show_checked_results_radios: false,
                                         target: admin_collection_item_run_ocr_path(@item.collection, @item) }
= render partial: 'shared/xhr_modal',
         locals: { id: "dl-edit-access-modal",
                   title: "Edit Access" }
= render partial: 'shared/xhr_modal',
         locals: { id: "dl-edit-info-modal",
                   title: "Edit Technical Info" }
= render partial: 'shared/xhr_modal',
         locals: { id: "dl-edit-metadata-modal",
                   title: "Edit Descriptive Metadata",
                   size: :xl }
= render partial: 'shared/xhr_modal',
         locals: { id: "dl-edit-representation-modal",
                   title: "Edit Representation" }