<% provide :title, @item.title %>
<% provide :body_id, 'admin_items_show' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Collections', url: admin_collections_path },
                     { label: @item.collection.title, url: admin_collection_path(@item.collection) },
                     *admin_item_structure_breadcrumb(@item)) %>

<div class="btn-group float-right">
  <!-- Edit button -->
  <%= link_to edit_admin_collection_item_path(@item.collection, @item),
              class: 'btn btn-light' do %>
    <i class="fas fa-pencil-alt"></i> Edit
  <% end %>
  <!-- Purge Cached Images button -->
  <%= link_to admin_collection_item_purge_cached_images_path(@item.collection, @item),
              class: 'btn btn-light', method: 'post' do %>
    <i class="fa fa-trash"></i> Purge Cached Images
  <% end %>
  <!-- Sets button -->
  <% if @item.collection.item_sets.count > 0 %>
    <div class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus"></i>
        Add To Set <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <% @item.collection.item_sets.joins(:users).
            where(users: { id: current_user.id }).each do |set| %>
          <%= link_to set.name,
                      admin_collection_items_add_items_to_item_set_path(@item.collection,
                                                                        'items[]': @item.repository_id,
                                                                        item_set: set.id),
                      method: :post,
                      class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- View button -->
  <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i>
      View <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to item_url(@item, format: :json),
                  target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-code"></i> JSON
      <% end %>
      <% if @item.bib_id %>
        <%= link_to @item.catalog_record_url,
                    target: '_blank', class: 'dropdown-item' do %>
          <i class="fa fa-book"></i> Library Catalog Record
        <% end %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to @item, target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-globe"></i> Public View
      <% end %>
    </div>
  </div>
</div>

<% if @item.parent %>
  <h1 class="dl-compound-title">
    <small><%= link_to @item.parent.title,
                       admin_collection_item_path(@item.parent.collection, @item.parent) %></small>
    <br>&nbsp;&nbsp;&#8627; <%= @item.title %>
  </h1>
<% else %>
  <h1><%= @item.title %>
    <% if @item.subtitle %>
      <br><small><%= @item.subtitle %></small>
    <% end %>
  </h1>
<% end %>

<div class="row">

  <div class="col-sm-2 dl-item-structure">
    <%= admin_structure_of_item(@item) %>
  </div>

  <div class="col-sm-2">
    <div class="dl-thumbnail">
      <%= thumbnail_tag(@item) %>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-item">
        <a href="#dl-system-info" class="nav-link active"
           aria-controls="dl-system-info" role="tab" data-toggle="tab">System Info</a>
      </li>
      <li class="nav-item">
        <a href="#dl-descriptive-metadata" class="nav-link"
           aria-controls="dl-descriptive-metadata" role="tab" data-toggle="tab">Descriptive Metadata</a>
      </li>
      <li class="nav-item">
        <a href="#dl-binaries" class="nav-link"
           aria-controls="dl-binaries" role="tab" data-toggle="tab">
          Binaries <span class="badge badge-pill badge-secondary">
          <%= @item.binaries.length %></span></a>
      </li>
      <li class="nav-item">
        <a href="#dl-schema-org" class="nav-link"
           aria-controls="dl-schema-org" role="tab" data-toggle="tab">schema.org</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-8">
    <% # Display a warning if the item is not free-form and has a preservation
       # master binary but no access master. %>
    <% if !@item.collection.free_form? and
        @item.binaries.select{ |b| b.master_type == Binary::MasterType::PRESERVATION }.first and
        !@item.binaries.select{ |b| b.master_type == Binary::MasterType::ACCESS }.first %>
      <div class="alert alert-danger">
        <i class="fas fa-exclamation-triangle"></i> This item has no access master binary.
        Its Medusa package may be malformed.
      </div>
    <% end %>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="dl-system-info">
        <%= admin_system_info_as_list(@item) %>
        <%= admin_system_info_as_table(@item) %>
      </div>

      <div role="tabpanel" class="tab-pane" id="dl-descriptive-metadata">
        <div class="alert alert-light">
          <i class="fa fa-info-circle"></i> Collection metadata profile:
          <%= @item.collection.metadata_profile ?
                  link_to(@item.collection.metadata_profile&.name,
                          admin_metadata_profile_path(@item.collection.metadata_profile)) :
                  'None' %>
        </div>
        <%= admin_item_metadata_as_table(@item) %>
      </div>

      <div role="tabpanel" class="tab-pane" id="dl-binaries">
        <% @item.binaries.each do |bin| %>
          <h2><%= bin.human_readable_master_type %></h2>
          <%= binary_metadata_as_table(bin, admin: true) %>
          <hr>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="dl-schema-org">
        <div class="clearfix">
          <div class="float-right">
            <a href="https://search.google.com/structured-data/testing-tool"
               class="btn btn-light" target="_blank">
              <i class="fab fa-google"></i> Test</a>
          </div>
        </div>
        <pre><%= schema_org_json_ld(@item, pretty_print: true) %></pre>
      </div>
    </div>
  </div>
</div>
