- provide :title, @item.title
- provide :body_id, 'admin_items_show'
- provide :active_nav, 'entities'

= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                   { label: 'Collections', url: admin_collections_path },
                   { label: @item.collection.title, url: admin_collection_path(@item.collection) },
                   *admin_item_structure_breadcrumb(@item))

= render partial: 'show_button_group'

- if @item.parent
  %h1.dl-compound-title
    %small= link_to @item.parent.title,
                    admin_collection_item_path(@item.parent.collection, @item.parent)
    = succeed "\u00A0\u00A0\u21B3" do
      %br/
    = @item.title
- else
  %h1
    = @item.title
    - if @item.subtitle
      %br/
      %small= @item.subtitle
.row
  .col-sm-3.dl-item-structure
    = admin_structure_of_item(@item)

    .dl-thumbnail
      = thumbnail_tag(@item)
  .col-sm-9
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.nav-item{role: 'presentation'}
        %a.nav-link.active{"aria-controls": "dl-system-info",
                           "data-toggle": "tab",
                           href: "#dl-system-info",
                           role: "tab",
                           "aria-selected": true} System Info
      %li.nav-item{role: 'presentation'}
        %a.nav-link{"aria-controls": "dl-descriptive-metadata",
                    "data-toggle": "tab",
                    href: "#dl-descriptive-metadata",
                    role: "tab"} Descriptive Metadata
      %li.nav-item{role: 'presentation'}
        %a.nav-link{"aria-controls": "dl-binaries",
                    "data-toggle": "tab",
                    href: "#dl-binaries",
                    role: "tab"}
          Binaries
          - if @item.binaries.find{ |b| !b.medusa_file.exists? }
            %span.badge.badge-pill.badge-danger
              %i.fa.fa-exclamation-triangle
          - else
            %span.badge.badge-pill.badge-secondary
              = @item.binaries.length
      %li.nav-item{role: 'presentation'}
        %a.nav-link{"aria-controls": "dl-schema-org",
                    "data-toggle": "tab",
                    href: "#dl-schema-org",
                    role: "tab"} schema.org

    -# Display a warning if the item is not free-form and has a preservation
    -# master binary but no access master.
    - if !@item.collection.free_form? && |
        @item.binaries.find{ |b| b.master_type == Binary::MasterType::PRESERVATION } && |
        !@item.binaries.find{ |b| b.master_type == Binary::MasterType::ACCESS } |
      .alert.alert-danger
        %i.fas.fa-exclamation-triangle
        This item has no access master binary.
        Its Medusa package may be malformed.
    .tab-content
      #dl-system-info.tab-pane.active{role: "tabpanel"}
        = admin_system_info_as_list(@item)
        = admin_system_info_as_table(@item)
      #dl-descriptive-metadata.tab-pane{role: "tabpanel"}
        .alert.alert-light
          %i.fa.fa-info-circle
          Collection metadata profile:
          \#{@item.collection.metadata_profile ? link_to(@item.collection.metadata_profile&.name, admin_metadata_profile_path(@item.collection.metadata_profile)) : 'None'}
        = admin_item_metadata_as_table(@item)
      #dl-binaries.tab-pane{role: "tabpanel"}
        .btn-group.mb-3.float-right{role: 'group'}
          -# Child Items button
          - if @item.items.count > 0
            .dropdown
              %button.btn.btn-light.dropdown-toggle{type: 'button',
                                             id: 'dl-child-items-button',
                                             'data-toggle': 'dropdown',
                                             'aria-haspopup': 'true',
                                             'aria-expanded': 'false'}
                %i.fa.fa-sitemap
                Child Items
              .dropdown-menu{'aria-labelledby': 'dl-child-items-button'}
                = link_to('Publicize All Binaries',
                          admin_collection_item_publicize_child_binaries_path(@item.collection, @item),
                          class: 'dropdown-item',
                          method: :post)
                = link_to('Unpublicize All Binaries',
                          admin_collection_item_unpublicize_child_binaries_path(@item.collection, @item),
                          class: 'dropdown-item',
                          method: :post)

        .clearfix
        - @item.binaries.each do |bin|
          - exists = bin.medusa_file.exists?
          %div{class: "card #{exists ? "" : "text-white bg-danger"}"}
            .card-body
              - if exists
                .btn-group.float-right{role: 'group'}
                  = link_to(bin, class: 'btn btn-sm btn-light') do
                    %i.fa.fa-download
                    Download
                  - if bin.master_type == Binary::MasterType::ACCESS
                    = link_to admin_collection_item_purge_cached_images_path(@item.collection, @item),
                              class: 'btn btn-sm  btn-light',
                              method: 'post' do
                      %i.fa.fa-trash
                      Purge Cached Images
                  = link_to(bin.medusa_url, class: 'btn btn-sm btn-light', target: '_blank') do
                    %i.fa.fa-database
                    View in Medusa
              %h3
                - unless exists
                  %i.fa.fa-exclamation-triangle
                = bin.human_readable_master_type
              - if exists
                = render partial: 'admin/items/show_binary', locals: { binary: bin }
              - else
                .card-text This binary has gone missing from the Medusa Collection Registry since it was imported. |
                  Run a "recreate binaries" import of this collection to remedy this. |
      #dl-schema-org.tab-pane{role: "tabpanel"}
        .clearfix
          .float-right
            %a.btn.btn-light{href: "https://search.google.com/structured-data/testing-tool",
                             target: "_blank"}
              %i.fab.fa-google
              Test
        %pre= schema_org_json_ld(@item, pretty_print: true)

= render partial: 'edit_binary_access_modal'