<%
  # @param metadata_profile [MetadataProfile]
  # @param context [Symbol] :new or :edit
%>

<%= form_for([:admin, metadata_profile], remote: true) do |f| %>
  <div class="pt-error-messages">
    <% # populated via ajax by shared/_validation_messages.js.erb
    %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <% if context == :edit %>
    <div class="form-group">
      <%= f.label :default_sortable_element_id, 'Default Sort' %>
      <%= select(:metadata_profile, :default_sortable_element_id,
                 @element_options_for_select,
                 { selected: metadata_profile.default_sortable_element ?
                     metadata_profile.default_sortable_element.id : nil },
                 class: 'form-control') %>
    </div>
  <% end %>

  <div class="clearfix">
    <div class="pull-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit(context == :new ? 'Create Profile' : 'Edit Profile',
                   class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
