<% provide :title, 'Metadata Profiles' %>
<% provide :body_id, 'metadata_profiles' %>
<% provide :active_nav, 'metadata' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Metadata Profiles' }) %>

<div class="btn-group float-right">
  <button type="button" class="btn btn-light" data-toggle="modal"
          data-target="#dl-add-profile-modal">
    <span class="fa fa-plus"></span> Add Profile
  </button>
  <!-- Import button -->
  <button type="button" class="btn btn-light" data-toggle="modal"
          data-target="#dl-import-modal">
    <i class="fa fa-upload"></i> Import&hellip;
  </button>
</div>

<h1>Metadata Profiles</h1>

<div class="alert alert-info">
  <i class="fas fa-info-circle"></i>
  The default profile is used in cross-collection contexts.
</div>

<table class="table table-striped dl-predicates">
  <thead>
    <th style="min-width:5em"></th>
    <th>Name</th>
    <th>Collections</th>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td class="text-center">
          <% if profile.default %>
            <span class="badge badge-success">Default</span>
          <% else %>
            <%= link_to 'Set As Default',
                        admin_metadata_profile_path(profile, metadata_profile: { default: true }),
                        class: 'btn btn-light btn-sm', method: :patch %>
          <% end %>
        </td>
        <td><%= link_to profile.name, admin_metadata_profile_path(profile) %></td>
        <td><%= profile.collections.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'admin/metadata_profiles/add_profile_modal' %>
<%= render partial: 'admin/metadata_profiles/import_profile_modal' %>
