<% provide :title, @profile.name %>
<% provide :body_id, 'metadata_profiles_show' %>
<% provide :active_nav, 'metadata' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Metadata Profiles', admin_metadata_profiles_path %></li>
  <li class="active"><%= @profile.name %></li>
</ol>

<div class="btn-group pull-right" role="group">
  <!-- Edit button -->
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#pt-edit-profile-modal">
    <i class="fa fa-pencil"></i> Edit
  </button>
  <!-- Clone button -->
  <%= link_to admin_metadata_profile_clone_path(@profile), method: :patch,
              class: 'btn btn-default' do %>
    <i class="fa fa-copy"></i> Clone
  <% end %>
  <!-- Export menu -->
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-download"></i> Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'JSON', params.merge(format: 'json') %></li>
    </ul>
  </div>
  <!-- Delete button -->
  <%= link_to admin_metadata_profile_path(@profile), method: :delete,
              class: 'btn btn-danger',
              data: { confirm: 'Are you sure you want to delete this '\
                      'profile?' } do %>
    <i class="fa fa-trash"></i> Delete
  <% end %>
</div>

<h1><%= @profile.name %></h1>

<div class="btn-group pull-right">
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#pt-add-element-modal">
    <i class="fa fa-plus"></i> Add Element
  </button>
</div>

<h2>Elements</h2>

<% if @profile.element_defs.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Element</th>
        <th>Vocabularies</th>
        <th>Mappings</th>
        <th class="text-center">Visible</th>
        <th class="text-center">Searchable</th>
        <th class="text-center">Sortable</th>
        <th class="text-center">Facetable</th>
      </tr>
    </thead>
    <tbody>
      <% @profile.element_defs.order(:index).each do |element| %>
        <tr>
          <td><%= element.index + 1 %></td>
          <td>
            <button type="button" class="btn btn-default btn-xs pt-edit-element"
                    data-toggle="modal" data-target="#pt-edit-element-modal"
                    data-element-id="<%= element.id %>">
              Edit
            </button>
            <br>
            <%= link_to 'Delete', admin_element_def_path(element),
                        class: 'btn btn-danger btn-xs', method: :delete,
                        data: { confirm: 'Are you sure you want to delete '\
                        'this element?' } %>
          </td>
          <td>
            <%= element.label %>
            <br>
            <var><%= element.name %></var>
          </td>
          <td>
            <% if element.vocabularies.any? %>
              <ul>
                <% element.vocabularies.each do |vocab| %>
                  <li><%= vocab.name %></li>
                <% end %>
              </ul>
            <% else %>
              &ndash;
            <% end %>
          </td>
          <td>
            <table>
              <tr>
                <th class="text-right">dc</th>
                <td><%= DublinCoreElement.label_for(element.dc_map) %></td>
              </tr>
              <tr>
                <th>dcterms</th>
                <td><%= DublinCoreTerm.label_for(element.dcterms_map) %></td>
              </tr>
            </table>
          </td>
          <td class="text-center <%= element.visible ? 'bg-success' : 'bg-danger' %>">
            <%= boolean(element.visible) %>
          </td>
          <td class="text-center <%= element.searchable ? 'bg-success' : 'bg-danger' %>">
            <%= boolean(element.searchable) %>
          </td>
          <td class="text-center <%= element.sortable ? 'bg-success' : 'bg-danger' %>">
            <% if element == @profile.default_sortable_element_def %>
              <span class="text-success">DEFAULT</span>
            <% else %>
              <%= boolean(element.sortable) %>
            <% end %>
          </td>
          <td class="text-center <%= element.facetable ? 'bg-success' : 'bg-danger' %>">
            <%= boolean(element.facetable) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p>This profile has no element definitions.</p>

<% end %>

<div class="modal fade" id="pt-add-element-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-add-element-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-add-element-modal-label">Add Element</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'admin/element_defs/form',
                   locals: { element_def: @new_element,
                             name_options_for_select: @name_options_for_select,
                             metadata_profile: @profile,
                             context: :new } %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pt-edit-profile-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-edit-profile-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-edit-profile-modal-label">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: { metadata_profile: @profile,
                                              context: :edit } %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pt-edit-element-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-edit-element-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-edit-element-modal-label">Edit Element</h4>
      </div>
      <div class="modal-body">
        <% # will be populated via XHR %>
      </div>
    </div>
  </div>
</div>
