<% provide :title, @profile.name %>
<% provide :body_id, 'metadata_profiles_show' %>
<% provide :active_nav, 'metadata' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Metadata Profiles', url: admin_metadata_profiles_path },
                     { label: @profile.name }) %>

<div class="btn-group float-right" role="group">
  <!-- Edit button -->
  <button type="button" class="btn btn-light" data-toggle="modal"
          data-target="#dl-edit-profile-modal">
    <i class="fas fa-pencil-alt"></i> Edit
  </button>
  <!-- Clone button -->
  <%= link_to admin_metadata_profile_clone_path(@profile), method: :patch,
              class: 'btn btn-light' do %>
    <i class="fa fa-copy"></i> Clone
  <% end %>
  <!-- Export button -->
  <%= link_to @permitted_params.merge(format: 'json'), class: 'btn btn-light' do %>
    <i class="fa fa-download"></i> Export
  <% end %>
  <!-- Delete button -->
  <%= link_to admin_metadata_profile_path(@profile), method: :delete,
              class: 'btn btn-danger',
              disabled: @profile.collections.count > 0,
              data: { confirm: 'Are you sure you want to delete this '\
                      'profile?' } do %>
    <i class="fa fa-trash"></i> Delete
  <% end %>
</div>

<h1><%= @profile.name %></h1>

<div class="row">
  <div class="col-xl-2">
    <h2>Collections <small><span class="badge badge-pill badge-secondary">
      <%= @profile.collections.count %></span></small></h2>

    <div class="btn-group float-right">
      <%= link_to admin_metadata_profile_reindex_items_path(@profile), method: :post,
                  class: 'btn btn-light' do %>
        <i class="fas fa-sync-alt"></i> Reindex Items
      <% end %>
    </div>

    <% if @profile.collections.any? %>
      <ul>
        <% @profile.collections.sort{ |c, d| c.title <=> d.title }.each do |col| %>
          <li><%= link_to(col.title, admin_collection_path(col)) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>None</p>
    <% end %>
  </div>
  <div class="col-xl-10">
    <%= form_tag(admin_metadata_profile_delete_elements_path(@profile), method: :post) do %>
      <div class="btn-group float-right" role="group">
        <button type="button" class="btn btn-light" data-toggle="modal"
                data-target="#dl-add-element-modal">
          <i class="fa fa-plus"></i> Add Element
        </button>
        <button type="button" id="dl-delete-checked" class="btn btn-danger">
          <i class="fa fa-trash"></i> Delete Checked
        </button>
      </div>

      <h2>Elements <small><span class="badge badge-pill badge-secondary">
        <%= @profile.elements.count %></span></small></h2>

      <% if @profile.elements.any? %>
        <table class="table table-sm">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Element</th>
              <th>Vocabularies</th>
              <th>Mappings</th>
              <th>Data Type</th>
              <th class="text-center">Visible</th>
              <th class="text-center">Indexed</th>
              <th class="text-center">Searchable</th>
              <th class="text-center">Sortable</th>
              <th class="text-center">Facetable</th>
            </tr>
          </thead>
          <tbody>
            <% @profile.elements.order(:index).each do |element| %>
              <tr>
                <td>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag('elements[]', element.id) %>
                      <%= element.index + 1 %>
                    </label>
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-light btn-sm dl-edit-element"
                          data-toggle="modal" data-target="#dl-edit-element-modal"
                          data-element-id="<%= element.id %>">Edit</button>
                </td>
                <td>
                  <%= element.label %>
                  <br>
                  <var><%= element.name %></var>
                </td>
                <td>
                  <% if element.vocabularies.any? %>
                    <ul>
                      <% element.vocabularies.each do |vocab| %>
                        <li><%= vocab.name %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    &ndash;
                  <% end %>
                </td>
                <td>
                  <table>
                    <tr>
                      <th class="text-right">dc</th>
                      <td><%= DublinCoreElement.label_for(element.dc_map) %></td>
                    </tr>
                    <tr>
                      <th>dcterms</th>
                      <td><%= DublinCoreTerm.label_for(element.dcterms_map) %></td>
                    </tr>
                  </table>
                </td>
                <td>
                  <%= element.human_readable_data_type %>
                </td>
                <td class="text-center <%= element.visible ? 'bg-success' : 'bg-danger' %>">
                  <%= boolean(element.visible) %>
                </td>
                <td class="text-center <%= element.indexed ? 'bg-success' : 'bg-danger' %>">
                  <%= boolean(element.indexed) %>
                </td>
                <td class="text-center <%= element.searchable ? 'bg-success' : 'bg-danger' %>">
                  <%= boolean(element.searchable) %>
                </td>
                <td class="text-center <%= element.sortable ? 'bg-success' : 'bg-danger' %>">
                  <% if element == @profile.default_sortable_element %>
                    <span class="text-success">DEFAULT</span>
                  <% else %>
                    <%= boolean(element.sortable) %>
                  <% end %>
                </td>
                <td class="text-center <%= element.facetable ? 'bg-success' : 'bg-danger' %>">
                  <%= boolean(element.facetable) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>This profile has no elements.</p>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: 'add_element_modal' %>
<%= render partial: 'edit_profile_modal' %>
<%= render partial: 'edit_element_modal' %>
