<% provide :title, @profile.name %>
<% provide :body_id, 'metadata_profiles_show' %>
<% provide :active_nav, 'metadata' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Metadata Profiles', admin_metadata_profiles_path %></li>
  <li class="active"><%= @profile.name %></li>
</ol>

<div class="btn-group pull-right" role="group">
  <!-- Edit button -->
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#pt-edit-profile-modal">
    <i class="fa fa-pencil"></i> Edit
  </button>
  <!-- Clone button -->
  <%= link_to admin_metadata_profile_clone_path(@profile), method: :patch,
              class: 'btn btn-default' do %>
    <i class="fa fa-copy"></i> Clone
  <% end %>
  <!-- Export button -->
  <%= link_to @permitted_params.merge(format: 'json'), class: 'btn btn-default' do %>
    <i class="fa fa-download"></i> Export
  <% end %>
  <!-- Delete button -->
  <%= link_to admin_metadata_profile_path(@profile), method: :delete,
              class: 'btn btn-danger',
              disabled: @profile.collections.count > 0,
              data: { confirm: 'Are you sure you want to delete this '\
                      'profile?' } do %>
    <i class="fa fa-trash"></i> Delete Profile
  <% end %>
</div>

<h1><%= @profile.name %></h1>

<div class="row">
  <div class="col-lg-4">
    <div class="btn-group pull-right">
      <%= link_to admin_metadata_profile_reindex_items_path(@profile), method: :post,
                  class: 'btn btn-default' do %>
        <i class="fa fa-refresh"></i> Reindex Items
      <% end %>
    </div>

    <h2>Collections <span class="badge"><%= @profile.collections.count %></span></h2>

    <% if @profile.collections.any? %>
      <ul>
        <% @profile.collections.sort{ |c, d| c.title <=> d.title }.each do |col| %>
          <li><%= link_to(col.title, admin_collection_path(col)) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>None</p>
    <% end %>
  </div>
  <div class="col-lg-8">
    <%= form_tag(admin_metadata_profile_delete_elements_path(@profile), method: :post) do %>
      <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal"
                data-target="#pt-add-element-modal">
          <i class="fa fa-plus"></i> Add Element
        </button>
        <button type="button" id="pt-delete-checked" class="btn btn-danger">
          <i class="fa fa-trash"></i> Delete Checked
        </button>
      </div>

      <h2>Elements <span class="badge"><%= @profile.elements.count %></span></h2>

      <% if @profile.elements.any? %>
        <div class="alert alert-info">Note: after changing the "searchable" status
          of an element, you must reindex all items in every collection associated
          with this profile using the "Reindex Items" button above.</div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Element</th>
              <th>Vocabularies</th>
              <th>Mappings</th>
              <th class="text-center">Visible</th>
              <th class="text-center">Searchable</th>
              <th class="text-center">Sortable</th>
              <th class="text-center">Facetable</th>
            </tr>
          </thead>
          <tbody>
            <% @profile.elements.order(:index).each do |element| %>
              <tr>
                <td>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag('elements[]', element.id) %>
                      <%= element.index + 1 %>
                    </label>
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-xs pt-edit-element"
                          data-toggle="modal" data-target="#pt-edit-element-modal"
                          data-element-id="<%= element.id %>">Edit</button>
                </td>
                <td>
                  <%= element.label %>
                  <br>
                  <var><%= element.name %></var>
                </td>
                <td>
                  <% if element.vocabularies.any? %>
                    <ul>
                      <% element.vocabularies.each do |vocab| %>
                        <li><%= vocab.name %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    &ndash;
                  <% end %>
                </td>
                <td>
                  <table>
                    <tr>
                      <th class="text-right">dc</th>
                      <td><%= DublinCoreElement.label_for(element.dc_map) %></td>
                    </tr>
                    <tr>
                      <th>dcterms</th>
                      <td><%= DublinCoreTerm.label_for(element.dcterms_map) %></td>
                    </tr>
                  </table>
                </td>
                <td class="text-center <%= element.visible ? 'bg-success' : 'bg-danger' %>">
                  <%= boolean(element.visible) %>
                </td>
                <td class="text-center <%= element.searchable ? 'bg-success' : 'bg-danger' %>">
                  <%= boolean(element.searchable) %>
                </td>
                <td class="text-center <%= element.sortable ? 'bg-success' : 'bg-danger' %>">
                  <% if element == @profile.default_sortable_element %>
                    <span class="text-success">DEFAULT</span>
                  <% else %>
                    <%= boolean(element.sortable) %>
                  <% end %>
                </td>
                <td class="text-center <%= element.facetable ? 'bg-success' : 'bg-danger' %>">
                  <%= boolean(element.facetable) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>This profile has no elements.</p>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: 'add_element_panel' %>
<%= render partial: 'edit_profile_panel' %>
<%= render partial: 'edit_element_panel' %>
