<% provide :title, @profile.name %>
<% provide :body_id, 'metadata_profiles_show' %>
<% provide :active_nav, 'metadata' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Metadata Profiles', admin_metadata_profiles_path %></li>
  <li class="active"><%= @profile.name %></li>
</ol>

<div class="btn-group pull-right" role="group">
  <!-- Edit button -->
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#pt-edit-profile-modal">
    <i class="fa fa-pencil"></i> Edit
  </button>
  <!-- Clone button -->
  <%= link_to admin_metadata_profile_clone_path(@profile), method: :patch,
              class: 'btn btn-default' do %>
    <i class="fa fa-copy"></i> Clone
  <% end %>
  <!-- Export button -->
  <%= link_to params.merge(format: 'json'), class: 'btn btn-default' do %>
      <i class="fa fa-download"></i> Export
  <% end %>
  <!-- Delete button -->
  <%= link_to admin_metadata_profile_path(@profile), method: :delete,
              class: 'btn btn-danger',
              data: { confirm: 'Are you sure you want to delete this '\
                      'profile?' } do %>
    <i class="fa fa-trash"></i> Delete Profile
  <% end %>
</div>

<h1><%= @profile.name %></h1>

<%= form_tag(admin_metadata_profile_delete_elements_path(@profile), method: :post) do %>

  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#pt-add-element-modal">
      <i class="fa fa-plus"></i> Add Element
    </button>
    <button type="button" id="pt-delete-checked" class="btn btn-danger">
      <i class="fa fa-trash"></i> Delete Checked
    </button>
  </div>

  <h2>Elements</h2>

  <% if @profile.elements.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Element</th>
          <th>Vocabularies</th>
          <th>Mappings</th>
          <th class="text-center">Visible</th>
          <th class="text-center">Searchable</th>
          <th class="text-center">Sortable</th>
          <th class="text-center">Facetable</th>
        </tr>
      </thead>
      <tbody>
        <% @profile.elements.order(:index).each do |element| %>
          <tr>
            <td>
              <div class="checkbox">
                <label>
                  <%= check_box_tag('elements[]', element.id) %>
                  <%= element.index + 1 %>
                </label>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-default btn-xs pt-edit-element"
                      data-toggle="modal" data-target="#pt-edit-element-modal"
                      data-element-id="<%= element.id %>">Edit</button>
            </td>
            <td>
              <%= element.label %>
              <br>
              <var><%= element.name %></var>
            </td>
            <td>
              <% if element.vocabularies.any? %>
                <ul>
                  <% element.vocabularies.each do |vocab| %>
                    <li><%= vocab.name %></li>
                  <% end %>
                </ul>
              <% else %>
                &ndash;
              <% end %>
            </td>
            <td>
              <table>
                <tr>
                  <th class="text-right">dc</th>
                  <td><%= DublinCoreElement.label_for(element.dc_map) %></td>
                </tr>
                <tr>
                  <th>dcterms</th>
                  <td><%= DublinCoreTerm.label_for(element.dcterms_map) %></td>
                </tr>
              </table>
            </td>
            <td class="text-center <%= element.visible ? 'bg-success' : 'bg-danger' %>">
              <%= boolean(element.visible) %>
            </td>
            <td class="text-center <%= element.searchable ? 'bg-success' : 'bg-danger' %>">
              <%= boolean(element.searchable) %>
            </td>
            <td class="text-center <%= element.sortable ? 'bg-success' : 'bg-danger' %>">
              <% if element == @profile.default_sortable_element %>
                <span class="text-success">DEFAULT</span>
              <% else %>
                <%= boolean(element.sortable) %>
              <% end %>
            </td>
            <td class="text-center <%= element.facetable ? 'bg-success' : 'bg-danger' %>">
              <%= boolean(element.facetable) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>This profile has no elements.</p>
  <% end %>

<% end %>

<hr>

<h2>Collections</h2>

<% if @profile.collections.any? %>
  <ol>
    <% @profile.collections.sort{ |c, d| c.title <=> d.title }.each do |col| %>
      <li><%= link_to(col.title, admin_collection_path(col)) %></li>
    <% end %>
  </ol>
<% else %>
  <p>None</p>
<% end %>

<div class="modal fade" id="pt-add-element-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-add-element-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-add-element-modal-label">Add Element</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'admin/metadata_profile_elements/form',
                   locals: { element: @new_element,
                             name_options_for_select: @name_options_for_select,
                             dublin_core_elements: @dublin_core_elements,
                             dublin_core_terms: @dublin_core_terms,
                             metadata_profile: @profile,
                             context: :new } %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pt-edit-profile-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-edit-profile-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-edit-profile-modal-label">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: { metadata_profile: @profile,
                                              context: :edit } %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pt-edit-element-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-edit-element-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="pt-edit-element-modal-label">Edit Element</h4>
      </div>
      <div class="modal-body">
        <% # will be populated via XHR %>
      </div>
    </div>
  </div>
</div>
