<%
  # Requires the following locals:
  #
  # element [MetadataProfileElement]
  # metadata_profile [MetadataProfile]
  # context [Symbol] :new or :edit
%>

<%
dublin_core_elements = DublinCoreElement.all.
    sort{ |e, f| e.label <=> f.label }.
    map { |p| [ p.label, p.name ] }
dublin_core_terms = DublinCoreTerm.all.
    sort{ |e, f| e.label <=> f.label }.
    map { |p| [ p.label, p.name ] }

data_type_options_for_select = MetadataProfileElement::DataType.constants.
    map{ |c| [ c.to_s.humanize, MetadataProfileElement::DataType.const_get(c) ] }

name_options_for_select = ItemElement.all_available.
    sort{ |e, f| e.name <=> f.name }.
    map{ |t| [ t.name, t.name ] }

position_options_for_select = [['Nothing (First)', 0]]
metadata_profile.elements.where('id != ?', element.id).order(:index).each_with_index do |e, i|
  position_options_for_select << [e.label, i + 1]
end

vocabularies = Vocabulary.order(:name)
%>

<%= form_for([:admin, element], remote: true) do |f| %>
  <div class="pt-error-messages">
    <% # populated via ajax by shared/_validation_messages.js.erb
    %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.select(:name, name_options_for_select,
                 { selected: element.name },
                 class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :label %>
    <%= f.text_field :label, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :index, 'Position After' %>
    <%= f.select :index, position_options_for_select,
                 { selected: element.index },
                 class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :vocabularies, 'Vocabularies' %>

    <%= hidden_field_tag('metadata_profile_element[vocabulary_ids][]', nil) %>

    <% vocabularies.each do |vocab| %>
      <div class="checkbox">
        <%= label_tag do %>
          <%= check_box_tag :vocabulary_ids, vocab.id,
                            element.vocabulary_ids.include?(vocab.id),
                            name: 'metadata_profile_element[vocabulary_ids][]' %>
          <%= vocab.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :dc_map, 'Dublin Core Mapping' %>
    <%= select('metadata_profile_element', 'dc_map',
               dublin_core_elements,
               { include_blank: true, selected: f.object.dc_map },
               { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label :dcterms_map, 'Dublin Core Terms Mapping' %>
    <%= select('metadata_profile_element', 'dcterms_map',
               dublin_core_terms,
               { include_blank: true, selected: f.object.dcterms_map },
               { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label :data_type %>
    <%= f.select(:data_type, data_type_options_for_select,
                 { selected: element.data_type },
                 class: 'form-control') %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :visible %>
      Visible
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :searchable %>
      Searchable
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :sortable %>
      Sortable
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :facetable %>
      Facetable
    </label>
  </div>

  <%= f.hidden_field :metadata_profile_id, value: metadata_profile.id %>

  <div class="clearfix">
    <div class="pull-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit(context == :new ? 'Create Element' : 'Edit Element',
                   class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
