<% if @count > 0 %>
  <div class="text-center">
    <%= paginate_items(@count, @limit, @current_page) %>
  </div>

  <div class="hidden-xs visible-sm visible-md visible-lg">
    <%= entities_as_list(@entities, @start,
                         show_collections: false,
                         show_add_to_favorites_buttons: true,
                         show_remove_from_favorites_buttons: true) %>
  </div>
  <div class="pt-cards visible-xs hidden-sm">
    <%= entities_as_cards(@entities,
                          show_add_to_favorites_buttons: true,
                          show_remove_from_favorites_buttons: true) %>
  </div>

  <div class="text-center">
    <%= paginate_items(@count, @limit, @current_page) %>
  </div>
<% else %>
  <div class="pt-no-results">
    <%= no_results_help(params[:q], @suggestions) %>
  </div>
<% end %>
