- provide :body_id, "search"
- provide :title, "Results"

= form_tag(special_collections_search_path, method: :get) do
	.card.mb-3
		.card-body
			%ul#search-tabs.nav.nav-pills.mb-0{role: "tablist"}
				%li.nav-item{role: "presentation"}
					%button#all-items-tab.nav-link.active{"data-bs-toggle": "pill", role: "tab", type: "button", "aria-selected": "true"} All Items
				%li.nav-item{role: "presentation"}
					%button#simple-search-tab.nav-link{"data-bs-toggle": "pill", "data-bs-target": "#simple-search", role: "tab", type: "button", "aria-controls": "simple-search", "aria-selected": "false"} Simple Search
				%li.nav-item{role: "presentation"}
					%button#advanced-search-tab.nav-link{"data-bs-toggle": "pill", "data-bs-target": "#advanced-search", role: "tab", type: "button", "aria-controls": "advanced-search", "aria-selected": "false"} Advanced Search
			.tab-content
				#simple-search.tab-pane.fade.mt-3{role: "tabpanel", "aria-labelledby": "simple-search-tab"}
					.input-group.filter-field
						= text_field_tag(:query, params[:query], placeholder: "Enter search terms...", class: "form-control")
						= submit_tag("Search", class: "btn btn-outline-primary")
				#advanced-search.tab-pane.fade.mt-3{role: "tabpanel", "aria-labelledby": "advanced-search-tab"}
					%p.text-muted Advanced search form coming soon.
					.row
						.col-sm-3
						.col-sm-9
							= submit_tag("Search", class: "btn btn-outline-primary")

.row
	.facets.col-sm-4.col-lg-3.col-xl-2
		= facets_as_cards(@facets, @permitted_params)

	.col-sm-8.col-lg-9.col.xl-10
		.row.justify-content-between
			.col-8
			.col-4
				.input-group.mb-3
					%p.text-muted Sorting options coming soon.

		#listing
			= render partial: "items/listing"
- provide :body_id, "search"
- provide :title, "Results"

