<% provide(:body_id, 'search_index') %>
<% provide(:title, 'Search') %>

<%= form_tag(@permitted_params, method: :get, class: 'pt-filter') do %>
  <div class="row">
    <div class="hidden-xs col-sm-3 col-lg-2 pt-facets pt-panel-facets">
      <%= facets_as_panels(@facets, ItemsController::PERMITTED_PARAMS) %>
    </div>

    <div class="col-sm-9 col-lg-10">
      <div class="row">
        <div class="col-xs-6">
          <% @permitted_params.each do |k, v| %>
            <%= hidden_field_tag(k, v) %>
          <% end %>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <%= search_field_tag :q, params[:q], class: 'form-control',
                                 placeholder: 'Filter' %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="btn-group pull-right" style="margin-left: 1em">
            <!-- View menu -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-eye"></i> View <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <%= link_to @permitted_params.merge(format: :atom), id: 'pt-view-as-atom' do %>
                    <i class="fa fa-rss"></i>&nbsp;&nbsp;Atom
                  <% end %>
                </li>
                <li>
                  <%= link_to @permitted_params.merge(format: :json), id: 'pt-view-as-json' do %>
                    <i class="fa fa-rss"></i>&nbsp;&nbsp;JSON
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default pt-results-summary">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-8" id="pt-search-status">
              <%= search_status(@count, @start, @num_results_shown) %>
            </div>
            <div class="col-sm-4 pull-right">
              <%= sort_menu(@metadata_profile) %>
            </div>
          </div>
        </div>
      </div>

      <div id="pt-items" class="pt-results pt-list-results">
        <%= render partial: 'entities' %>
      </div>

    </div>
  </div>
<% end %>
