<div class="container-fluid">
  <%= image_tag('beta.png', class: 'uiuc-beta-badge', alt: 'Beta') %>
  <header>
    <div class="row lib-shared-header">
      <div class="col-xs-12">
        <h1 class="sr-only">University Library, University of Illinois at Urbana-Champaign</h1>
        <div class="table-row">
          <div class="table-cell">
            <a href="http://illinois.edu">
              <%= image_tag('library_wordmark_horizontal_1.png',
                            class: 'col-xs-12 banner-image-imark',
                            alt: 'University of Illinois I-Mark') %>
            </a>
          </div>
          <div class="table-cell">
            <a href="http://www.library.illinois.edu">
              <%= image_tag('library_wordmark_horizontal_2.png',
                            class: 'col-xs-12 banner-image-university',
                            alt: 'University') %>
            </a>
          </div>
          <div class="table-cell">
            <a href="http://www.library.illinois.edu">
              <%= image_tag('library_wordmark_horizontal_3.png',
                            class: 'col-xs-12 banner-image-library',
                            alt: 'Library') %>
            </a>
          </div>
          <div class="table-cell">
            <a href="http://www.library.illinois.edu">
              <%= image_tag('library_wordmark_horizontal_4.png',
                            class: 'col-xs-12 banner-image-uiuc banner-mobile-img',
                            alt: 'University of Illinois at Urbana-Champaign') %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="uiuc-plain-banner">
  <%= link_to 'Digital Collections', root_path %>
</div>

<% if controller_name == 'landing' %>
  <div id="uiuc-landing-banner" class="uiuc-image-banner hidden-xs">
  </div>
<% elsif controller_name == 'collections' and action_name == 'index' %>
  <div id="uiuc-collections-banner" class="uiuc-image-banner hidden-xs">
  </div>
<% end %>
