<% provide :body_id, 'landing' %>
<% provide :title, 'Home' %>

<div class="row">
  <div class="col-sm-7">
    <h1><%= Option.string(Option::Key::WEBSITE_NAME) %></h1>

    <div id="pt-description">
      <%= sanitize(Option.string(Option::Key::WEBSITE_INTRO_TEXT).gsub("\n", '<br>'),
                   tags: %w(p br), attributes: %w()) %>
    </div>
  </div>

  <div class="col-sm-5">
    <% if @random_item %>
      <div class="pt-main-image">
        <%= link_to @random_item do %>
          <%= thumbnail_tag(@random_item, 512) %>
        <% end %>
        <%= link_to @random_item, class: 'pt-title' do %>
          <%= @random_item.title %>
        <% end %>
        <br>
        <%= link_to collection_path(@random_item.collection),
                    class: 'pt-collection-title' do %>
          <%= icon_for(@random_item.collection) %>
          <%= @random_item.collection.title %>
        <% end %>
      </div>
    <% end %>

    <hr>

    <h2>Statistics</h2>
    <table class="table table-condensed">
      <tr>
        <td>Top-Level Items</td>
        <td><%= number_with_delimiter(@num_top_level_items) %></td>
      </tr>
      <tr>
        <td>Items Including Children</td>
        <td><%= number_with_delimiter(@num_all_items) %></td>
      </tr>
      <tr>
        <td>Images</td>
        <td><%= number_with_delimiter(@num_image_items) %></td>
      </tr>
      <tr>
        <td>Videos</td>
        <td><%= number_with_delimiter(@num_video_items) %></td>
      </tr>
      <tr>
        <td>Sound Recordings</td>
        <td><%= number_with_delimiter(@num_audio_items) %></td>
      </tr>
      <tr>
        <td>Documents</td>
        <td><%= number_with_delimiter(@num_document_items) %></td>
      </tr>
    </table>
  </div>
</div>
