<% provide :body_id, 'landing' %>
<% provide :title, 'Home' %>

<div class="row">
  <div class="col-sm-7">

    <div class="alert alert-info">
      <p>This site is a beta version of a new digital content management and access
        system for the library's digital image collections. It is presently under
        construction, and will feature many improvements in the coming weeks. Your
        feedback is welcomed, and will be taken into account by our development
        team. Please browse our collections, and tell us about your experience
        <a href="https://illinois.edu/sb/sec/8976147">here</a>.</p>
    </div>

    <h2><%= Option.string(Option::Key::WEBSITE_NAME) %></h2>

    <%= sanitize(Option.string(Option::Key::WEBSITE_INTRO_TEXT).gsub("\n", '<br>'),
                 tags: %w(p br), attributes: %w()) %>
  </div>
  <div class="col-sm-5 hidden-xs">
    <% if @random_item %>
      <div class="pt-main-image">
        <%= link_to @random_item do %>
          <%= thumbnail_tag(@random_item, 512) %>
        <% end %>
        <%= link_to @random_item, class: 'pt-title' do %>
          <%= @random_item.title %>
        <% end %>
        <br>
        <%= link_to @random_item.collection, class: 'pt-collection-title' do %>
          <%= icon_for(@random_item.collection) %>
          <%= @random_item.collection.title %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
