- provide :body_id, 'landing'
- provide :title, 'Home'

#dl-banner
  %h1
    %span Digital Collections
  .row.justify-content-sm-center
    .col-sm-8.col-md-7.col-lg-6
      = form_tag(Configuration.instance.metadata_gateway_url + '/search',
                 method: :get,
                 enforce_utf8: false,
                 id: 'dl-search') do
        .input-group.mb-4
          = search_field_tag(:q, '',
                             placeholder: raw("Search across #{number_with_delimiter(@gateway_item_count)} items&hellip;"),
                             'aria-label': 'Search',
                             class: 'form-control form-control-lg')
          .input-group-append
            %input.btn.btn-primary{type: "submit", value: "Search"}
          .input-group-append.dropdown
            %button#dl-browse-dropdown.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false",
                                                                         "aria-haspopup": "true",
                                                                         "data-toggle": "dropdown",
                                                                         type: "button"}
              Browse
            .dropdown-menu{"aria-labelledby": "dl-browse-dropdown"}
              = link_to 'Collections',
                        Configuration.instance.metadata_gateway_url + '/collections',
                        class: 'dropdown-item'
              = link_to 'Items',
                        Configuration.instance.metadata_gateway_url + '/items',
                        class: 'dropdown-item'

= render partial: 'shared/sensitive_content'

.row.mt-3
  .col-md-12
    = link_to Configuration.instance.metadata_gateway_url + '/collections?fq%5B%5D=system_keyword_service_key:dls' do 
      .card.bg-dark.text-white
        = image_tag('banner_dls.jpg',
                    class: 'card-img-top d-lg-none',
                    alt: 'Thumbnail for Digital Special Collections')
        = image_tag('banner_dls_lg.jpg',
                    class: 'card-img-top d-none d-lg-block',
                    alt: 'Thumbnail for Digital Special Collections')
        .card-img-overlay.d-flex.flex-column.justify-content-end
          .dl-card-text-backdrop
            %h5.card-title
              Digital Special Collections
                        
            %p.card-text.d-none.d-sm-block
              Digitized manuscripts, photographs, maps, and other special
              collections research materials, as well as personal and
              organizational digital archives.
.row
  .col-lg-6
    = link_to 'https://www.ideals.illinois.edu/' do 
      .card.bg-dark.text-white
        = image_tag('banner_ideals.jpg',
                    class: 'card-img-top',
                    alt: 'Thumbnail for Scholarship')
        .card-img-overlay.d-flex.flex-column.justify-content-end
          .dl-card-text-backdrop
            %h5.card-title
              Scholarship
            %p.card-text.d-none.d-sm-block
              Research and scholarship of faculty, staff, and students in IDEALS,
              the Illinois Digital Environment for Access to Learning and Scholarship.
  .col-lg-6
    = link_to Configuration.instance.metadata_gateway_url + '/items?fq%5B%5D=system_keyword_service_key:book' do 
      .card.bg-dark.text-white
        = image_tag('banner_books.jpg',
                    class: 'card-img-top',
                    alt: 'Thumbnail for Digitized Books')
        .card-img-overlay.d-flex.flex-column.justify-content-end
          .dl-card-text-backdrop
            %h5.card-title
              Digitized Books
            %p.card-text.d-none.d-sm-block
              Books from the library's holdings now available online.
.row
  .col-lg-6
    = link_to 'https://databank.illinois.edu/' do 
      .card.bg-dark.text-white
        = image_tag('banner_databank.jpg',
                    class: 'card-img-top',
                    alt: 'Thumbnail for Research Data')
        .card-img-overlay.d-flex.flex-column.justify-content-end
          .dl-card-text-backdrop
            %h5.card-title
              Research Data
            %p.card-text.d-none.d-sm-block
              Publicly accessible research data from faculty, staff, and graduate
              students in the Illinois Data Bank.
  .col-lg-6
    = link_to 'https://idnc.library.illinois.edu' do 
      .card.bg-dark.text-white
        = image_tag('banner_idnc.jpg',
                    class: 'card-img-top',
                    alt: 'Thumbnail for Digitized Newspapers')
        .card-img-overlay.d-flex.flex-column.justify-content-end
          .dl-card-text-backdrop
            %h5.card-title
              Digitized Newspapers
            %p.card-text.d-none.d-sm-block
              Newspapers and journals with an Illinois focus in the Illinois
              Digital Newspaper Collections.
