-# @param element [Element]
-# @param context [Symbol] :new or :edit

= form_for([:admin, element], remote: true) do |f|
  .dl-error-messages
    -# populated via ajax by shared/_validation_messages.js.erb
  .form-group
    = f.label :name
    - if context == :new
      = f.text_field :name, class: 'form-control'
    - else
      %br/
      = element.name
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(context == :new ? 'Create Element' : 'Edit Element',
                 class: 'btn btn-primary')
