<h1 class="pt-title"><%= @task.status_text %></h1>

<dl>
  <dt>Task ID</dt>
  <dd><%= @task.id %></dd>
  <dt>Job ID</dt>
  <dd><%= @task.job_id %></dd>
  <dt>Job Queue</dt>
  <dd><var><%= @task.queue %></var></dd>
  <dt>Status</dt>
  <dd class="pt-status">
    <p>
      <span class="label <%= bootstrap_class_for_task_status(@task.status) %>">
        <%= Task::Status::to_s(@task.status) %>
      </span>
    </p>
  </dd>
  <dt>Progress</dt>
  <dd class="pt-progress">
    <%= (@task.indeterminate and @task.percent_complete < 1) ?
            'Indeterminate' :
            (@task.percent_complete * 100).round(1).to_s + '%' %>
  </dd>
  <dt>Started</dt>
  <dd class="pt-started">
    <%= @task.started_at ? local_time_ago(@task.started_at) : '' %>
  </dd>
  <% if @task.completed_at %>
    <dt>Completed In</dt>
    <dd>
      <%= distance_of_time_in_words(@task.created_at, @task.completed_at,
                                    include_seconds: true) %>
    </dd>
  <% end %>
  <dt>Class</dt>
  <dd><%= @task.name %></dd>
  <% if @task.download %>
    <dt>Downloadable Resource</dt>
    <dd>
      <%= @task.download.filename ?
              link_to(@task.download.filename, download_file_url(@task.download)) :
              link_to(@task.download.url, @task.download.url) %>
    </dd>
    <dt>Client IP</dt>
    <dd><%= @task.download.ip_address %></dd>
  <% end %>
</dl>

<% if @task.detail.present? %>
  <p class="text-danger"><%= h(@task.detail) %></p>
<% end %>

<% if @task.failed? and @task.backtrace.present? %>
  <h2>Stack Trace</h2>
  <pre><%= raw(@task.backtrace.split('", "').join('",<br>"')) %></pre>
<% end %>
