%h1.dl-title= @task.status_text
%dl
  %dt Class
  %dd= @task.name
  %dt User
  %dd= @task.user ? link_to(@task.user.username, admin_user_path(@task.user)) : "Unknown"
  %dt Task ID
  %dd= @task.id
  %dt Job ID
  %dd= @task.job_id
  %dt Job Queue
  %dd
    %var= @task.queue
  %dt Status
  %dd.dl-status
    %p
      %span{class: "badge #{bootstrap_class_for_task_status(@task.status)}"}
        = Task::Status::to_s(@task.status)
  %dt Progress
  %dd
    = (@task.indeterminate and @task.percent_complete < 1) ? 'Indeterminate' : (@task.percent_complete * 100).round(1).to_s + '%'
  %dt Created
  %dd= local_time(@task.created_at)
  %dt Started
  %dd
    = @task.started_at ? local_time(@task.started_at) : ''
  - if @task.stopped_at
    %dt Stopped
    %dd
      = local_time(@task.stopped_at)
  - else
    %dt ETA
    %dd
      - if @task.estimated_completion
        = time_ago_in_words(@task.estimated_completion)
      - else
        Unknown
  %dt Run Time
  %dd
    - if (@task.running? || @task.terminated?) && @task.started_at
      = distance_of_time_in_words(@task.started_at,
                                  (@task.stopped_at || Time.now),
                                  include_seconds: true)
  - if @task.download
    %dt Downloadable Resource
    %dd
      = @task.download.filename ? |
        link_to(@task.download.filename, download_file_url(@task.download)) : |
        "Not generated (yet?)" |
    %dt Client IP
    %dd= @task.download.ip_address
- if @task.detail.present?
  %p.text-danger= h(@task.detail)
- if @task.failed? and @task.backtrace.present?
  %h2 Stack Trace
  %pre= raw(@task.backtrace.split('", "').join('",<br>"'))
