<% page_links = paginate(@count, @limit, @current_page,
                         Admin::TasksController::PERMITTED_PARAMS, true) %>

<% if @tasks.any? %>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= page_links %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Progress</th>
        <th>Started</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr data-id="<%= task.id %>">
          <td class="dl-title">
            <%= link_to(task.status_text, '#',
                        data: { 'toggle': 'modal',
                                'target': '#dl-task-panel',
                                'task-id': task.id }) %>
          </td>
          <td class="dl-status">
            <span class="badge <%= bootstrap_class_for_task_status(task.status) %>">
              <%= Task::Status::to_s(task.status) %>
            </span>
          </td>
          <td class="dl-progress">
            <%= (task.indeterminate and task.percent_complete < 1) ?
                    'Indeterminate' :
                    (task.percent_complete * 100).round(1).to_s + '%' %>
          </td>
          <td class="dl-started">
            <%= task.started_at ? local_time_ago(task.started_at) : '' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= page_links %>
    </div>
  </div>
<% else %>
  <p>No tasks to show.</p>
<% end %>
