- page_links = paginate(@count, @limit, @current_page,
                        Admin::TasksController::PERMITTED_SEARCH_PARAMS, true)
- if @tasks.any?
  .row.justify-content-md-center
    .col-md-auto
      = page_links
  %table.table
    %thead
      %tr
        %th User
        %th Task
        %th Status
        %th Progress
        %th Started
        %th ETA
    %tbody
      - @tasks.each do |task|
        %tr{"data-id": task.id}
          %td
            = task.user ? link_to(task.user.username, admin_user_path(task.user)) : ""
          %td
            = link_to(task.status_text, '#', data: { 'toggle': 'modal',
                                                     'target': '#dl-task-panel',
                                                     'task-id': task.id })
          %td
            %span{class: "badge #{bootstrap_class_for_task_status(task.status)}"}
              = Task::Status::to_s(task.status)
          %td
            = (task.indeterminate and task.percent_complete < 1) ? |
              'Indeterminate' :                                    |
              (task.percent_complete * 100).round(1).to_s + '%'    |
          %td
            = task.started_at ? local_time_ago(task.started_at) : ''
          %td
            = task.estimated_completion ? time_ago_in_words(task.estimated_completion) : nil
  .row.justify-content-md-center
    .col-md-auto
      = page_links
- else
  %p No tasks to show.
