<% if @tasks.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Progress</th>
        <th>Started</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= (@selected_id == task.id) ? 'bg-primary' : '' %>">
          <td>
            <%= link_to(task.status_text, admin_task_path(task)) %>
          </td>
          <td>
            <span class="label <%= bootstrap_class_for_task_status(task.status) %>">
              <%= Task::Status::to_s(task.status) %>
            </span>
          </td>
          <td><%= (task.indeterminate and task.percent_complete < 1) ?
                      'Indeterminate' :
                      (task.percent_complete * 100).round(1).to_s + '%' %></td>
          <td><%= task.started_at ? local_time_ago(task.started_at) : '' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No tasks to show.</p>
<% end %>
