<% provide :title, "Tasks: #{@task.name}" %>
<% provide :body_id, 'admin_task_show' %>
<% provide :active_nav, 'server' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Tasks', admin_tasks_path %></li>
  <li class="active">Task ID <%= @task.id %></li>
</ol>

<%= hidden_field_tag('pt-tasks-url', admin_tasks_url(selected_id: @task.id)) %>
<%= hidden_field_tag('pt-task-id', @task.id) %>

<div class="row">
  <div class="col-sm-6" id="pt-tasks-list">
    <%= render partial: 'tasks' %>
  </div>

  <div class="col-sm-6">
    <h1 class="pt-title"><%= @task.status_text %></h1>

    <dl>
      <dt>Status</dt>
      <dd class="pt-status">
        <p>
          <span class="label <%= bootstrap_class_for_task_status(@task.status) %>">
            <%= Task::Status::to_s(@task.status) %>
          </span>
        </p>
      </dd>
      <dt>Progress</dt>
      <dd class="pt-progress">
        <%= (@task.indeterminate and @task.percent_complete < 1) ?
                'Indeterminate' :
                (@task.percent_complete * 100).round(1).to_s + '%' %>
      </dd>
      <dt>Started</dt>
      <dd class="pt-started">
        <%= @task.started_at ? local_time_ago(@task.started_at) : '' %></dd>
      <% if @task.completed_at %>
        <dt>Completed In</dt>
        <dd>
          <%= distance_of_time_in_words(@task.created_at, @task.completed_at,
                                        include_seconds: true) %>
        </dd>
      <% end %>
      <dt>Class</dt>
      <dd><%= @task.name %></dd>
    </dl>

    <% if @task.detail.present? %>
      <p class="text-danger"><%= h(@task.detail) %></p>
    <% end %>

    <% if @task.status == Task::Status::FAILED and @task.backtrace.present? %>
      <h2>Stack Trace</h2>
      <pre><%= raw(@task.backtrace.split('", "').join('",<br>"')) %></pre>
    <% end %>
  </div>
</div>
