%nav.navbar.navbar-expand-md.navbar-dark
  %button.navbar-toggler{"aria-controls": "dl-navbar1-collapse",
                         "aria-expanded": "false",
                         "aria-label": "Toggle navigation",
                         "data-target": "#dl-navbar1-collapse",
                         "data-toggle": "collapse",
                         type: "button"}
    %span.navbar-toggler-icon
  #dl-navbar1-collapse.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        = link_to 'Collection Registry',
                  Configuration.instance.medusa_url,
                  class: 'nav-link'
      %li.nav-item.active
        = link_to 'Digital Library', '#', class: 'nav-link'
      %li.nav-item
        = link_to 'Metadata Gateway',
                  Configuration.instance.metadata_gateway_url + '/admin',
                  class: 'nav-link'
%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  = link_to admin_root_path, class: 'navbar-brand' do
    %i.fas.fa-tachometer-alt
  %button.navbar-toggler{"aria-controls": "dl-navbar2-collapse",
                         "aria-expanded": "false",
                         "aria-label": "Toggle navigation",
                         "data-target": "#dl-navbar2-collapse",
                         "data-toggle": "collapse",
                         type: "button"}
    %span.navbar-toggler-icon
  #dl-navbar2-collapse.collapse.navbar-collapse
    %ul.navbar-nav
      - if policy(Collection).index?
        %li.nav-item
          = link_to 'Collections', admin_collections_path, class: 'nav-link'

      -# Metadata menu
      - show_elements             = policy(Element).index?
      - show_vocabularies         = policy(Vocabulary).index?
      - show_metadata_profiles    = policy(MetadataProfile).index?
      - show_agents               = policy(Agent).index?
      - show_agent_relation_types = policy(AgentRelationType).index?
      - show_agent_rules          = policy(AgentRule).index?
      - show_agent_types          = policy(AgentType).index?
      - if show_elements || show_vocabularies || show_metadata_profiles || show_agents || show_agent_relation_types || show_agent_rules || show_agent_types
        %li#metadata-nav.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
            Metadata
            %b.caret
          .dropdown-menu
            - if show_elements
              = link_to 'Elements', admin_elements_path, class: 'dropdown-item'
            - if show_vocabularies
              = link_to 'Vocabularies', admin_vocabularies_path, class: 'dropdown-item'
            - if show_metadata_profiles
              = link_to 'Metadata Profiles', admin_metadata_profiles_path, class: 'dropdown-item'
            - if (show_elements || show_vocabularies || show_metadata_profiles) && (show_agents || show_agent_relation_types || show_agent_rules || show_agent_types)
              .dropdown-divider
            - if show_agents
              = link_to 'Agents', admin_agents_path, class: 'dropdown-item'
            - if show_agent_relation_types
              = link_to 'Agent Relation Types', admin_agent_relation_types_path, class: 'dropdown-item'
            - if show_agent_rules
              = link_to 'Agent Rules', admin_agent_rules_path, class: 'dropdown-item'
            - if show_agent_types
              = link_to 'Agent Types', admin_agent_types_path, class: 'dropdown-item'

      -# Access menu
      - show_users       = policy(User).index?
      - show_host_groups = policy(HostGroup).index?
      %li#access-nav.nav-item.dropdown
        %a.nav-link.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
          Access
          %b.caret
        .dropdown-menu
          - if show_users
            = link_to 'Users', admin_users_path, class: 'dropdown-item'
          - if show_host_groups
            = link_to 'Host Groups', admin_host_groups_path, class: 'dropdown-item'

      -# Server menu
      - show_statistics  = policy(:statistic).index?
      - show_tasks       = policy(Task).index?
      - show_settings    = policy(Setting).index?
      %li#server-nav.nav-item.dropdown
        %a.nav-link.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
          Server
          %b.caret
        .dropdown-menu
          = link_to 'Analytics', 'https://analytics.google.com/analytics/web/#/p383482182/reports/intelligenthome', class: 'dropdown-item'
          - if show_statistics
            = link_to 'Statistics', admin_statistics_path, class: 'dropdown-item'
          - if show_tasks
            = link_to 'Tasks', admin_tasks_path, class: 'dropdown-item'
          - if show_settings
            .dropdown-divider
            = link_to 'Settings', admin_settings_path, class: 'dropdown-item'

    .navbar-nav.ml-md-auto
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{href: "https://docs.google.com/document/d/1RWdy9mF-2sFzUU3_6XEAhOztzUv80Y8yzn7qMx2gON0/edit?tab=t.0#heading=h.r2e73gxgewk8",
                      target: "_blank"}
            %i.fa.fa-question-circle
        %li.nav-item.dropdown
          %a.dropdown-toggle.nav-link{"aria-expanded": "false",
                                      "aria-haspopup": "true",
                                      "data-toggle": "dropdown",
                                      href: "#"}
            %i.fas.fa-user{"aria-hidden": "true"}
            = current_user.username
            %b.caret
          .dropdown-menu.dropdown-menu-right{"aria-labelledby": "dl-user-menu-toggle"}
            = link_to 'My Account', admin_user_path(current_user), class: 'dropdown-item'
            = link_to 'Public Website', root_url, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'OAI-PMH Endpoint (Generic)', oai_pmh_path, class: 'dropdown-item'
            = link_to 'OAI-PMH Endpoint (IDHH)', idhh_oai_pmh_path, class: 'dropdown-item'
            = link_to 'OAI-PMH Endpoint (Primo)', primo_oai_pmh_path, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'Log Out', signout_path, method: 'delete', class: 'dropdown-item'
