<!DOCTYPE html>
<html>
  <head>
    <title>Medusa DLS Control Panel | <%= yield(:title) %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin/application' %>

    <%= content_for :head %>
  </head>

  <body <%= !yield(:body_id).empty? ? raw("id=\"#{yield(:body_id)}\"") : nil %>
        <%= raw("data-nav=\"#{yield(:active_nav)}\"") %>>

    <%= hidden_field_tag :root_url, root_url %>

    <%= render partial: 'layouts/admin/header' %>

    <div class="container-fluid">
      <%= flashes %>

      <div id="dl-page-content">
        <%= yield %>
      </div>
    </div>

    <footer></footer>
    <%= ajax_shade %>

  </body>
</html>
