.dls-search-banner
  = image_tag('banner_dls.jpg', :class => 'w-100', :alt => 'Digital Special Collections Banner')
  .dls-search-banner-overlay
    = form_tag(special_collections_search_path, 
                method: :get, 
                class: 'd-inline-block w-50') do 
      .input-group.input-group-lg
        = search_field_tag(:q, @permitted_params[:q], 
                            placeholder: "Search across #{number_with_delimiter(@count)} collections...", 
                            class: "form-control form-control-lg", 
                            'aria-label': 'Search')
        .input-group-append
          = submit_tag("Search", class: "btn btn-primary")
    = link_to("Advanced Search", search_landing_path(tab: "advanced-search"), 
              id: "advanced-search-link")

%h1.mt-5 Digital Special Collections  
%h5 Digitized manuscripts, photographs, maps, and other special collections research materials, as well as personal and organizational digital archives.

- if @permitted_params[:q].present?
  .row.justify-content-md-center.mt-4
    .col-md-auto
      = paginate(@count, @limit, @current_page, SearchLandingController::PERMITTED_PARAMS)
  .container.mt-4
    .card.dl-results-summary
      .card-body
        .row
          #dl-search-status.col-sm-8
            = search_status(@count, @start, @num_results_shown)
            
    .search-results-list.mt-4
      - if @items.present?
        - @items.each do |item|
          .search-result-item.mb-4.d-flex 
            = thumbnail_tag(item, shape: :square, size: 150)
            .search-result-details.flex-grow-1 
              =link_to "#{item.title}", item_path(item), class: 'h5 d-block mb-2'
              %h6= item.element(:creator)
      - else 
        %p.mt-4.text-muted No items found.



