.dls-search-banner
  = image_tag('banner_dls.jpg', :class => 'w-100', :alt => 'Digital Special Collections Banner')
  .dls-search-banner-overlay
    = form_tag(special_collections_search_path, 
                method: :get, 
                class: 'd-inline-block w-50') do 
      .input-group.input-group-lg
        = search_field_tag(:q, @permitted_params[:q], 
                            placeholder: "Search across #{number_with_delimiter(@total_available_count)} items", 
                            class: "form-control form-control-lg", 
                            'aria-label': 'Search')
        .input-group-append
          = submit_tag("Search", class: "btn btn-primary")

          // Browse dropdown will include Collections, Items, Repositories
          // that will link to their respective index pages
          .dropdown
            %button.btn.btn-secondary.btn-lg.dropdown-toggle{"aria-expanded": "false", 
                                          "aria-haspopup": "true", 
                                          "data-toggle": "dropdown", 
                                          type: "button"} 
              %span.caret
              Browse
            %ul.dropdown-menu
              %li
                = link_to "Collections", collections_path, class: "dropdown-item"
              %li
                = link_to "Items", items_path, class: "dropdown-item"
              %li
                = link_to "Repositories", repositories_path, class: "dropdown-item"
            
    = link_to("Advanced Search", search_landing_path(tab: "advanced-search"), 
              id: "advanced-search-link")

%h1.mt-5 Digital Special Collections  
%h5 Digitized manuscripts, photographs, maps, and other special collections research materials, as well as personal and organizational digital archives.

- if @permitted_params[:q].present?
  :javascript
    $(document).ready(function() {
      Application.initFacets();
    });

  .row.justify-content-md-center.mt-4
    .col-md-auto
      = paginate(@count, @limit, @current_page, SpecialCollectionsSearchController::PERMITTED_PARAMS)

  = form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'dl-filter') do
    = hidden_field_tag 'dl-current-path', request.path
    - @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v|
      - if v.is_a?(Array)
        - v.each do |item|
          = hidden_field_tag("#{k}[]", item)
      - else
        = hidden_field_tag(k, v)
    .container.mt-4
      .row
        .col-sm-3.col-lg-2
          .facets
            = facets_as_cards(@facets, SpecialCollectionsSearchController::PERMITTED_PARAMS)

        .col-sm-9.col-lg-10
          #search-results-container
            = render 'search_results'
