.dls-search-banner
  = image_tag('banner_dls.jpg', :class => 'w-100', :alt => 'Digital Special Collections Banner')
  .dls-search-banner-overlay
    = form_tag(special_collections_search_path, 
                method: :get, 
                class: 'd-inline-block w-50') do 
      .input-group.input-group-lg
        = search_field_tag(:q, @permitted_params[:q], 
                            placeholder: "Search across #{number_with_delimiter(@total_available_count)} items", 
                            class: "form-control form-control-lg", 
                            'aria-label': 'Search')
        .input-group-append
          = submit_tag("Search", class: "btn btn-primary")

          // Browse dropdown will include Collections, Items, Repositories
          // that will link to their respective index pages
          .dropdown
            %button.btn.btn-secondary.btn-lg.dropdown-toggle{"aria-expanded": "false", 
                                          "aria-haspopup": "true", 
                                          "data-toggle": "dropdown", 
                                          type: "button"} 
              %span.caret
              Browse
            %ul.dropdown-menu
              %li
                = link_to "Collections", collections_path, class: "dropdown-item"
              %li
                = link_to "Items", items_path, class: "dropdown-item"
              %li
                = link_to "Repositories", repositories_path, class: "dropdown-item"
            
    = link_to("Advanced Search", search_landing_path(tab: "advanced-search"), 
              id: "advanced-search-link")

%h1.mt-5 Digital Special Collections  
%h5 Digitized manuscripts, photographs, maps, and other special collections research materials, as well as personal and organizational digital archives.

- if @permitted_params[:q].present?
  :javascript
    $(document).ready(function() {
      // Initialize facets for special_collections_search page (non-AJAX version)
      const filterForm = $("form.dl-filter");

      const createHiddenInputs = function() {
        // Remove existing hidden fq inputs
        filterForm.find('[name="fq[]"]').remove();
        // Create hidden input for each checked checkbox
        filterForm.find('[name=dl-facet-term]:checked').each(function() {
          const input = $('<input type="hidden" name="fq[]">');
          input.val($(this).data('query'));
          filterForm.append(input);
        });
      };

      // Handle facet checkbox changes
      filterForm.find('.dl-card-facet [name="dl-facet-term"]').on('change', function() {
        createHiddenInputs();
        filterForm.submit();
      });

      // Handle modal facet submissions
      filterForm.find('.dl-modal-facet .modal-footer button.submit').on('click', function(e) {
        e.preventDefault();
        const modal = $(this).parents(".dl-modal-facet");
        modal.modal('hide');
        createHiddenInputs();
        filterForm.submit();
      });
    });

  .row.justify-content-md-center.mt-4
    .col-md-auto
      = paginate(@count, @limit, @current_page, SpecialCollectionsSearchController::PERMITTED_PARAMS)

  = form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'dl-filter') do
    - @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v|
      - if v.is_a?(Array)
        - v.each do |item|
          = hidden_field_tag("#{k}[]", item)
      - else
        = hidden_field_tag(k, v)
    .container.mt-4
      .row
        .col-sm-3.col-lg-2
          .facets
            = facets_as_cards(@facets, SpecialCollectionsSearchController::PERMITTED_PARAMS)

        .col-sm-9.col-lg-10
          .card.dl-results-summary
            .card-body
              .row
                #dl-search-status.col-sm-8
                  - last = [@count, @start + @num_results_shown].min
                  = raw(sprintf("Showing %d&ndash;%d of %s results (%d collections, %d items)", 
                        @start + 1, last, number_with_delimiter(@count), 
                        @collection_count, @item_count))

          .search-results-list.mt-4
            - if @results.present?
              - @results.each do |result|
                .search-result-item.mb-4.d-flex.align-items-start
                  .flex-shrink-0{style: "width: 150px; height: 150px; overflow: hidden;"}
                    - if result[:type] == 'collection'
                      = thumbnail_tag(result[:object], shape: :square, size: 150)
                    - else
                      = thumbnail_tag(result[:object], shape: :square, size: 150)
                  .search-result-details.flex-grow-1.ms-3
                    - if result[:type] == 'collection'
                      .result-type-badge.mb-1
                        %span.badge.badge-primary Collection
                      = link_to result[:title], collection_path(result[:object]), class: 'h5 d-block mb-2'
                      %h6= result[:creator]
                    - else
                      .result-type-badge.mb-1
                        %span.badge.badge-secondary Item
                      = link_to result[:title], item_path(result[:object]), class: 'h5 d-block mb-2'
                      %h6= result[:creator]
                      - if result[:collection]
                        %p.text-muted.small
                          From: 
                          = link_to result[:collection].title, collection_path(result[:collection])
            - else 
              %p.mt-4.text-muted No results found.
