<% provide :title, 'Vocabularies' %>
<% provide :body_id, 'vocabularies' %>
<% provide :active_nav, 'metadata' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Vocabularies' }) %>

<div class="btn-group float-right">
  <button type="button" class="btn btn-light" data-toggle="modal"
          data-target="#dl-add-vocabulary-modal">
    <span class="fa fa-plus"></span> Add Vocabulary
  </button>
  <!-- Import button -->
  <button type="button" class="btn btn-light" data-toggle="modal"
          data-target="#dl-import-modal">
    <i class="fa fa-upload"></i> Import&hellip;
  </button>
</div>

<h1>Vocabularies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Terms</th>
    </tr>
  </thead>
  <tbody>
    <% @vocabularies.each do |vocab| %>
      <tr>
        <td><code><%= link_to vocab.key, admin_vocabulary_path(vocab) %></code></td>
        <td><%= link_to vocab.name, admin_vocabulary_path(vocab) %></td>
        <td><%= vocab.vocabulary_terms.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'admin/vocabularies/add_modal' %>
<%= render partial: 'admin/vocabularies/import_modal' %>
