<%
  # @param collection [Collection]
  # @param item_set [ItemSet]
  # @param context [Symbol] :new or :edit
%>

<%= form_for([:admin, collection, item_set], remote: true) do |f| %>
  <div class="dl-error-messages">
    <% # populated via ajax by shared/_validation_messages.js.erb
    %>
  </div>

  <%= f.hidden_field :collection_repository_id, value: collection.repository_id %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :users %>

    <% User.all.order(:username).each do |user| %>
      <div class="checkbox">
        <%= label_tag do %>
          <%= check_box_tag :user_ids, user.id,
                            item_set.users.include?(user),
                            name: 'item_set[user_ids][]' %>
          <%= user.username %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="clearfix">
    <div class="pull-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit(context == :new ? 'Create Set' : 'Edit Set',
                   class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
