<% provide :title, @item_set.name %>
<% provide :body_id, 'admin_item_sets_show' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Collection', url: admin_collections_path },
                     { label: @item_set.collection.title, url: admin_collection_path(@item_set.collection) },
                     { label: 'Sets', url: admin_collection_path(@item_set.collection) },
                     { label: @item_set }) %>

<div class="btn btn-group float-right">
  <!-- Edit button -->
  <button type="button" class="btn btn-light dl-edit-item-set"
          data-toggle="modal" data-target="#dl-edit-item-set-modal"
          data-item-set-id="<%= @item_set.id %>">
    <span class="fas fa-pencil-alt"></span> Edit
  </button>

  <!-- Metadata button -->
  <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-list"></i> Metadata <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      <%= link_to 'Edit Items',
                  admin_collection_edit_all_items_path(@item_set.collection,
                                                       item_set: @item_set.id),
                  id: 'dl-edit-result-set-metadata-link',
                  class: "dropdown-item #{@item_set.collection.metadata_profile ? '' : 'disabled' }" %>
      <div class="dropdown-divider"></div>
      <%= link_to raw('Import From TSV&hellip;'), '',
                  class: "dropdown-item #{(@item_set.collection.package_profile and @item_set.collection.medusa_file_group) ? '' : 'disabled' }",
                  'data-toggle': 'modal', 'data-target': '#dl-import-tsv-modal' %>
      <%= link_to raw('Export As TSV'),
                  admin_collection_item_set_items_path(@item_set.collection, @item_set, format: 'tsv'),
                  class: 'dropdown-item' %>
    </div>
  </div>

  <!-- Items button -->
  <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-expanded="false">
      <%= icon_for(Item) %> Items <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to 'Add More', admin_collection_items_path(@item_set.collection),
                  class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
      <%= link_to 'Remove Checked',
                  admin_collection_item_set_items_path(@item_set.collection, @item_set),
                  class: 'dropdown-item dl-remove-checked',
                  method: :delete %>
      <%= link_to 'Remove All',
                  admin_collection_item_set_all_items_path(@item_set.collection, @item_set),
                  method: :delete,
                  class: 'dropdown-item' %>
    </div>
  </div>

  <!-- Delete button -->
  <%= link_to admin_collection_item_set_path(@item_set.collection, @item_set),
              class: 'btn btn-danger',
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this set?' } do %>
    <i class="fa fa-trash"></i> Delete
  <% end %>
</div>

<h1><%= @item_set %> <small><%= @item_set.collection.title %></small></h1>

<h2>Users</h2>

<table class="table">
  <% @item_set.users.each do |user| %>
    <tr>
      <td><%= link_to user, admin_user_path(user) %></td>
    </tr>
  <% end %>
</table>

<h2>Objects
  <small><span class="badge badge-pill badge-secondary"><%= @items.count %></span></small>
  <% if @items.count > 0 %>
    <%= link_to '#', class: 'btn btn-light btn-sm dl-check-all' do %>
      <i class="fa fa-check-square"></i> Check All
    <% end %>
  <% end %>
</h2>

<% if @items.count > 0 %>
  <div id="dl-items" class="dl-results">
    <%= render partial: 'admin/items/items' %>
  </div>
<% elsif @item_set.collection.items.count > 0 %>
  <p>This set is empty.</p>
<% else %>
  <p>This set is empty, and its collection is also empty.</p>
<% end %>

<%= render partial: 'edit_set_modal', locals: { collection: @item_set.collection,
                                                item_set: @item_set } %>
<%= render partial: 'admin/items/import_tsv_panel',
           locals: { collection: @item_set.collection } %>