<% provide :title, @agent.name %>
<% provide :body_id, 'agents_show' %>

<div class="btn-group float-right" role="group">

  <%= share_button(@agent) %>

  <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i>
      View <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" role="menu">
      <%= link_to @permitted_params.merge(format: :json), target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-code"></i>&nbsp;JSON
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to admin_agent_path(@agent), target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
      <% end %>
    </div>
  </div>

</div>

<h1><%= @agent.name %></h1>

<p><%= @agent.description %></p>

<% if @agent_relations.any? %>
  <hr>
  <h2>Related Agents <small><span class="badge badge-pill badge-secondary">
    <%= @agent_relations.length %></span></small></h2>
  <ul>
    <% @agent_relations.each do |relation| %>
      <% if relation.agent.id == @agent.id %>
        <li><%= relation.agent_relation_type&.name %>
          <%= link_to relation.related_agent.name, relation.related_agent %>
          <% if relation.dates.present? %>
            <small>(<%= relation.dates %>)</small>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to relation.agent.name, relation.agent %>
          <%= relation.agent_relation_type.name %> <%= @agent.name %>
          <% if relation.dates.present? %>
              <small>(<%= relation.dates %>)</small>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @related_objects.any? %>
  <hr>
  <h2>Related Items <span class="badge"><%= @related_object_count %></span></h2>
  <div id="dl-items">
    <%= render partial: 'items' %>
  </div>
<% end %>
