- provide :title, 'Statistics'
- provide :body_id, 'statistics'
- provide :active_nav, 'server'

= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                   { label: 'Statistics' })

%h1 Statistics
.row
  .col-sm-6
    %h2 Collections
    %table.table
      %tr
        %td Collections
        %td= number_with_delimiter(@num_collections)
      %tr
        %td Publicly-Available Collections
        %td= number_with_delimiter(@num_public_collections)
    %hr/
    %h2 Items
    %table.table
      %tr
        %td Objects
        %td= number_with_delimiter(@num_objects)
      %tr
        %td Items
        %td= number_with_delimiter(@num_items)
      %tr
        %td Free-Form Items
        %td= number_with_delimiter(@num_free_form_items)
    %hr/
    %h2 Metadata
    %table.table
      %tr
        %td Available Descriptive Elements
        %td= number_with_delimiter(@num_available_elements)
      %tr
        %td Ascribed Descriptive Elements
        %td= number_with_delimiter(@num_ascribed_elements)
      %tr
        %td Metadata Profiles
        %td= number_with_delimiter(@num_metadata_profiles)
      %tr
        %td Agents
        %td= number_with_delimiter(@num_agents)
      %tr
        %td Vocabularies
        %td= number_with_delimiter(@num_vocabularies)
  .col-sm-6
    %h2 Binaries
    %table.table
      %tr
        %td Total
        %td= number_with_delimiter(@num_binaries)
      %tr
        %td Total Size
        %td= number_to_human_size(@total_binary_size)
      - @extension_counts.each do |ext|
        %tr
          %td
            \.#{ext['extension'].gsub(/[\\{\\}]/, '')}
          %td= number_with_delimiter(ext['count'])
