%table.table.table-striped
  %thead
    %th{style: "width: 1px"}
    %th Name
    %th URI
    %th Description
  %tbody
    - @types.each do |type|
      %tr
        %td{style: "white-space: nowrap"}
          .btn-group
            %button.btn.btn-light.btn-sm.dl-edit-agent-relation-type{"data-agent-relation-type-id": "#{type.id}",
                                                                     "data-target": "#dl-edit-agent-relation-type-modal",
                                                                     "data-toggle": "modal",
                                                                     type: "button"}
              %i.fas.fa-pencil-alt
              Edit
            = button_to(admin_agent_relation_type_path(type),
                        class: 'btn btn-danger btn-sm',
                        method: :delete,
                        data: { confirm: 'Are you sure you want to delete this relation type?' }) do
              %i.fa.fa-trash
              Delete
        %td= type.name
        %td= type.uri
        %td= type.description
