<% position_options = options_for_select(
    element_def.metadata_profile.element_defs.order(:index).
        reject{ |e| e.index == element_def.index }.
        map{ |e| [e.label, e.index + 1] },
    selected: element_def.index) %>

<%= form_for([:admin, element_def], remote: true) do |f| %>
  <div class="pt-error-messages">
    <% # populated via ajax by shared/_validation_messages.js.erb
    %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.select(:name, name_options_for_select,
                 { selected: element_def.name },
                 class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :label %>
    <%= f.text_field :label, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :index, 'Position After' %>
    <%= f.select :index, position_options, {}, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :visible %>
      Visible
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :searchable %>
      Searchable
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :sortable %>
      Sortable
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :facetable %>
      Facetable
    </label>
  </div>

  <div class="form-group">
    <%= f.label :dc_map, 'Dublin Core Mapping' %>
    <%= select('element_def', 'dc_map',
               DublinCoreElement.all.map { |p| [ p.label, p.name ] },
               { include_blank: true, selected: f.object.dc_map },
               { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label :dcterms_map, 'Dublin Core Terms Mapping' %>
    <%= select('element_def', 'dcterms_map',
               DublinCoreTerm.all.map { |p| [ p.label, p.name ] },
               { include_blank: true, selected: f.object.dcterms_map },
               { class: 'form-control' }) %>
  </div>

  <%= f.hidden_field :metadata_profile_id, value: metadata_profile.id %>

  <div class="clearfix">
    <div class="pull-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit(context == :new ? 'Create Element' : 'Edit Element',
                   class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
