<% can_edit_name = !%w(admin visitor).include?(@role.key) %>
<% can_edit_key = !%w(admin visitor).include?(@role.key) %>
<% can_edit_permissions = !%w(admin).include?(@role.key) %>

<%= form_for [:admin, @role] do |f| %>
  <% render 'admin/shared/error_messages', :object => f.object %>

  <section>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', disabled: !can_edit_name %>
    </div>

    <div class="form-group">
      <%= f.label :key %>
      <%= f.text_field :key, class: 'form-control', disabled: !can_edit_key %>
    </div>
  </section>

  <hr>

  <section>
    <h3>Users</h3>

    <% @users.each do |user| %>
      <div class="checkbox">
        <%= label_tag do %>
          <%= check_box_tag :user_ids, user.id,
                            @role.user_ids.include?(user.id),
                            name: 'role[user_ids][]' %>
          <%= user.username %>
        <% end %>
      </div>
    <% end %>
  </section>

  <hr>

  <section id="dl-permissions">
    <h3>Permissions</h3>

    <%= can_edit_permissions ?
            hidden_field_tag('role[permission_ids][]', nil) : nil %>
    <div class="form-group">
      <% Permission.order(:key).each do |permission| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag :permission_ids, permission.id,
                              @role.permission_ids.include?(permission.id),
                              name: 'role[permission_ids][]',
                              disabled: !can_edit_permissions %>
            <%= permission.name %>
          </label>
        </div>
      <% end %>
    </div>
  </section>

  <section>
    <h3>Note</h3>

    <div class="form-group">
      <%= f.text_area(:note, rows: 8, class: 'form-control') %>
    </div>
  </section>

  <div class="float-right">
    <%= f.submit(context == :new ? 'Create Role' : 'Save Changes',
                 class: 'btn btn-primary') %>
  </div>

<% end %>
