<% can_edit_name = !%w(admin visitor).include?(@role.key) %>
<% can_edit_key = !%w(admin visitor).include?(@role.key) %>
<% can_edit_permissions = !%w(admin).include?(@role.key) %>

<%= form_for [:admin, @role] do |f| %>
  <% render 'admin/shared/error_messages', :object => f.object %>

  <section>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', disabled: !can_edit_name %>
    </div>

    <div class="form-group">
      <%= f.label :key %>
      <%= f.text_field :key, class: 'form-control', disabled: !can_edit_key %>
    </div>
  </section>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <h3>Users</h3>

      <% @users.each do |user| %>
        <div class="checkbox">
          <%= label_tag do %>
            <%= check_box_tag :user_ids, user.id,
                              @role.user_ids.include?(user.id),
                              name: 'role[user_ids][]' %>
            <%= user.username %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <h3>Hosts</h3>

      <div class="form-group">
        <%= text_area_tag('role[hosts]',
                          f.object.hosts.map(&:pattern).join("\n"),
                          rows: 8, class: 'form-control') %>
        <p class="help-block">Enter one hostname or IP address per line, with
          no other separating characters. Wildcards (*) are allowed at the
          beginning of a hostname and end of an IP address.</p>
      </div>
    </div>
  </div>

  <hr>

  <section id="pt-permissions">
    <h3>Permissions</h3>

    <%= can_edit_permissions ?
            hidden_field_tag('role[permission_ids][]', nil) : nil %>
    <div class="form-group">
      <% Permission.order(:key).each do |permission| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag :permission_ids, permission.id,
                              @role.permission_ids.include?(permission.id),
                              name: 'role[permission_ids][]',
                              disabled: !can_edit_permissions %>
            <%= permission.name %>
          </label>
        </div>
      <% end %>
    </div>
  </section>

  <%= f.submit(context == :new ? 'Create Role' : 'Save Changes',
               class: 'btn btn-primary') %>
<% end %>
