<% provide :title, @role.name %>
<% provide :active_nav, 'access' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Roles', admin_roles_path %></li>
  <li class="active"><%= @role.name %></li>
</ol>

<div class="btn-group pull-right">
  <% if current_user.can?(Permission::Permissions::MODIFY_ROLES) %>
    <%= link_to edit_admin_role_path(@role), class: 'btn btn-default' do %>
      <%= content_tag(:span, '', class: 'fa fa-pencil') %>
      Edit
    <% end %>
  <% end %>
  <% if current_user.can?(Permission::Permissions::MODIFY_ROLES) and !@role.required %>
    <%= link_to admin_role_path(@role), method: 'delete',
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure you want to delete this role?' } do %>
      <%= content_tag(:span, '', class: 'fa fa-trash') %>
      Delete
    <% end %>
  <% end %>
</div>

<h1><%= @role.name %> <small><%= @role.key %></small></h1>

<p><%= @role.note %></p>

<div class="row">
  <div class="col-sm-4">
    <h2>Permissions</h2>
    <% @permissions.each do |p| %>
      <%= @role.has_permission?(p.key) ?
              raw("<span class=\"label label-success\">&check; #{p.name}</span>") :
              raw("<span class=\"label label-default\">&times; #{p.name}</span>") %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <h2>Users</h2>
    <% if @role.users.any? %>
      <ul>
        <% @role.users.each do |user| %>
          <li><%= link_to user.username, admin_user_path(user) %></li>
        <% end %>
      </ul>
    <% else %>
      None
    <% end %>
  </div>

  <div class="col-sm-4">
    <h2>Hosts</h2>
    <% if @role.hosts.any? %>
      <ul>
        <% @role.hosts.each do |host| %>
          <li><%= host.pattern %></li>
        <% end %>
      </ul>
    <% else %>
      None
    <% end %>
  </div>
</div>
