<% provide :title, @role.name %>
<% provide :active_nav, 'access' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Roles', url: admin_roles_path },
                     { label: @role.name }) %>

<div class="btn-group float-right">
  <% if current_user.can?(Permission::Permissions::MODIFY_ROLES) %>
    <%= link_to edit_admin_role_path(@role), class: 'btn btn-light' do %>
      <%= content_tag(:span, '', class: 'fas fa-pencil-alt') %>
      Edit
    <% end %>
  <% end %>
  <% if current_user.can?(Permission::Permissions::MODIFY_ROLES) and !@role.required %>
    <%= link_to admin_role_path(@role), method: 'delete',
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure you want to delete this role?' } do %>
      <%= content_tag(:span, '', class: 'fa fa-trash') %>
      Delete
    <% end %>
  <% end %>
</div>

<h1><%= @role.name %> <small><%= @role.key %></small></h1>

<p><%= @role.note %></p>

<div class="row">
  <div class="col-sm-6">
    <h2>Permissions</h2>
    <% if @permissions.any? %>
      <% @permissions.each do |p| %>
        <%= raw("<span class=\"badge badge-success\">&check; #{p.name}</span>") %>
      <% end %>
    <% else %>
      None
    <% end %>
  </div>

  <div class="col-sm-6">
    <h2>Users</h2>
    <% if @role.users.any? %>
      <ul>
        <% @role.users.each do |user| %>
          <li><%= link_to user.username, admin_user_path(user) %></li>
        <% end %>
      </ul>
    <% else %>
      None
    <% end %>
  </div>
</div>
