<% provide :title, 'Themes' %>
<% provide :body_id, 'themes' %>
<% provide :active_nav, 'website' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Themes</li>
</ol>

<div class="btn-group pull-right">
  <%= link_to new_admin_theme_path, class: 'btn btn-default' do %>
    <i class="fa fa-plus"></i> New Theme
  <% end %>
</div>

<h1>Themes</h1>

<div class="alert alert-info">
  <ul>
    <li>The default theme will be used throughout the public website, but can be
      overridden on a per-collection basis.</li>
    <li>Changes made here will not affect the corresponding theme folder on
      disk.</li>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:1%"></th>
      <th style="width:1%"></th>
      <th style="width:1%"></th>
      <th>Theme</th>
      <th>Path (relative to application root)</th>
    </tr>
  </thead>
  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td>
          <% unless theme.required %>
            <%= link_to 'Edit', edit_admin_theme_path(theme),
                          class: 'btn btn-default btn-xs' %>
          <% end %>
        </td>
        <td>
          <% unless theme.required %>
            <%= link_to 'Delete', admin_theme_path(theme),
                        class: 'btn btn-danger btn-xs', method: :delete,
                        data: { confirm: "Are you sure you want to delete the "\
                        "theme \"#{theme.name}\"? Its folder (if present) "\
                        "will not be touched." } %>
          <% end %>
        </td>
        <td class="text-center">
          <% if theme.default %>
            <span class="label label-success">Default</span>
          <% else %>
            <%= link_to 'Set As Default', admin_theme_path(theme, theme: { default: true }),
                        class: 'btn btn-default btn-xs', method: :patch %>
          <% end %>
        </td>
        <td><%= theme.name %></td>
        <td>
          <%= theme.pathname %>
          <% if File.exist?(File.join(Rails.root, theme.pathname)) %>
            <span class="label label-success">OK</span>
          <% else %>
            <span class="label label-danger">Not Found</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
