<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <%= admin_paginate_collections(@count, @limit, @current_page) %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <th>Collection</th>
    <th>Objects</th>
    <th>Items</th>
    <th class="text-center">Public in Medusa</th>
    <th class="text-center">Published</th>
    <th class="text-center">Harvestable</th>
  </thead>
  <tbody>
    <% @collections.each do |col| %>
      <tr>
        <td><%= link_to col.title, admin_collection_path(col) %></td>
        <td><%= number_with_delimiter(col.num_objects) %></td>
        <td><%= number_with_delimiter(col.num_items) %></td>
        <td class="text-center <%= col.public_in_medusa ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(col.public_in_medusa) %>
        </td>
        <td class="text-center <%= col.published_in_dls ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(col.published_in_dls) %>
        </td>
        <td class="text-center <%= col.harvestable ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(col.harvestable) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <%= admin_paginate_collections(@count, @limit, @current_page) %>
  </div>
</div>
