- page_links = admin_paginate_collections(@count, @limit, @current_page)
.row.justify-content-md-center
  .col-md-auto.mb-3
    = page_links
%table.table.table-striped
  %thead
    %th Collection
    %th Objects
    %th Items
    %th.text-center Public in Medusa
    %th.text-center Published
    %th.text-center Harvestable (in general)
    %th.text-center Harvestable by IDHH
    %th.text-center Harvestable by Primo
  %tbody
    - @collections.each do |col|
      %tr
        %td= link_to col.title, admin_collection_path(col)
        %td= number_with_delimiter(col.num_objects)
        %td= number_with_delimiter(col.num_items)
        %td{class: "text-center #{col.public_in_medusa ? 'success' : 'danger'}"}
          = boolean(col.public_in_medusa)
        %td{class: "text-center #{col.published_in_dls ? 'success' : 'danger'}"}
          = boolean(col.published_in_dls)
        %td{class: "text-center #{col.harvestable ? 'success' : 'danger'}"}
          = boolean(col.harvestable)
        %td{class: "text-center #{col.harvestable_by_idhh ? 'success' : 'danger'}"}
          = boolean(col.harvestable_by_idhh)
        %td{class: "text-center #{col.harvestable_by_primo ? 'success' : 'danger'}"}
          = boolean(col.harvestable_by_primo)
.row.justify-content-md-center
  .col-md-auto
    = page_links
