= form_for([:admin, @collection]) do |f|
  = hidden_field_tag :current_descriptive_element_id, @collection.descriptive_element_id

  - if @collection.items.any?
    .alert.alert-light
      = icon_for(:info)
      The fields in this section can only be changed when the collection is empty.
  .form-group
    = f.label :package_profile_id, 'Package Profile'
    = select(:collection, :package_profile_id,
             @package_profile_options_for_select,
             { include_blank: 'None (External Content)' },
             class: 'custom-select',
             disabled: @collection.items.any?)
  .form-group
    = f.label :medusa_file_group_uuid, 'Medusa File Group UUID'
    = f.text_field(:medusa_file_group_uuid, class: 'form-control',
                   disabled: @collection.items.any?)
  .form-group
    = f.label :medusa_directory_uuid, 'Medusa Directory UUID'
    = f.text_field(:medusa_directory_uuid, class: 'form-control',
                   disabled: @collection.items.any?)
    %span.form-text.text-muted
      If omitted, the root directory of the file group will be used.

  %hr
  .form-group
    = f.label :metadata_profile_id, 'Metadata Profile'
    = select(:collection, :metadata_profile_id,
             @metadata_profile_options_for_select, {},
             class: 'custom-select')
  .form-group
    = f.label :descriptive_element_id, 'Descriptive Element'
    = select(:collection, :descriptive_element_id,
             @descriptive_element_options_for_select,
             { include_blank: true },
             class: 'custom-select')
  .form-group
    = f.label :contentdm_alias, 'CONTENTdm Alias'
    = f.text_field(:contentdm_alias, class: 'form-control')
  .form-group
    - groups  = VocabularyTerm.rights_related.uniq{ |t| t.vocabulary.name }.map(&:vocabulary).map{ |v| [v.name, v.vocabulary_terms.map{ |t| [t.string, t.uri] }] }
    - options = grouped_options_for_select(groups, selected: f.object.rights_term_uri)
    = f.label :rights_term_uri, 'Rights Term'
    = f.select :rights_term_uri,
               options,
               { include_blank: true },
               { class: 'custom-select' }

  .float-right
    %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
    = f.submit 'Save Changes', class: 'btn btn-primary'
