%nav
  #nav-tab.nav.nav-tabs{role: "tablist"}
    %a#nav-technical-info-tab.nav-item.nav-link.active{"aria-controls": "nav-technical-info",
                                                       "aria-selected": "true",
                                                       "data-toggle": "tab",
                                                       href: "#nav-technical-info",
                                                       role: "tab"} Technical Info
    %a#nav-representation-tab.nav-item.nav-link{"aria-controls": "nav-representation",
                                                "aria-selected": "true",
                                                "data-toggle": "tab",
                                                href: "#nav-representation",
                                                role: "tab"} Representation
    %a#nav-access-tab.nav-item.nav-link{"aria-controls": "nav-access",
                                        "aria-selected": "false",
                                        "data-toggle": "tab",
                                        href: "#nav-access",
                                        role: "tab"} Access
    %a#nav-watchers-tab.nav-item.nav-link{"aria-controls": "nav-watchers",
                                          "aria-selected": "false",
                                          "data-toggle": "tab",
                                          href: "#nav-watchers",
                                          role: "tab"}
      Watchers
      %span.badge.badge-pill.badge-secondary
        = @collection.watches.count
    %a#nav-sets-tab.nav-item.nav-link{"aria-controls": "nav-sets",
                                      "aria-selected": "false",
                                      "data-toggle": "tab",
                                      href: "#nav-sets",
                                      role: "tab"}
      Sets
      %span.badge.badge-pill.badge-secondary
        = @collection.item_sets.count
    %a#nav-elasticsearch-tab.nav-item.nav-link{"aria-controls": "nav-elasticsearch",
                                               "aria-selected": "false",
                                               "data-toggle": "tab",
                                               href: "#nav-elasticsearch",
                                               role: "tab"} Elasticsearch

#nav-tabContent.tab-content
  #nav-technical-info.tab-pane.fade.show.active{"aria-labelledby": "nav-technical-info-tab",
                                                role: "tabpanel"}
    = render partial: 'admin/collections/show_info_tab'

  #nav-representation.tab-pane.fade{"aria-labelledby": "nav-representation-tab",
                                    role: "tabpanel"}
    = render partial: 'admin/collections/show_representation_tab'

  #nav-access.tab-pane.fade{"aria-labelledby": "nav-access-tab",
                            role: "tabpanel"}
    = render partial: 'admin/collections/show_access_tab'

  #nav-watchers.tab-pane.fade{"aria-labelledby": "nav-watchers-tab",
                              role: "tabpanel"}
    = render partial: 'admin/collections/show_watchers_tab'

  #nav-sets.tab-pane.fade{"aria-labelledby": "nav-sets-tab",
                          role: "tabpanel"}
    = render partial: 'admin/collections/show_sets_tab'

  #nav-elasticsearch.tab-pane.fade{"aria-labelledby": "nav-elasticsearch-tab",
                                   role: "tabpanel"}
    = render partial: 'admin/collections/show_elasticsearch_tab'