<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Collections', admin_collections_path %></li>
  <li class="active"><%= truncate(@collection.title, length: 50) %></li>
</ol>

<div class="btn-group pull-right">
  <%= link_to @collection, class: 'btn btn-default' do %>
    <i class="fa fa-globe"></i> Public View
  <% end %>
  <%= link_to edit_admin_collection_def_path(@collection.collection_def),
              class: 'btn btn-default' do %>
    <i class="fa fa-pencil-square-o"></i> Edit
  <% end %>
</div>

<h1><%= @collection.title %>
  <small><%= link_to(pluralize(@collection.num_items, 'item'),
                     admin_items_path('collections[]' => @collection.id)) %></small>
  <% if @collection.subtitle %>
    <br><small><%= @collection.subtitle %></small>
  <% end %>
</h1>

<div class="row">

  <div class="col-sm-6" id="pt-metadata">
    <%= metadata_as_table(@collection) %>
  </div>

  <div class="col-sm-6">
    <dl>
      <dt>Metadata Profile</dt>
      <dd>
        <%= @collection.collection_def.metadata_profile.name %>
      </dd>
      <dt>Theme</dt>
      <dd>
        <%= @collection.collection_def.theme ? @collection.collection_def.theme.name :
                "Default (#{Theme.default.name})" %>
      </dd>
      <dt>Created</dt>
      <dd><%= local_time(@collection.created) %></dd>
      <dt>Last Indexed</dt>
      <dd><%= local_time(@collection.last_indexed) %>)</dd>
      <dt>Last Modified</dt>
      <dd><%= local_time(@collection.last_modified) %>)</dd>
    </dl>
  </div>

</div>
