<% provide :body_id, 'edit_collections' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Collections', admin_collections_path %></li>
  <li><%= link_to @collection.title, admin_collection_path(@collection) %></li>
  <li class="active">Edit</li>
</ol>

<h1>Edit <%= @collection.title %></h1>

<%= render partial: 'form', locals: { collection: @collection, context: :edit } %>
