<% provide :title, 'Collections' %>
<% provide :body_id, 'admin_collections_index' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Collections' }) %>

<div class="btn-group float-right" role="group">
  <!-- Index button -->
  <%= link_to admin_collections_sync_path, method: 'patch', class: 'btn btn-light' do %>
    <i class="fas fa-sync-alt"></i> Index Collections Metadata From Medusa
  <% end %>

  <!-- Metadata menu -->
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-list"></i> Metadata <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      <%= link_to 'Export As TSV', admin_collections_path(format: 'tsv'),
                  target: '_blank', class: 'dropdown-item' %>
    </div>
  </div>

  <!-- View menu -->
  <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i> View <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to Configuration.instance.medusa_url + '/collections',
                  target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-database"></i> Medusa
      <% end %>
    </div>
  </div>
</div>

<h1>Collections</h1>

<div class="card">
  <div class="card-body">
    <%= form_tag admin_collections_path, method: 'get', class: 'dl-filter' do %>
      <div class="form-inline">
        <%= search_field_tag :q, params[:q], placeholder: 'Filter',
                             class: 'form-control mr-3' %>
        <div class="form-check form-check-inline">
          <label>
            <%= hidden_field_tag(:public_in_medusa, '0') %>
            <%= check_box_tag(:public_in_medusa, '1') %>
            &nbsp;Public in Medusa
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label>
            <%= hidden_field_tag(:published_in_dls, '0') %>
            <%= check_box_tag(:published_in_dls, '1') %>
            &nbsp;Published in DLS
          </label>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="collections">
  <%= render 'collections' %>
</div>

