<% provide :title, 'Collections' %>
<% provide :body_id, 'admin_collections_index' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb %>

<div class="pull-right">
  <%= form_tag admin_collections_path, method: 'get', class: 'pt-live-search' do %>
    <div class="form-inline">
      <%= search_field_tag :q, params[:q], placeholder: 'Search',
                           class: 'form-control' %>
      <%= link_to admin_collections_sync_path, method: 'patch', class: 'btn btn-default' do %>
          <i class="fa fa-refresh"></i> Sync
      <% end %>
    <% end %>
  </div>
</div>

<h1>Collections <small><%= @collections.total_length %> total</small></h1>

<div id="collections">
  <%= render 'collections' %>
</div>

