<% provide :title, @collection.title %>
<% provide :body_id, 'collections_show' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb(collection: @collection) %>

<div class="btn-group pull-right" role="group">
  <!-- Objects button -->
  <%= link_to admin_collection_items_path(@collection),
              class: 'btn btn-default' do %>
    <%= icon_for(Item) %> Objects
  <% end %>
  <!-- Edit button -->
  <%= link_to edit_admin_collection_path(@collection),
              class: 'btn btn-default' do %>
    <i class="fa fa-pencil-square-o"></i> Edit
  <% end %>
  <!-- Statistics button -->
  <%= link_to admin_collection_statistics_path(@collection),
              class: 'btn btn-default' do %>
    <i class="fa fa-bar-chart-o"></i> Statistics
  <% end %>
  <!-- View menu -->
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-eye"></i>
    View <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li>
      <%= link_to collection_path(@collection), target: '_blank' do %>
        <i class="fa fa-globe"></i> Public Website
      <% end %>
    </li>
    <li>
      <%= link_to @collection.medusa_url, target: '_blank' do %>
        <i class="fa fa-database"></i> Medusa
      <% end %>
    </li>
    <% if Rails.env.development? %>
      <li class="divider"></li>
      <li>
        <%= link_to(Configuration.instance.solr_url.chomp('/') + '/' +
                        Configuration.instance.solr_core +
                        "/select?wt=json&indent=true&q=id:#{@collection.repository_id}", target: '_blank') do %>
          <i class="fa fa-search"></i>&nbsp;&nbsp;Solr (DEVELOPMENT)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<h1><%= @collection.title %></h1>

<div class="row">

  <div class="col-sm-4">
    <h3>Parents &amp; Children</h3>
    <%= admin_collection_hierarchy(@collection) %>
  </div>

  <div class="col-sm-8">
    <h3>Technical Info</h3>

    <table class="table">
      <tr>
        <td>ID</td>
        <td><%= @collection.repository_id %></td>
      </tr>
      <tr>
        <td>External ID</td>
        <td><%= @collection.external_id %></td>
      </tr>
      <tr>
        <td>Medusa</td>
        <td>
          <span class="label <%= @collection.published_in_medusa ? 'label-success' : 'label-danger' %>">
          <%= @collection.published_in_medusa ? 'Published' : 'Unpublished' %></span>
        </td>
      </tr>
      <tr>
        <td>DLS</td>
        <td>
          <span class="label <%= @collection.published_in_dls ? 'label-success' : 'label-danger' %>">
          <%= @collection.published_in_dls ? 'Published' : 'Unpublished' %></span>
          <span class="label <%= @collection.harvestable ? 'label-success' : 'label-danger' %>">
          <%= @collection.harvestable ? 'Harvestable' : 'Unharvestable' %></span>
        </td>
      </tr>
      <tr>
        <td>Metadata Profile</td>
        <td>
          <% if @collection.metadata_profile %>
              <%= link_to(@collection.metadata_profile.name,
                          admin_metadata_profile_path(@collection.metadata_profile)) %>
          <% else %>
              <%= link_to("Default (#{MetadataProfile.default.name})",
                          admin_metadata_profile_path(MetadataProfile.default)) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Package Profile</td>
        <td>
          <%= @collection.package_profile ?
                  @collection.package_profile.name : 'None' %>
        </td>
      </tr>
      <tr>
        <td>Medusa File Group</td>
        <td>
          <% if @file_group %>
              <%= link_to("#{@file_group.title} (#{@file_group.uuid})",
                          @file_group.url, target: '_blank') %>
          <% else %>
              None
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Medusa CFS Directory</td>
        <td>
          <% if @collection.medusa_cfs_directory %>
              <%= link_to(@collection.medusa_cfs_directory_id,
                          @collection.medusa_cfs_directory.url,
                          target: '_blank') %>
          <% else %>
              Same as File Group
          <% end %>
        </td>
      </tr>
      <tr>
        <td>CONTENTdm Alias</td>
        <td>
          <% if @collection.contentdm_alias.present? %>
              <%= @collection.contentdm_alias %>
          <% else %>
              None
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Rights Statement</td>
        <td>
          <%= @collection.rights_statement.present? ?
                  @collection.rights_statement : 'None' %>
        </td>
      </tr>
      <tr>
        <td>RightsStatements.org</td>
        <td>
          <%= @collection.rightsstatements_org_statement ?
                  @collection.rightsstatements_org_statement.name : 'None' %>
        </td>
      </tr>
      <tr>
        <td>Allowed Roles</td>
        <td>
          <% if @collection.allowed_roles.any? %>
            <ul>
              <% @collection.allowed_roles.each do |role| %>
                <li><%= link_to role.name, admin_role_path(role) %></li>
              <% end %>
            </ul>
          <% else %>
            Any
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Denied Roles</td>
        <td>
          <% if @collection.denied_roles.any? %>
            <ul>
              <% @collection.denied_roles.each do |role| %>
                <li><%= link_to role.name, admin_role_path(role) %></li>
              <% end %>
            </ul>
          <% else %>
            None
          <% end %>
        </td>
      </tr>
    </table>
  </div>

</div>

