<% provide :title, @collection.title %>
<% provide :body_id, 'collections_show' %>
<% provide :active_nav, 'entities' %>

<%= admin_breadcrumb(collection: @collection) %>

<div class="btn-group pull-right">
  <%= link_to admin_collection_items_path(@collection),
              class: 'btn btn-default' do %>
    <%= icon_for(@collection) %> <%= @collection.num_items %> Items
  <% end %>
  <%= link_to collection_path(@collection), class: 'btn btn-default',
              target: '_blank' do %>
    <i class="fa fa-globe"></i> Public View
  <% end %>
  <%= link_to @collection.medusa_url, class: 'btn btn-default', target: '_blank' do %>
    <i class="fa fa-database"></i> Medusa View
  <% end %>
  <%= link_to edit_admin_collection_path(@collection),
              class: 'btn btn-default' do %>
    <i class="fa fa-pencil-square-o"></i> Edit
  <% end %>
</div>

<h1><%= @collection.title %></h1>

<div class="row">

  <div class="col-md-8 col-sm-7">
    <section>
      <h3>Description</h3>
      <%= raw @collection.description_html %>
    </section>
    <section>
      <h3>Rights Statement</h3>
      <%= @collection.rights_statement.present? ?
              @collection.rights_statement : 'None' %>
    </section>
    <section class="pt-rights">
      <h3>RightsStatements.org</h3>
      <% if @collection.rightsstatements_org_statement %>
        <%= link_to(@collection.rightsstatements_org_statement.info_uri,
                    target: '_blank') do %>
          <%= image_tag(@collection.rightsstatements_org_statement.image,
                        alt: @collection.rightsstatements_org_statement.name) %>
        <% end %>
      <% else %>
        Not Set
      <% end %>
    </section>
  </div>

  <div class="col-md-4 col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technical Info</h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>ID</dt>
          <dd>
            <%= @collection.repository_id %>
          </dd>
          <dt>Metadata Profile</dt>
          <dd>
            <% if @collection.metadata_profile %>
              <%= link_to(@collection.metadata_profile.name,
                          admin_metadata_profile_path(@collection.metadata_profile)) %>
            <% else %>
              <%= link_to("Default (#{MetadataProfile.default.name})",
                          admin_metadata_profile_path(MetadataProfile.default)) %>
            <% end %>
          </dd>
          <dt>Package Profile</dt>
          <dd>
            <%= @collection.package_profile ?
                    @collection.package_profile.name : 'None' %>
          </dd>
          <dt>Medusa File Group</dt>
          <dd>
            <% if @file_group %>
              <%= link_to("#{@file_group.title} (#{@file_group.uuid})",
                          @file_group.url, target: '_blank') %>
            <% else %>
              None
            <% end %>
          </dd>
          <dt>Medusa CFS Directory</dt>
          <dd>
            <% if @collection.medusa_cfs_directory %>
              <%= link_to(@collection.medusa_cfs_directory_id,
                          @collection.medusa_cfs_directory.url,
                          target: '_blank') %>
            <% else %>
              Same as File Group
            <% end %>
          </dd>
          <dt>CONTENTdm Alias</dt>
          <dd>
            <% if @collection.contentdm_alias.present? %>
              <%= @collection.contentdm_alias %>
            <% else %>
              None
            <% end %>
          </dd>
          <dt>Medusa</dt>
          <dd>
            <span class="label <%= @collection.published ? 'label-success' : 'label-danger' %>">
            <%= @collection.published ? 'Published' : 'Unpublished' %></span>
          </dd>
          <dt>DLS</dt>
          <dd>
            <span class="label <%= @collection.published_in_dls ? 'label-success' : 'label-danger' %>">
            <%= @collection.published_in_dls ? 'Published' : 'Unpublished' %></span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

</div>

