<% provide :title, @collection.title %>
<% provide :body_id, 'collections_show' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Collections', admin_collections_path %></li>
  <li class="active"><%= truncate(@collection.title, length: 50) %></li>
</ol>

<div class="btn-group pull-right">
  <%= link_to collection_path(@collection), class: 'btn btn-default',
              target: '_blank' do %>
    <i class="fa fa-globe"></i> Public View
  <% end %>
  <%= link_to @collection.medusa_url, class: 'btn btn-default', target: '_blank' do %>
    <i class="fa fa-database"></i> Medusa View
  <% end %>
  <%= link_to edit_admin_collection_path(@collection),
              class: 'btn btn-default' do %>
    <i class="fa fa-pencil-square-o"></i> Edit
  <% end %>
</div>

<h1><%= @collection.title %></h1>

<div class="row">

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        <%= raw @collection.description_html %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technical Info</h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Metadata Profile</dt>
          <dd>
            <%= @collection.metadata_profile ? @collection.metadata_profile.name :
                    "Default (#{MetadataProfile.default.name})" %>
          </dd>
          <dt>Theme</dt>
          <dd>
            <%= @collection.theme ? @collection.theme.name :
                    "Default (#{Theme.default.name})" %>
          </dd>
          <dt>Medusa File Group</dt>
          <dd>
            <% if @file_group %>
              <%= link_to("#{@file_group.title} (#{@file_group.id})",
                          @file_group.url, target: '_blank') %>
            <% else %>
              None
            <% end %>
          </dd>
          <dt>Medusa CFS Directory</dt>
          <dd>
            <% if @collection.medusa_cfs_directory %>
              <%= link_to(@collection.medusa_cfs_directory_id,
                          @collection.medusa_cfs_directory.url,
                          target: '_blank') %>
            <% else %>
              Same as File Group
            <% end %>
          </dd>
          <dt>Medusa</dt>
          <dd>
            <span class="label <%= @collection.published ? 'label-success' : 'label-danger' %>">
            <%= @collection.published ? 'Published' : 'Unpublished' %></span>
          </dd>
          <dt>DLS</dt>
          <dd>
            <span class="label <%= @collection.published_in_dls ? 'label-success' : 'label-danger' %>">
            <%= @collection.published_in_dls ? 'Published' : 'Unpublished' %></span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

</div>

