<% provide :title, "#{@collection.title}: Statistics" %>
<% provide :body_id, 'collection_statistics' %>
<% provide :active_nav, 'collections' %>

<%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                     { label: 'Collections', url: admin_collections_path },
                     { label: @collection.title, url: admin_collection_path(@collection) },
                     { label: 'Statistics' }) %>

<h1><%= @collection.title %></h1>

<h2>Statistics</h2>

<h3>Items</h3>

<table class="table">
  <tr>
    <td>Objects</td>
    <td><%= number_with_delimiter(@num_objects) %></td>
  </tr>
  <tr>
    <td>Items</td>
    <td><%= number_with_delimiter(@num_items) %></td>
  </tr>
</table>

<hr>

<h3>Binaries</h3>

<table class="table">
  <tr>
    <td>Total</td>
    <td><%= number_with_delimiter(@num_binaries) %></td>
  </tr>
  <% @extension_counts.each do |ext| %>
    <tr>
      <td>.<%= ext['extension'].gsub(/[\\{\\}]/, '') %></td>
      <td><%= number_with_delimiter(ext['count']) %></td>
    </tr>
  <% end %>
</table>

<hr>

<h3>Metadata</h3>

<table class="table">
  <tr>
    <td>Ascribed Descriptive Elements</td>
    <td><%= number_with_delimiter(@num_ascribed_elements) %></td>
  </tr>
</table>
