- provide :title, 'Settings'
- provide :body_id, 'settings'
- provide :active_nav, 'website'

= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                   { label: 'Settings' })

%h1 Settings

= form_tag(admin_settings_path, method: :patch) do
  %h2 General
  .form-group.row
    = label_tag("options[#{Setting::Keys::ORGANIZATION_NAME}]",
                'Organization Name',
                class: 'col-sm-3 col-form-label')
    .col-sm-9
      = text_field_tag("options[#{Setting::Keys::ORGANIZATION_NAME}]",
                       Setting::string(Setting::Keys::ORGANIZATION_NAME),
                       class: 'form-control')
  .form-group.row
    = label_tag("options[#{Setting::Keys::ADMINISTRATOR_EMAIL}]",
                'Administrator Email',
                class: 'col-sm-3 col-form-label')
    .col-sm-9
      = text_field_tag("options[#{Setting::Keys::ADMINISTRATOR_EMAIL}]",
                       Setting::string(Setting::Keys::ADMINISTRATOR_EMAIL),
                       class: 'form-control')
  .form-group.row
    = label_tag("options[#{Setting::Keys::COPYRIGHT_STATEMENT}]",
                'Copyright Statement',
                class: 'col-sm-3 col-form-label')
    .col-sm-9
      = text_field_tag("options[#{Setting::Keys::COPYRIGHT_STATEMENT}]",
                       Setting::string(Setting::Keys::COPYRIGHT_STATEMENT),
                       class: 'form-control')

  %h2 Website
  .form-group.row
    = label_tag("options[#{Setting::Keys::WEBSITE_NAME}]", 'Name',
                class: 'col-sm-3 col-form-label')
    .col-sm-9
      = text_field_tag("options[#{Setting::Keys::WEBSITE_NAME}]",
                       Setting::string(Setting::Keys::WEBSITE_NAME),
                       class: 'form-control')
  .form-group.row
    = label_tag("options[#{Setting::Keys::DEFAULT_RESULT_WINDOW}]",
                'Results Per Page',
                class: 'col-sm-3 col-form-label')
    .col-sm-9
      = number_field_tag("options[#{Setting::Keys::DEFAULT_RESULT_WINDOW}]",
                         Setting::integer(Setting::Keys::DEFAULT_RESULT_WINDOW),
                         class: 'form-control')
  .form-group.row
    .col-sm-3
    .col-sm-9
      = submit_tag 'Save Changes', class: 'btn btn-primary'
