-# requires the following locals: item

#dl-cite-modal.modal.fade{"aria-labelledby": "dl-cite-modal-label",
                          tabindex: "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header
        %h3#dl-cite-modal-label.modal-title Cite This Item
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        = render partial: 'permalink_section', locals: { item: item }
        %hr/
        %div{"data-item-id": "#{item.repository_id}"}
          = hidden_field_tag('dl-citation-author', item.element(:creator)&.value)
          = hidden_field_tag('dl-citation-collection', item.collection.title)
          - if item.date
            = hidden_field_tag('dl-citation-date', item.date.utc.iso8601)
          - else 
            = hidden_field_tag('dl-citation-date-created', item.created_at.iso8601)
          = hidden_field_tag('dl-citation-source',
                             Setting::string(Setting::Keys::ORGANIZATION_NAME))
          = hidden_field_tag('dl-citation-title', item.title)
          = hidden_field_tag('dl-citation-url', item_url(item))
          = hidden_field_tag('dl-citation-repository', item.collection.medusa_repository.title)
          %select.custom-select{name: "dl-citation-format"}
            %option APA
            %option Chicago
            %option MLA
          .panel.panel-default
            .card-body
              %p.dl-citation
