<h4>Persistent URL</h4>
<p><%= item_url(item) %></p>

<hr>

<div data-item-id="<%= item.repository_id %>">
  <%= hidden_field_tag('pt-citation-author', item.element(:creator)&.value) %>
  <%= hidden_field_tag('pt-citation-date-created', item.created_at.iso8601) %>
  <%= hidden_field_tag('pt-citation-source',
                       Option::string(Option::Key::ORGANIZATION_NAME)) %>
  <%= hidden_field_tag('pt-citation-title', item.title) %>
  <%= hidden_field_tag('pt-citation-url', item_url(item)) %>

  <select name="pt-citation-format" class="form-control">
    <option>APA</option>
    <option>Chicago</option>
    <option>MLA</option>
  </select>

  <div class="panel panel-default">
    <div class="panel-body">
      <p class="pt-citation"></p>
    </div>
  </div>
</div>