<% # requires the following locals: item %>

<%
  display_thumbs = (item.variant == Item::Variants::FILE and item.parent)
  items = display_thumbs ?
      item.parent.items_in_iiif_presentation_order.limit(999).to_a : []
%>

<div class="modal fade" id="pt-download-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-download-modal-label" data-backdrop="false">
  <div class="modal-dialog <%= display_thumbs ? 'modal-lg' : '' %>" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="pt-download-modal-label">Download</h3>
      </div>
      <div class="modal-body">
        <% if display_thumbs %>
          <div class="row">
            <div class="col-xs-5">
              <div id="pt-image-select">
                <% items.each do |subitem| %>
                  <div class="radio">
                    <label>
                      <%= radio_button_tag('pt-downloadable-item', nil,
                                           (item.repository_id == subitem.repository_id),
                                           data: {
                                               'item-id': subitem.repository_id
                                           }) %>
                      <%= thumbnail_tag(subitem) %>
                      <%= subitem.title %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-7">
              <% items.each do |subitem| %>
                <div class="pt-citation-info" data-item-id="<%= subitem.repository_id %>">
                  <div class="alert alert-info">
                    Please use the following citation when using this resource:
                  </div>
                  <hr>
                  <%= render partial: 'cite_panel_body', locals: { item: subitem } %>
                </div>
                <%= download_radios_for_item(subitem) %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="pt-citation-info" data-item-id="<%= item.repository_id %>">
            <div class="alert alert-info">
              Please use the following citation when using this resource:
            </div>
            <%= render partial: 'cite_panel_body', locals: { item: item } %>
          </div>
          <hr>
          <%= download_radios_for_item(item) %>
        <% end %>
      </div>
      <div class="modal-footer">
        <a id="pt-download-button" class="btn btn-primary" type="button" download
           href="">Download</a>
      </div>
    </div>
  </div>
</div>