<% # Requires the following locals: item %>

<table class="table">
  <tbody>
    <% item.binaries.order(master_type: :desc).each do |binary| %>
      <tr>
        <td>
          <div class="pt-thumbnail">
            <%= thumbnail_tag(binary, ItemsHelper::DEFAULT_THUMBNAIL_SIZE, :square) %>
          </div>
        </td>
        <td>
          <b><%= binary.human_readable_master_type %></b>
          <br><%= binary.human_readable_media_category %>
        </td>
        <td>
          <%= link_to binary_url(binary), class: 'btn btn-default btn-sm',
                      target: '_blank' do %>
            <i class="fa fa-image"></i>
            <%= "#{binary.human_readable_name} (#{number_to_human_size(binary.byte_size)})" %>
          <% end %>

          <% if binary.iiif_safe? and
              binary.media_category == Binary::MediaCategory::IMAGE %>
            <a href="#" class="btn btn-default btn-sm"
               onclick="return false;"
               data-toggle="modal"
               data-target="#pt-custom-image-modal"
               data-iiif-url="<%= binary.iiif_image_url %>"
               data-iiif-info-url="<%= binary.iiif_info_url %>"
               data-title="<%= item.title %>">
              <i class="fa fa-image"></i> Custom Image Format&hellip;</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
