<%
  # Requires the following locals:
  # item [Item]
  # expanded [Boolean]
%>

<% if item.directory? or item.is_compound? or item.binaries.any? or
    item.effective_image_binary&.media_category == Binary::MediaCategory::IMAGE %>

  <section id="dl-download-section">
    <h2>
      <a role="button" data-toggle="collapse" href="#dl-download"
         aria-expanded="true" aria-controls="dl-download">Download</a>
    </h2>

    <div id="dl-download" class="collapse <%= expanded ? 'in' : '' %>">

      <div class="btn-group" style="margin: 0.4em 0em 0.8em 0em">
        <% if client_supports_file_downloads? %>
          <%= link_to('',
                      class: 'btn btn-default',
                      target: '_blank',
                      'data-toggle': 'modal',
                      'data-target': '#dl-download-zip-modal') do %>
            <i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;Zip of Masters&hellip;
          <% end %>
          <% if item.binaries.reject(&:is_image?).empty? and !item.directory? %>
            <%= link_to(item_url(item, format: :zip, contents: :jpegs),
                        target: '_blank', class: 'btn btn-default') do %>
              <i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;Zip of JPEGs
            <% end %>
          <% end %>
        <% end %>

        <% if item.is_compound? %>
          <%= link_to(item_url(item, format: :pdf),
                      class: 'btn btn-default', target: '_blank') do %>
            <i class="fa fa-file-pdf-o"></i> PDF
          <% end %>
        <% end %>
      </div>

      <table class="table">
        <tbody>
          <% if @downloadable_items.any? %>
            <% @downloadable_items.each do |subitem| %>
              <%= render partial: 'download_table_rows', locals: { item: subitem } %>
            <% end %>
          <% elsif !item.directory? %>
            <%= render partial: 'download_table_rows', locals: { item: item } %>
          <% end %>
        </tbody>
      </table>

    </div>
  </section>

  <%= render partial: 'custom_image_panel' %>
  <%= render partial: 'download_zip_panel', locals: {
      context: item.directory? ? :directory : :item,
      num_downloadable_items: 0, # this is potentially expensive to calculate.
      total_byte_size: @total_byte_size } %>

<% end %>
