-# Requires the following locals:
-#
-# item [Item]
-# expanded [Boolean]
-# show_heading [Boolean] Whether to show the "Download Options" heading.
-# link_to_items [Boolean] Whether to link item titles to show-item pages.

- show_heading = true unless defined?(show_heading)
- link_to_items = false unless defined?(link_to_items)

%section#dl-download-section
  - if show_heading
    %h2
      %a{"aria-controls": "dl-download",
         "aria-expanded": "true",
         "data-toggle": "collapse",
         href: "#dl-download",
         role: "button"} Download Options
  #dl-download{class: "collapse #{expanded ? 'show' : ''}"}
    .btn-group.mt-2.mb-2
      - if @show_zip_of_masters
        = link_to('',
                  class:         'btn btn-light',
                  'data-toggle': 'modal',
                  'data-target': '#dl-download-zip-modal') do
          %i.far.fa-file-archive
            Zip of Original Files&hellip;
      - if @show_zip_of_jpegs
        = link_to('',
                  class:         'btn btn-light',
                  'data-toggle': 'modal',
                  'data-target': '#dl-download-zip-of-jpegs-modal') do
          %i.far.fa-file-archive
            Zip of JPEGs
      - if @show_pdf
        = link_to('',
                  class:         'btn btn-light',
                  'data-toggle': 'modal',
                  'data-target': '#dl-download-pdf-modal') do
          %i.far.fa-file-pdf
          PDF
    %table.table
      %tbody
        - if @downloadable_items.any?
          - @downloadable_items.each do |subitem|
            = render partial: 'download_table_row', locals: { item: subitem, link_to_items: link_to_items }
        - elsif !item.directory?
          = render partial: 'download_table_row', locals: { item: item, link_to_items: link_to_items }

= render partial: 'custom_image_panel'
-# num_downloadable_items is potentially expensive to calculate.
= render partial: 'download_zip_panel',
         locals: { context: item.directory? ? :directory : :item,
                   num_downloadable_items: item.directory? ? @downloadable_items.length : (item.file? ? 1 : @downloadable_items.length),
                   total_byte_size: @total_byte_size }
= render partial: 'download_zip_of_jpegs_panel', locals: { item: item }
= render partial: 'download_pdf_panel', locals: { item: item }
