-# Requires the following locals:
-#
-# item [Item]
-# link_to_items [Boolean] Whether to link item titles to show-item view.

- master       = item.binaries.find{ |b| b.master_type == (item.collection.free_form? ? Binary::MasterType::ACCESS : Binary::MasterType::PRESERVATION) && |
                   (b.public? || current_user&.medusa_user?) } |
- image_binary = item.effective_image_binary

- if master || (image_binary&.public? || current_user&.medusa_user?)
  %tr
    %td
      .dl-thumbnail
        - if link_to_items
          = link_to(item) do
            = thumbnail_tag(item, shape: :square, lazy: false)
        - else
          = thumbnail_tag(item, shape: :square, lazy: false)
    %td
      - if link_to_items
        = link_to(item.title, item)
      - else
        = item.title
    %td
      .btn-group
        - if master
          = link_to binary_object_path(master),
                    class: 'btn btn-outline-primary btn-sm' do
            = icon_for(master)
            Original File (#{master.human_readable_name})
        - if (image_binary&.public? || current_user&.medusa_user?) && image_binary&.image_server_safe? && !image_binary.is_pdf?
          %a.btn.btn-outline-primary.btn-sm{"data-iiif-info-url": image_binary.iiif_info_v2_url,
                                            "data-iiif-url":      image_binary.iiif_image_v2_url,
                                            "data-target":        "#dl-custom-image-modal",
                                            "data-title":         item.title,
                                            "data-toggle":        "modal",
                                            href:                 "#",
                                            onclick:              "return false;"}
            %i.fa.fa-image
            Custom Image&hellip;
