<%
  # Requires the following locals:
  # item [Item]
%>

<tr>
  <td>
    <div class="dl-thumbnail">
      <%= thumbnail_tag(item, shape: :square, lazy: true) %>
    </div>
  </td>
  <td>
    <%= item.title %>
  </td>
  <td>
    <div class="btn-group">
      <% if client_supports_file_downloads? %>
        <% access_master = item.binaries.select{ |b| b.master_type == Binary::MasterType::ACCESS }.first %>
        <% if access_master %>
          <%= link_to binary_path(access_master),
                      class: 'btn btn-default btn-sm',
                      target: '_blank' do %>
            <%= icon_for(access_master) %> <%= access_master.human_readable_name %> Master
          <% end %>
        <% end %>

        <% pres_master = item.binaries.select{ |b| b.master_type == Binary::MasterType::PRESERVATION }.first %>
        <% if pres_master %>
          <%= link_to binary_path(pres_master),
                      class: 'btn btn-default btn-sm',
                      target: '_blank' do %>
            <%= icon_for(pres_master) %> <%= pres_master.human_readable_name %> Master
          <% end %>
        <% end %>
      <% end %>

      <% if item.effective_image_binary&.iiif_safe? %>
        <a href="#" class="btn btn-default btn-sm"
           onclick="return false;"
           data-toggle="modal"
           data-target="#dl-custom-image-modal"
           data-iiif-url="<%= item.effective_image_binary.iiif_image_url %>"
           data-iiif-info-url="<%= item.effective_image_binary.iiif_info_url %>"
           data-title="<%= item.title %>">
          <i class="fa fa-image"></i> Custom Image&hellip;</a>
      <% end %>
    </div>
  </td>
</tr>
