<% # requires the following locals: item

display_thumbs = (item.is_compound? or (item.variant == Item::Variants::FILE and item.parent))
parent_item = item.is_compound? ? item : item.parent

%>

<div class="modal fade" id="pt-embed-image-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-embed-image-modal-label" data-backdrop="false">
  <div class="modal-dialog <%= display_thumbs ? 'modal-lg' : '' %>"
  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="pt-embed-image-modal-label">Embed Image</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <% if display_thumbs %>
            <div class="col-sm-4">
              <h4>Select an Image&hellip;</h4>
              <div id="pt-image-select">
                <% parent_item.items_in_iiif_presentation_order.
                    filter(Item::SolrFields::ACCESS_MASTER_MEDIA_TYPE => '(image/*)').
                    limit(999).to_a.each_with_index do |subitem, index| %>
                  <div class="radio">
                    <label>
                      <%= radio_button_tag('pt-embeddable-item', nil,
                                           (item.is_compound? ? (index == 0) : (item == subitem)),
                                           data: {
                                               'iiif-url': subitem.iiif_url,
                                               'iiif-info-url': subitem.iiif_info_url,
                                               title: subitem.title
                                           }) %>
                      <%= thumbnail_tag(subitem) %>
                      <%= subitem.title %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <h4>Image Options&hellip;</h4>
              <div id="iiif-download"></div>
            </div>
            <div class="col-sm-4">
              <%= render partial: 'embed_image_panel_code',
                         locals: { item: item } %>
            </div>
          <% else %>
            <div class="col-sm-6">
              <%= hidden_field_tag('pt-embeddable-item', nil, data: {
                  'iiif-url': item.iiif_url,
                  'iiif-info-url': item.iiif_info_url,
                  title: item.title
              }) %>
              <div id="iiif-download"></div>
            </div>
            <div class="col-sm-6">
              <%= render partial: 'embed_image_panel_code',
                         locals: { item: item } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>