<% if @count > 0 %>
  <div class="text-center">
    <%= paginate_items(@count, @limit, @current_page) %>
  </div>

  <div class="hidden-xs visible-sm visible-md visible-lg">
    <%= entities_as_list(@items, @start,
                         show_collections: !@collection) %>
  </div>
  <div class="dl-cards visible-xs hidden-sm">
    <%= entities_as_cards(@items) %>
  </div>

  <div class="text-center">
    <%= paginate_items(@count, @limit, @current_page) %>
  </div>
<% else %>
  <div class="dl-no-results">
    <%= no_results_help(params[:q], @suggestions) %>
  </div>
<% end %>
