-# Requires the following locals:
-# item [Item]

#item-show-buttons.btn-group.float-right{role: "group"}
  - if item.bib_id.present?
    = link_to item.catalog_record_url, class: 'btn btn-light', type: 'button' do 
      %i.fa.fa-book 
      Physical Item 
        
  = link_to '#dl-cite-modal', class: 'btn btn-light', "data-toggle": "modal" do 
    %i.fa.fa-quote-left
    Cite 
  - mailto = curator_mailto(item)
  - if mailto
    .btn-group
      %button.btn.btn-light.dropdown-toggle{"aria-expanded": "false",
                                            "aria-haspopup": "true",
                                            "data-toggle": "dropdown",
                                            type: "button"}
        %i.fa.fa-envelope
        Contact
        %span.caret
      .dropdown-menu.dropdown-menu-right{role: "menu"}
        = link_to mailto, class: 'dropdown-item' do
          %i.fa.fa-envelope
          Email Curator
  = share_button(item)
  .btn-group{role: "group"}
    %button.btn.btn-light.dropdown-toggle{"aria-expanded": "false",
                                          "aria-haspopup": "true",
                                          "data-toggle": "dropdown",
                                          type: "button"}
      %i.fa.fa-eye
      View
      %span.caret
    .dropdown-menu.dropdown-menu-right
      - if item.collection.physical_collection_url.present?
        = link_to item.collection.physical_collection_url,
                  target: '_blank',
                  class: 'dropdown-item' do
          = icon_for(item.collection)
          Physical Collection
      = link_to @permitted_params.merge(format: :atom),
                target: '_blank',
                class: 'dropdown-item' do
        %i.fa.fa-rss
        Atom
      = link_to @permitted_params.merge(format: :json),
                target: '_blank',
                class: 'dropdown-item' do
        %i.fa.fa-code
        JSON
      - if item.has_iiif_manifest?
        = link_to item_iiif_manifest_path(item),
                  target: '_blank',
                  class: 'dropdown-item' do
          %i.fa.fa-code
          IIIF Presentation Manifest
      - unless item.compound?
        - bin = item.effective_viewer_binary
        - if bin
          = link_to bin.iiif_image_v2_url,
                    target: '_blank',
                    class: 'dropdown-item' do
            %i.fa.fa-code
            IIIF Image Information v2
          = link_to bin.iiif_image_v3_url,
                    target: '_blank',
                    class: 'dropdown-item' do
            %i.fa.fa-code
            IIIF Image Information v3
      - if current_user&.medusa_user?
        .dropdown-divider
        = link_to admin_collection_item_path(item.collection, item),
                  target: '_blank',
                  class: 'dropdown-item' do
          %i.fa.fa-lock
          Admin View

