<%
  # Requires the following locals:
  # item [Item]
%>

<div id="item-show-buttons" class="btn-group float-right" role="group">
  <%= share_button(item) %>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i> View <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to @permitted_params.merge(format: :atom),
                  target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-rss"></i>&nbsp;&nbsp;Atom
      <% end %>
      <%= link_to @permitted_params.merge(format: :json),
                  target: '_blank', class: 'dropdown-item' do %>
        <i class="fa fa-code"></i>&nbsp;JSON
      <% end %>

      <% if item.has_iiif_manifest? %>
        <%= link_to item_iiif_manifest_path(item), target: '_blank',
                    class: 'dropdown-item' do %>
          <i class="fa fa-code"></i>&nbsp;IIIF Presentation Manifest
        <% end %>
      <% end %>
      <% unless item.is_compound? %>
        <% bin = item.effective_viewer_binary %>
        <% if bin %>
          <%= link_to bin.iiif_image_url,
                      target: '_blank', class: 'dropdown-item' do %>
            <i class="fa fa-code"></i>&nbsp;IIIF Image Information
          <% end %>
        <% end %>
      <% end %>
      <% if item.bib_id.present? %>
        <%= link_to item.catalog_record_url,
                    target: '_blank', class: 'dropdown-item' do %>
          <i class="fa fa-book"></i>&nbsp;&nbsp;Library Catalog Record
        <% end %>
      <% end %>
      <% if item.collection.physical_collection_url.present? %>
        <%= link_to item.collection.physical_collection_url,
                    target: '_blank', class: 'dropdown-item' do %>
          <%= icon_for(item.collection) %>&nbsp;&nbsp;Physical Collection
        <% end %>
      <% end %>
      <% if signed_in? %>
        <div class="dropdown-divider"></div>
        <%= link_to admin_collection_item_path(item.collection, item),
                    target: '_blank', class: 'dropdown-item' do %>
          <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
        <% end %>
        <%= link_to(edit_admin_collection_item_path(item.collection, item) + '#dl-metadata',
                    target: '_blank', class: 'dropdown-item') do %>
          <i class="fas fa-pencil-alt"></i> Edit
        <% end %>
      <% end %>
    </div>
  </div>

  <% mailto = curator_mailto(item) %>
  <% if mailto %>
    <div class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-phone"></i>
        Contact <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" role="menu">
        <%= link_to mailto, class: 'dropdown-item' do %>
          <i class="fa fa-envelope"></i> Email Curator
        <% end %>
      </div>
    </div>
  <% end %>

</div>
