<%
  # Requires the following locals:
  # item [Item]
%>

<% if signed_in? %>
  <section>
    <h2>
      <a role="button" data-toggle="collapse" href="#dl-staff-info"
         aria-expanded="false" aria-controls="dl-staff-info">
        Staff Information</a>
    </h2>
    <div id="dl-staff-info" class="collapse">
      <% if item.is_compound? %>
        <% # For compound objects, display a table of all page binaries. (IMET-469) %>
        <h3>Files</h3>
        <%= compound_object_binary_info_table(item) %>
      <% elsif item.binaries.any? %>
        <% item.binaries.each do |bs| %>
          <h3><%= bs.human_readable_master_type %> File</h3>
          <%= binary_metadata_as_table(bs) %>
        <% end %>
      <% end %>

      <h3>Object</h3>
      <div class="visible-xs">
        <%= tech_metadata_as_list(item) %>
      </div>
      <div class="hidden-xs">
        <%= tech_metadata_as_table(item) %>
      </div>
    </div>
  </section>
<% end %>
