.alert.alert-info
  %strong 
    Note on file organization and description: 
  The folders and files displayed below are in alphabetical order. The #{@collection.medusa_repository.title} uses different strategies 
  to arrange and describe digital files, including creating top-level folders to reflect broad categories, creating folders to reflect 
  the physical arrangement of scanned materials, and retaining the original groupings as received. Digital file and subfolder names are 
  typically unchanged to retain their original context and may have nondescriptive titles. Some files may be scans of physical originals 
  held at the #{@collection.medusa_repository.title}.  Please contact an archivist at 
  = succeed "." do
    %a{href: "mailto:#{@collection.medusa_repository.email}"}= @collection.medusa_repository.email
    for assistance 

#dl-free-form-split-pane
  #dl-free-form-tree-view{"data-toggle":    "popover",
                          title:            "Collection Folder Tree",
                          "data-content":   "#{icon_for(:info)} Discover the contents of this collection by browsing its folders and files in the tree in the left-hand pane.<div class='text-right'><button class='btn btn-sm btn-primary mt-2'>OK</button></div>",
                          "data-placement": "right",
                          "data-trigger":   "manual",
                          "data-html":      "true"}
  #dl-splitter
  #dl-free-form-item-view

