<% provide(:body_id, 'items_index') %>

<%= breadcrumb(collection: @collection, context: session[:browse_context]) %>

<div class="btn-group pull-right" style="margin-left: 1em">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-eye"></i>
    View As&hellip; <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to 'JSON', params.merge(format: :json) %></li>
  </ul>
</div>

<% if @collection %>
  <% provide(:title, @collection.title) %>
  <% provide(:active_nav, 'collections') %>
  <h1><%= @collection.title %></h1>
<% else %>
  <% provide(:title, 'Items') %>
  <% provide(:active_nav, 'items') %>
<% end %>

<% if @count > 0 %>
  <div class="row">
    <% facet_panels = facets_as_panels(@items,
                                       metadata_profile: @metadata_profile,
                                       show_collection_facet: session[:browse_context] != ItemsController::BrowseContext::BROWSING_COLLECTION)
    if facet_panels.present?
      l_classes = 'col-sm-3 col-lg-2'
      r_classes = 'col-sm-9 col-lg-10'
    else
      l_classes = 'hidden-xs hidden-sm hidden-md hidden-lg'
      r_classes = 'col-xs-12'
    end %>
    <div class="<%= l_classes %> pt-facets pt-panel-facets">
      <%= facet_panels %>
    </div>

    <div class="<%= r_classes %> pt-results">
      <div class="panel panel-default">
        <div class="panel-body pt-results-summary">
          <div class="row">
            <div class="col-sm-8">
              <%= search_status(@items, @start, @num_results_shown) %>
            </div>
            <div class="col-sm-4 pull-right">
              <div class="pull-right">
                <%= sort_menu(@metadata_profile) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-list-results">
        <%= items_as_list(@items, @start, show_collections: !@collection,
                          show_add_to_favorites_buttons: true,
                          show_description: true,
                          show_remove_from_favorites_buttons: true) %>
      </div>

      <div class="text-center">
        <%= paginate(@items, @limit, @current_page) %>
      </div>
    </div>
  </div>
<% else %>
  <div class="pt-no-results">
    <%= no_results_help(params[:q], @suggestions) %>
  </div>
<% end %>
