<% provide(:body_id, 'items_index') %>

<%= breadcrumb(collection: @collection, context: session[:browse_context]) %>

<% if @collection %>
  <% provide(:title, @collection.title) %>
  <% provide(:active_nav, 'collections') %>

  <h1><%= @collection.title %></h1>

  <% if @collection.free_form? %>
    <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to collection_tree_path(@collection), role: 'button' do %>
            <i class="fa fa-level-down"></i> Tree
        <% end %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '#', role: 'button' do %>
            <i class="fa fa-bars"></i> List
        <% end %>
      </li>
    </ul>
  <% end %>
<% else %>
  <% provide(:title, 'Items') %>
  <% provide(:active_nav, 'items') %>
<% end %>

<%= form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'pt-filter') do %>
  <div class="row">
    <div class="hidden-xs col-sm-3 col-lg-2 pt-facets pt-panel-facets">
      <%= facets_as_panels(@facets, ItemsController::PERMITTED_PARAMS) %>
    </div>

    <div class="col-xs-12 col-sm-9 col-lg-10">
      <div class="row">
        <div class="col-xs-6">
          <% @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v| %>
            <%= hidden_field_tag(k, v) %>
          <% end %>
          <%= item_filter_field %>
        </div>
        <div class="col-xs-6">
          <%= render partial: 'index_button_group' %>
        </div>
      </div>

      <div class="panel panel-default pt-results-summary">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-8" id="pt-search-status">
              <%= search_status(@count, @start, @num_results_shown) %>
            </div>
            <div class="col-sm-4 pull-right">
              <%= sort_menu(@metadata_profile) %>
            </div>
          </div>
        </div>
      </div>

      <div id="pt-items" class="pt-results pt-list-results">
        <%= render partial: 'items' %>
      </div>
    </div>
  </div>
<% end %>

<div id="pt-download-zip-modal-container">
  <%= render partial: 'download_zip_panel', locals: {
      context: :results,
      num_downloadable_items: @num_downloadable_items,
      total_byte_size: @total_byte_size } %>
</div>