<% provide(:body_id, 'items_index') %>

<%= breadcrumb(collection: @collection, context: session[:browse_context]) %>

<% if @count > 0 %>
  <div class="btn-group pull-right" style="margin-left: 1em">
    <!-- View menu -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-eye"></i> View <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to params.merge(format: :atom) do %>
            <i class="fa fa-rss"></i>&nbsp;&nbsp;Atom
          <% end %>
        </li>
        <li>
          <%= link_to params.merge(format: :json) do %>
            <i class="fa fa-code"></i>&nbsp;JSON
          <% end %>
        </li>
      </ul>
    </div>
    <!-- Download menu, disabled in cross-collection contexts to limit the
    downloading of huge amounts of content. Also disabled in non-desktop
    contexts using the `browser` gem. -->
    <% if @collection and !browser.device.console? and
        !browser.device.mobile? and !browser.device.tablet? and
        !browser.device.tv? %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-download"></i> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to('', 'data-toggle': 'modal', 'data-target': '#pt-download-modal') do %>
              <i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;Zip File&hellip;
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

<% if @collection %>
  <% provide(:title, @collection.title) %>
  <% provide(:active_nav, 'collections') %>
  <h1><%= @collection.title %></h1>
<% else %>
  <% provide(:title, 'Items') %>
  <% provide(:active_nav, 'items') %>
<% end %>

<% if @count > 0 %>
  <div class="row">
    <% facet_panels = facets_as_panels(@items,
                                       metadata_profile: @metadata_profile,
                                       show_collection_facet: session[:browse_context] != ItemsController::BrowseContext::BROWSING_COLLECTION)
    if facet_panels.present?
      l_classes = 'col-sm-3 col-lg-2'
      r_classes = 'col-sm-9 col-lg-10'
    else
      l_classes = 'hidden-xs hidden-sm hidden-md hidden-lg'
      r_classes = 'col-xs-12'
    end %>
    <div class="<%= l_classes %> pt-facets pt-panel-facets">
      <%= facet_panels %>
    </div>

    <div class="<%= r_classes %> pt-results">
      <div class="panel panel-default">
        <div class="panel-body pt-results-summary">
          <div class="row">
            <div class="col-sm-8">
              <%= search_status(@items, @start, @num_results_shown) %>
            </div>
            <div class="col-sm-4 pull-right">
              <div class="pull-right">
                <%= sort_menu(@metadata_profile) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-list-results">
        <%= items_as_list(@items, @start, show_collections: !@collection,
                          show_add_to_favorites_buttons: true,
                          show_description: true,
                          show_remove_from_favorites_buttons: true) %>
      </div>

      <div class="text-center">
        <%= paginate(@items, @limit, @current_page) %>
      </div>
    </div>
  </div>
<% else %>
  <div class="pt-no-results">
    <%= no_results_help(params[:q], @suggestions) %>
  </div>
<% end %>

<!-- Download Items modal panel -->
<div class="modal fade" id="pt-download-modal" tabindex="-1" role="dialog"
     aria-labelledby="pt-download-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="pt-download-modal-label">Download Zip File</h4>
      </div>
      <div class="modal-body">
        <p>Zip files include access masters and JSON metadata for all of the
          items in the current result set. To keep them manageable, they are
          segmented into batches, and limited to
          <%= ZipDownloader::BATCH_SIZE %> items per batch.</p>
        <div class="alert alert-warning">Warning: Files may be multiple
          gigabytes in size.</div>

        <div id="pt-batch-buttons">
          <% (@items.total_length / ZipDownloader::BATCH_SIZE.to_f).ceil.times do |i| %>
            <%= link_to("Batch #{i + 1}",
                        params.merge({ format: :zip, start: i * ZipDownloader::BATCH_SIZE }),
                        class: 'btn btn-primary') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
