<% provide(:body_id, 'items_index') %>

<%= breadcrumb(collection: @collection, context: session[:browse_context]) %>

<% if @collection %>
  <% provide(:title, @collection.title) %>
  <% provide(:active_nav, 'collections') %>
  <h1><%= @collection.title %></h1>
<% else %>
  <% provide(:title, 'Items') %>
  <% provide(:active_nav, 'items') %>
<% end %>

<% if @count > 0 %>
  <div class="row">
    <% facet_panels = facets_as_panels(@items,
                                       metadata_profile: @metadata_profile,
                                       show_collection_facet: session[:browse_context] != ItemsController::BrowseContext::BROWSING_COLLECTION)
    if facet_panels.present?
      l_classes = 'col-sm-3 col-lg-2'
      r_classes = 'col-sm-9 col-lg-10'
    else
      l_classes = 'hidden-xs hidden-sm hidden-md hidden-lg'
      r_classes = 'col-xs-12'
    end %>
    <div class="<%= l_classes %> pt-facets pt-panel-facets">
      <%= facet_panels %>
    </div>

    <div class="<%= r_classes %>">
      <div class="row">
        <div class="col-xs-6">
          <%= form_tag(params, method: :get) do %>
            <% params.each do |k, v| %>
              <%= hidden_field_tag(k, v) %>
            <% end %>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <%= search_field_tag :q, params[:q], class: 'form-control',
                                   placeholder: 'Filter Results' %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-6">
          <% if @count > 0 %>
            <div class="btn-group pull-right" style="margin-left: 1em">
              <!-- View menu -->
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-eye"></i> View <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <%= link_to params.merge(format: :atom) do %>
                      <i class="fa fa-rss"></i>&nbsp;&nbsp;Atom
                    <% end %>
                  </li>
                  <li>
                    <%= link_to params.merge(format: :json) do %>
                      <i class="fa fa-code"></i>&nbsp;JSON
                    <% end %>
                  </li>
                  <% if @collection %>
                    <li class="divider"></li>
                    <li>
                      <%= link_to admin_collection_items_path(@collection,
                                                              params.except(:action, :collection_id, :controller, :format)),
                                  target: '_blank' do %>
                        <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <!-- Download menu, disabled in cross-collection contexts to limit the
              downloading of huge amounts of content. -->
              <% if @collection and client_supports_zip_download? %>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-download"></i> Download <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <%= link_to('', 'data-toggle': 'modal', 'data-target': '#pt-download-zip-modal') do %>
                        <i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;Zip File&hellip;
                      <% end %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default pt-results-summary">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-8">
              <%= search_status(@items, @start, @num_results_shown) %>
            </div>
            <div class="col-sm-4 pull-right">
              <div class="pull-right">
                <%= sort_menu(@metadata_profile) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-results pt-list-results">
        <%= items_as_list(@items, @start, show_collections: !@collection,
                          show_add_to_favorites_buttons: true,
                          show_description: true,
                          show_remove_from_favorites_buttons: true) %>
      </div>

      <div class="text-center">
        <%= paginate(@items, @limit, @current_page) %>
      </div>
    </div>
  </div>
<% else %>
  <div class="pt-no-results">
    <%= no_results_help(params[:q], @suggestions) %>
  </div>
<% end %>

<%= render partial: 'download_zip_panel', locals: { items: @items } %>
