- provide(:body_id, 'items_index')

= breadcrumb(collection: @collection, context: session[:browse_context])

- if @collection
  - provide(:title, @collection.title)
  - provide(:active_nav, 'collections')

  - if @collection.free_form?
    %ul.nav.nav-pills.float-right
      %li.nav-item
        = link_to collection_tree_path(@collection), class: 'nav-link' do
          %i.fa.fa-level-down-alt
          Tree
      %li.nav-item
        = link_to '#', class: 'nav-link active' do
          %i.fa.fa-bars
          List
    %h2.dl-title= @collection.title
  - else
    %h1= @collection.title

- else
  - provide(:title, 'Items')
  - provide(:active_nav, 'items')

= form_tag(@permitted_params.reject{ |k, v| k == 'start' },
           method: :get, class: 'dl-filter') do
  .row
    #dl-facets.col-sm-4.col-lg-3.col-xl-2
      = facets_as_cards(@facets, ItemsController::PERMITTED_SEARCH_PARAMS)
    .col-sm-8.col-lg-9.col-xl-10
      .row
        .col-sm-5
          - @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v|
            = hidden_field_tag(k, v)
          = item_filter_field
        .col-sm-7
          = render partial: 'index_button_group'
      .card.dl-results-summary
        .card-body
          .row
            #dl-search-status.col-sm-8
              = search_status(@count, @start, @num_results_shown)
            .col-sm-4.float-right
              = sort_menu(@metadata_profile)
      #dl-items.dl-results.dl-list-results
        = render partial: 'items'

- if @collection
  .text-center
    - mailto = curator_mailto(@collection)
    - if mailto
      = link_to mailto, class: 'btn btn-light' do
        %i.fa.fa-envelope
        Email Curator About This Collection

#dl-download-zip-modal-container
  = render partial: 'download_zip_panel',
           locals: { context: :results,
                     num_downloadable_items: @num_downloadable_items,
                     total_byte_size: @total_byte_size,
                     file_names: @file_names }
