<% provide(:body_id, 'items_index') %>

<%= breadcrumb(collection: @collection, context: session[:browse_context]) %>

<% if @collection %>
  <% provide(:title, @collection.title) %>
  <% provide(:active_nav, 'collections') %>
  <h1><%= @collection.title %></h1>
<% else %>
  <% provide(:title, 'Items') %>
  <% provide(:active_nav, 'items') %>
<% end %>

<%= form_tag(@permitted_params, method: :get, class: 'pt-filter') do %>
  <% facet_panels = facets_as_panels(@items,
                                     metadata_profile: @metadata_profile,
                                     show_collection_facet: session[:browse_context] != ItemsController::BrowseContext::BROWSING_COLLECTION) %>
  <% if facet_panels.present? %>
    <div class="row">
      <div class="col-sm-3 col-lg-2 pt-facets pt-panel-facets">
        <%= facet_panels %>
      </div>

      <div class="col-sm-9 col-lg-10">
        <%= render partial: 'index_main' %>
      </div>
    </div>
  <% else %>
    <%= render partial: 'index_main' %>
  <% end %>
<% end %>

<div id="pt-download-zip-modal-container">
  <%= render partial: 'download_zip_panel', locals: {
      context: :results,
      num_downloadable_items: @num_downloadable_items,
      total_byte_size: @total_byte_size } %>
</div>