<% provide(:body_id, 'items_index') %>

<%= breadcrumb(collection: @collection, context: session[:browse_context]) %>

<% if @collection %>
  <% provide(:title, @collection.title) %>
  <% provide(:active_nav, 'collections') %>

  <h1><%= @collection.title %></h1>

  <% if @collection.free_form? %>
    <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to collection_tree_path(@collection), role: 'button' do %>
            <i class="fa fa-level-down"></i> Tree
        <% end %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '#', role: 'button' do %>
            <i class="fa fa-bars"></i> List
        <% end %>
      </li>
    </ul>
  <% end %>
<% else %>
  <% provide(:title, 'Items') %>
  <% provide(:active_nav, 'items') %>
<% end %>

<%= form_tag(@permitted_params, method: :get, class: 'pt-filter') do %>
  <div class="row">
    <div class="col-sm-3 col-lg-2 pt-facets pt-panel-facets">
      <%= facets_as_panels(@facets, ItemsController::PERMITTED_PARAMS) %>
    </div>

    <div class="col-sm-9 col-lg-10">
      <%= render partial: 'index_main' %>
    </div>
  </div>
<% end %>

<div id="pt-download-zip-modal-container">
  <%= render partial: 'download_zip_panel', locals: {
      context: :results,
      num_downloadable_items: @num_downloadable_items,
      total_byte_size: @total_byte_size } %>
</div>