<%= render partial: 'index_button_group' %>

<section>
  <h1 class="dl-title">Collection Summary</h1>

  <div class="alert alert-primary dl-side-by-side" role="alert">
    Discover the contents of these digital records
    by browsing folders and files in the navigation pane to the left.</div>
  <div class="alert alert-primary dl-top-bottom" role="alert">
    Discover the contents of these digital records
    by browsing folders and files in the navigation pane above.</div>

  <dl>
    <dt>Folders</dt>
    <dd><%= number_with_delimiter(@num_directories) %></dd>
    <dt>Files</dt>
    <dd><%= number_with_delimiter(@num_files) %></dd>
    <dt>Total Size</dt>
    <dd><%= number_to_human_size(@total_byte_size) %></dd>
  </dl>
</section>

<%= render partial: 'download_zip_panel', locals: {
    context: :results,
    num_downloadable_items: @num_downloadable_items,
    total_byte_size: @total_byte_size } %>
