<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<% if current_user&.medusa_user? %>
  <div id="item-show-buttons" class="btn-group float-right" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-eye"></i> View <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to admin_collection_item_path(@item.collection, @item),
                    target: '_blank', class: 'dropdown-item' do %>
          <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
        <% end %>
        <%= link_to(edit_admin_collection_item_path(@item.collection, @item) + '#dl-metadata',
                    target: '_blank', class: 'dropdown-item') do %>
          <i class="fas fa-pencil-alt"></i> Edit
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= item_page_title(@item) %>

<section>
  <div class="dl-viewer">
    <%= viewer_for_item(@item) %>
    <% if @item.supplementary_item %>
      <% supp_item = @item.supplementary_item %>
      <% supp_bin = supp_item&.effective_image_binary %>
      <% if supp_bin %>
        <div id="dl-supplementary-viewer">
          <div class="dl-bottom-panel">
            <a role="button" data-toggle="collapse"
               href="#dl-binary-<%= supp_bin.id %>"
               aria-expanded="false" aria-controls="dl-binary-<%= supp_bin.id %>">
              <img src="/universalviewer/themes/uv-en-GB-theme/img/uv-shared-module/arrows_left.png"/>
              <%= supp_item.element(:supplementType)&.value ||
                      "Supplementary #{supp_bin.human_readable_media_category}" %></a>
          </div>
          <div id="dl-binary-<%= supp_bin.id %>"
               class="dl-supplmentary-viewer-content collapse">
            <div class="row">
              <div class="col-sm-9">
                <%= viewer_for_binary(supp_bin) %>
              </div>
              <div class="col-sm-3 dl-metadata">
                <%= metadata_as_list(supp_item) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<section>
  <%= rights_statement(@item.effective_rightsstatements_org_statement,
                       @item.effective_rights_statement) %>
</section>

<% if @item.elements.reject{ |e| e.name == 'title' }.any? %>
  <section>
    <%= metadata_section(@item) %>
  </section>
<% end %>

<%= render partial: 'staff_info', locals: { item: @item } %>
