= render partial: 'show_button_group', locals: { item: @item }

= item_page_title(@item, heading_element: 'h2')

- if @item.elements.reject{ |e| e.name == 'title' }.any?
  %section
    = metadata_section(@item)

= render partial: 'download_section', locals: { item: @item,
                                                expanded: true,
                                                show_heading: false,
                                                link_to_items: true }
= render partial: 'staff_info', locals: { item: @item }
= render partial: 'cite_panel', locals: { item: @item }

- unless defined?(@contact_form_rendered)
  = render partial: 'layouts/contact_form'
  - @contact_form_rendered = true 
