<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<%= breadcrumb(item: @item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>

<div class="btn-group pull-right">
  <button class="btn btn-danger pt-remove-from-favorites"
          data-web-id="<%= @item.web_id %>">
    <i class="fa fa-heart-o"></i> Remove From Favorites
  </button>
  <button class="btn btn-default pt-add-to-favorites"
          data-web-id="<%= @item.web_id %>">
    <i class="fa fa-heart"></i> Add To Favorites
  </button>
  <%= share_button(@item) %>
  <%= download_button(@item) %>
</div>

<% if @item.parent %>
  <h1 class="pt-compound-title">
    <small><%= link_to @item.parent.title, @item.parent %></small>
    <br>&nbsp;&nbsp;&#8627; <%= @item.title %>
  </h1>
  <div class="panel panel-default">
    <div class="panel-body pt-page-nav">
      <% if @previous_item %>
        <%= link_to raw('&larr; Previous Page'), @previous_item,
                    class: 'pt-previous-page btn btn-default btn-sm' %>
      <% else %>
        <button disabled class="pt-previous-page btn btn-default btn-sm">
          &larr; Previous Page</button>
      <% end %>
      <span class="pt-page-number">
        <%= @item.page_number %> of <%= @item.parent.children.total_length %>
      </span>
      <% if @next_item %>
        <%= link_to raw('Next Page &rarr;'), @next_item,
                    class: 'pt-previous-page btn btn-default btn-sm' %>
      <% else %>
        <button disabled class="pt-next-page btn btn-default btn-sm">
          Next Page &rarr;</button>
      <% end %>
    </div>
  </div>
<% else %>
  <h1><%= @item.title %>
    <% if @item.subtitle %>
      <br><small><%= @item.subtitle %></small>
    <% end %>
  </h1>
<% end %>

<%= viewer_for(@item) %>

<% if @item.full_text.present? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Full Text</h2>
    </div>
    <div class="panel-body">
      <pre><%= @item.full_text %></pre>
    </div>
  </div>
<% end %>

<% if @pages.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Pages (<%= @pages.total_length %>)</h2>
    </div>
    <div class="panel-body pt-pages">
      <%= pages_as_list(@item) %>
    </div>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Descriptive Info</h2>
  </div>
  <div class="panel-body">
    <%= metadata_as_table(@item) %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Technical Info</h2>
      </div>
      <div class="panel-body">
        <table class="table table-condensed pt-metadata">
          <tr>
            <td>Created</td>
            <td><%= local_time_ago(@item.created) %></td>
          </tr>
          <tr>
            <td>Last Modified</td>
            <td><%= local_time_ago(@item.last_modified) %></td>
          </tr>
          <tr>
            <td>Last Indexed</td>
            <td><%= local_time_ago(@item.last_indexed) %></td>
          </tr>
          <tr>
            <td>Image Server URL</td>
            <td>
              <% url = iiif_url(@item) %>
              <%= link_to(url, url) %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <% if Rails.env.development? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">DEVELOPMENT ONLY: Bytestreams</h2>
          </div>
          <div class="panel-body">
            <% if @item.bytestreams.any? %>
                <ul>
                  <% @item.bytestreams.each do |bs| %>
                      <li>
                        <%= bs.type.upcase %>: <%= bs.pathname || bs.url %>
                        <% if bs.exists? %>
                            <span class="label label-success">OK</span>
                        <% else %>
                            <span class="label label-danger">MISSING</span>
                        <% end %>
                      </li>
                  <% end %>
                </ul>
            <% else %>
                None
            <% end %>
          </div>
        </div>
    <% end %>
  </div>

</div>
