- provide :title, @item.title
- provide :body_id, 'items_show'

- if current_user&.medusa_user?
  #item-show-buttons.btn-group.float-right{role: "group"}
    .btn-group{role: "group"}
      %button.btn.btn-light.dropdown-toggle{"aria-expanded": "false",
                                            "aria-haspopup": "true",
                                            "data-toggle":   "dropdown",
                                            type:            "button"}
        %i.fa.fa-eye
        View
        %span.caret
      .dropdown-menu.dropdown-menu-right
        = link_to admin_collection_item_path(@item.collection, @item),
                  target: '_blank',
                  class: 'dropdown-item' do
          %i.fa.fa-lock
            Admin View

= item_page_title(@item)

%section
  = viewer_for_item(@item)

%section
  = rights_statement(@item.effective_rights_term,
                     @item.effective_rights_statement)

%section= supplementary_item_section(@item.supplementary_item, show_nonpublic: true)

- if @item.elements.reject{ |e| e.name == 'title' }.any?
  %section= metadata_section(@item)

= render partial: 'staff_info', locals: { item: @item }

- unless defined?(@contact_form_rendered)
  = render partial: 'layouts/contact_form'
  - @contact_form_rendered = true 
