= render partial: 'index_button_group'

%h2.dl-title Collection Summary

.row
  .col-sm-2
    %dl
      %dt Folders
      %dd= number_with_delimiter(@num_directories)
      %dt Files
      %dd= number_with_delimiter(@num_files)
      %dt Total Size
      %dd= number_to_human_size(@total_byte_size)
  #dl-description.col-sm-10
    %p= raw(@collection.description_html) || simple_format(auto_link(@collection.description))

.text-center
  - mailto = curator_mailto(@collection)
  - if mailto
    = link_to mailto, class: 'btn btn-light' do
      %i.fa.fa-envelope
      Email Curator About This Collection

= render partial: 'download_zip_panel',
         locals: { context: :results,
                   num_downloadable_items: @num_downloadable_items,
                   total_byte_size: @total_byte_size }
                   
- unless defined?(@contact_form_rendered)
  = render partial: 'layouts/contact_form'
  - @contact_form_rendered = true 