<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<%= breadcrumb(item: @item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>

<div class="btn-group pull-right" role="group">
  <button class="btn btn-danger pt-remove-from-favorites"
          data-item-id="<%= @item.repository_id %>">
    <i class="fa fa-heart-o"></i> Remove From Favorites
  </button>

  <button class="btn btn-default pt-add-to-favorites"
          data-item-id="<%= @item.repository_id %>">
    <i class="fa fa-heart"></i> Add To Favorites
  </button>

  <%= share_button(@item) %>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i>
      View <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <%= link_to params.merge(format: :atom), target: '_blank' do %>
          <i class="fa fa-rss"></i>&nbsp;&nbsp;Atom
        <% end %>
      </li>
      <li>
        <%= link_to params.merge(format: :json), target: '_blank' do %>
          <i class="fa fa-code"></i>&nbsp;JSON
        <% end %>
      </li>
      <% iiif_url = @item.iiif_url %>
      <% if iiif_url %>
        <li>
          <%= link_to iiif_url, target: '_blank' do %>
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;IIIF Image Information
          <% end %>
        </li>
      <% end %>
      <% if @item.has_iiif_manifest? %>
        <li>
          <%= link_to item_iiif_manifest_path(@item), target: '_blank' do %>
            <i class="fa fa-code"></i>&nbsp;IIIF Manifest
          <% end %>
        </li>
      <% end %>
      <% if @item.bib_id %>
        <li><%= link_to "http://vufind.carli.illinois.edu/vf-uiu/Record/uiu_#{@item.bib_id}",
                        target: '_blank' do %>
            <i class="fa fa-book"></i>&nbsp;&nbsp;Library Catalog Record
          <% end %>
        </li>
      <% end %>
      <li class="divider"></li>
      <li>
        <%= link_to admin_collection_item_path(@item.collection, @item),
                    target: '_blank' do %>
          <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
        <% end %>
      </li>
    </ul>
  </div>

  <% if @item.is_image? or @item.is_compound? or @item.binaries.any? %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-download"></i>
        Download <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <% if @item.is_image? or @item.is_compound? %>
          <li>
            <a href="#" onclick="return false;" data-toggle="modal"
               data-target="#pt-embed-image-modal">
              <i class="fa fa-external-link"></i>&nbsp;&nbsp;Embed Image</a>
          </li>
        <% end %>
        <% if @item.binaries.any? %>
          <li>
            <a href="#" onclick="return false;" data-toggle="modal"
               data-target="#pt-download-modal">
              <i class="fa fa-file-o"></i>&nbsp;&nbsp;Download File</a>
          </li>
        <% end %>
        <% if @item.is_compound? and client_supports_zip_download? %>
          <li>
            <%= link_to(params.merge({ format: :zip })) do %>
              <i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;Zip File&hellip;
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% mailto = curator_mailto(@item) %>
  <% if mailto %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-phone"></i>
        Contact <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
          <%= link_to mailto do %>
            <i class="fa fa-envelope"></i> Email Curator
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>

</div>

<%= item_page_title(@item) %>

<% if @previous_result or @next_result or session[:browse_context_url] %>
  <% # IMET-487: center the nav buttons above the viewer %>
  <div class="text-center">
    <%= render partial: 'navigation_buttons' %>
  </div>
<% end %>

<div class="pt-viewer">
  <%= viewer_for(@item) %>
</div>

<% if has_viewer?(@item) %>
  <%= rights_statement(@item.effective_rightsstatements_org_statement,
                       @item.effective_rights_statement) %>
<% end %>

<% if @item.variant == Item::Variants::DIRECTORY %>
  <section id="pt-files-section">
    <%= render partial: 'files' %>
  </section>
<% end %>

<% if @item.full_text.present? %>
  <section>
    <h2>
      <a role="button" data-toggle="collapse" href="#pt-full-text"
         aria-expanded="false" aria-controls="pt-full-text">
        Full Text</a>
    </h2>
    <div id="pt-full-text" class="collapse">
      <pre><%= @item.full_text %></pre>
    </div>
  </section>
<% end %>

<% unless has_viewer?(@item) %>
  <%= rights_statement(@item.effective_rightsstatements_org_statement,
                       @item.effective_rights_statement) %>
<% end %>

<% if @item.elements.reject{ |e| e.name == 'title' }.any? %>
  <section>
    <%= metadata_section(@item) %>
  </section>
<% end %>

<% if @item.is_compound? %>
  <% # For compound objects, display a table of all page binaries. (IMET-469) %>
  <section>
    <h2>
      <a role="button" data-toggle="collapse" href="#pt-compound-binary-info"
         aria-expanded="false" aria-controls="pt-compound-binary-info">
        File Info</a>
    </h2>
    <div id="pt-compound-binary-info" class="collapse">
      <%= compound_object_binary_info_table(@item) %>
    </div>
  </section>
<% elsif @item.binaries.any? %>
  <% @item.binaries.each do |bs| %>
    <section>
      <h2>
        <a role="button" data-toggle="collapse" href="#pt-binary-<%= bs.id %>"
           aria-expanded="false" aria-controls="pt-binary-<%= bs.id %>">
          <%= bs.human_readable_type %> File</a>
      </h2>
      <div id="pt-binary-<%= bs.id %>" class="collapse">
        <%= binary_metadata_as_table(bs) %>
      </div>
    </section>
  <% end %>
<% end %>

<section>
  <h2>
    <a role="button" data-toggle="collapse" href="#pt-technical-info"
       aria-expanded="false" aria-controls="pt-technical-info">
      Technical Info</a>
  </h2>
  <div id="pt-technical-info" class="collapse">
    <div class="visible-xs">
      <%= tech_metadata_as_list(@item) %>
    </div>
    <div class="hidden-xs">
      <%= tech_metadata_as_table(@item) %>
    </div>
  </div>
</section>

<%= render partial: 'cite_panel', locals: { item: @item } %>
<%= render partial: 'download_panel', locals: { item: @item } %>
<%= render partial: 'embed_image_panel', locals: { item: @item } %>

<script type="application/ld+json">
  <%= schema_org_json_ld(@item) %>
</script>
