<%= render partial: 'index_button_group' %>

<section>
  <h1 class="pt-title">Collection Summary</h1>
  <dl>
    <dt>Folders</dt>
    <dd><%= number_with_delimiter(@num_directories) %></dd>
    <dt>Files</dt>
    <dd><%= number_with_delimiter(@num_files) %></dd>
    <dt>Total Size</dt>
    <dd><%= number_to_human_size(@total_byte_size) %></dd>
  </dl>
</section>

<%= render partial: 'download_zip_panel', locals: {
    context: :results,
    num_downloadable_items: @num_downloadable_items,
    total_byte_size: @total_byte_size } %>
