<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<%= breadcrumb(item: @item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>

<%= qr_code(request.url) %>

<div class="btn-group pull-right" role="group">
  <button class="btn btn-danger pt-remove-from-favorites"
          data-item-id="<%= @item.repository_id %>">
    <i class="fa fa-heart-o"></i> Remove From Favorites
  </button>

  <button class="btn btn-default pt-add-to-favorites"
          data-item-id="<%= @item.repository_id %>">
    <i class="fa fa-heart"></i> Add To Favorites
  </button>

  <%= share_button(@item) %>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i>
      View&hellip; <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'As JSON', params.merge(format: :json) %></li>
      <% if @item.bib_id %>
        <li><%= link_to 'In Library Catalog',
                        "http://vufind.carli.illinois.edu/vf-uiu/Record/uiu_#{@item.bib_id}",
                        target: '_blank' %></li>
      <% end %>
    </ul>
  </div>

  <% if @item.bytestreams.any? %>
    <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#pt-download-modal">
      <i class="fa fa-download"></i> Download
    </button>
  <% end %>
</div>

<% if @item.variant and @item.variant == Item::Variants::PAGE %>
  <%= item_page_title(@item) %>
  <div class="panel panel-default">
    <div class="panel-body pt-page-nav">

      <!-- this form is never actually submitted -- we are just using the
      form-inline class for convenience -->
      <form method="get" class="form-inline">
        <% if @previous_item %>
          <%= link_to raw('&larr; Previous Page'), @previous_item,
                      class: 'pt-previous-page btn btn-default btn-sm' %>
        <% else %>
          <button disabled class="pt-previous-page btn btn-default btn-sm">
            &larr; Previous Page</button>
        <% end %>

        <%= page_select_menu(@item) %>

        <% if @next_item %>
          <%= link_to raw('Next Page &rarr;'), @next_item,
                      class: 'pt-previous-page btn btn-default btn-sm' %>
        <% else %>
          <button disabled class="pt-next-page btn btn-default btn-sm">
            Next Page &rarr;</button>
        <% end %>
      </form>

    </div>
  </div>
<% else %>
  <%= item_page_title(@item) %>
<% end %>

<%= viewer_for(@item) %>

<% if @item.variant == Item::Variants::DIRECTORY %>
  <%= files_panel(@item) %>
<% elsif @item.variant != Item::Variants::FILE %>
  <% if @relative_parent.key_item or @relative_parent.front_matter_item or
    @relative_parent.index_item %>
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-3">
        <%= title_item_panel(@relative_parent, size: 512) %>
        <%= key_item_panel(@relative_parent, size: 512) %>
        <%= front_matter_item_panel(@relative_parent, size: 512) %>
        <%= index_item_panel(@relative_parent, size: 512) %>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-9">
        <%= pages_panel(@pages, @item) %>
      </div>
    </div>
  <% else %>
    <%= pages_panel(@pages, @item) %>
  <% end %>
<% end %>

<% if @item.full_text.present? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Full Text</h2>
    </div>
    <div class="panel-body">
      <pre><%= @item.full_text %></pre>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-9">
    <% if @item.elements.reject{ |e| e.name == 'title' }.any? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Descriptive Info</h2>
        </div>
        <div class="panel-body">
          <div class="visible-xs">
            <%= metadata_as_list(@item) %>
          </div>
          <div class="hidden-xs">
            <%= metadata_as_table(@item) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Technical Info</h2>
      </div>
      <div class="panel-body">
        <div class="visible-xs">
          <%= tech_metadata_as_list(@item) %>
        </div>
        <div class="hidden-xs">
          <%= tech_metadata_as_table(@item) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @item.bytestreams.where(bytestream_type: [Bytestream::Type::ACCESS_MASTER,
                                               Bytestream::Type::PRESERVATION_MASTER]).limit(2).each do |bs| %>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= bs.bytestream_type == Bytestream::Type::ACCESS_MASTER ?
                    'Access Master' : 'Preservation Master' %>
          </h2>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active">
              <a href="#pt-bytestream-<%= bs.bytestream_type %>-file"
                 aria-controls="pt-bytestream-<%= bs.bytestream_type %>-file"
                 role="tab" data-toggle="tab">File</a>
            </li>
            <% if bs.exif.any? %>
              <li role="presentation">
                <a href="#pt-bytestream-<%= bs.bytestream_type %>-exif"
                   aria-controls="pt-bytestream-<%= bs.bytestream_type %>-exif"
                   role="tab" data-toggle="tab">EXIF</a>
              </li>
            <% end %>
            <% if bs.iptc %>
              <li role="presentation">
                <a href="#pt-bytestream-<%= bs.bytestream_type %>-iptc"
                   aria-controls="pt-bytestream-<%= bs.bytestream_type %>-iptc"
                   role="tab" data-toggle="tab">IPTC</a>
              </li>
            <% end %>
            <% if bs.xmp %>
              <li role="presentation">
                <a href="#pt-bytestream-<%= bs.bytestream_type %>-xmp"
                   aria-controls="pt-bytestream-<%= bs.bytestream_type %>-xmp"
                   role="tab" data-toggle="tab">XMP</a>
              </li>
            <% end %>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="pt-bytestream-<%= bs.bytestream_type %>-file">
              <%= bytestream_file_metadata_as_table(bs) %>
            </div>
            <div role="tabpanel" class="tab-pane" id="pt-bytestream-<%= bs.bytestream_type %>-exif">
              <%= bytestream_exif_metadata_as_table(bs) %>
            </div>
            <div role="tabpanel" class="tab-pane" id="pt-bytestream-<%= bs.bytestream_type %>-iptc">
              <%= bytestream_iptc_metadata_as_table(bs) %>
            </div>
            <div role="tabpanel" class="tab-pane" id="pt-bytestream-<%= bs.bytestream_type %>-xmp">
              <%= bytestream_xmp_metadata_as_table(bs) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'download_panel', locals: { item: @item } %>
