<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<%= breadcrumb(item: @item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>

<%= render partial: 'show_button_group' %>

<%= item_page_title(@item) %>

<% if (@previous_result or @next_result or session[:browse_context_url] or
  @item.supplementary_item or @item.three_d_item) and !@storage_offline %>
  <% supp_item = @item.supplementary_item %>
  <% supp_bin = supp_item&.effective_viewer_binary %>
  <div style="margin-bottom:16px">
    <% # DLD-6: button that pops open the supplementary section is aligned to
       # the right of the nav buttons %>
    <div style="float:right">
      <% if supp_bin %>
        <a role="button" class="btn btn-default btn-sm" data-toggle="collapse"
           href="#pt-binary-<%= supp_bin.id %>"
           aria-expanded="false" aria-controls="pt-binary-<%= supp_bin.id %>">
          <i class="fa fa-plus-square-o"></i> Supplementary File</a>
      <% end %>
      <% if @item.three_d_item %>
        <a role="button" class="btn btn-default btn-sm" data-toggle="collapse"
           href="#pt-3d-viewer-container"
           aria-expanded="false" aria-controls="pt-3d-viewer-container">
          <i class="fa fa-plus-square-o"></i> 3D Model</a>
      <% end %>
    </div>

    <% # IMET-487: center the nav buttons above the viewer %>
    <div style="margin: 0 auto; width: 300px; text-align: center">
      <%= render partial: 'navigation_buttons' %>
    </div>
  </div>

  <% if supp_bin %>
    <div id="pt-binary-<%= supp_bin.id %>" class="collapse">
      <div class="row">
        <div class="col-sm-9">
          <%= viewer_for_binary(supp_bin) %>
        </div>
        <div class="col-sm-3">
          <%= metadata_as_list(supp_item) %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @item.three_d_item %>
    <div id="pt-3d-viewer-container" class="collapse">
      <%= viewer_for_item(@item.three_d_item) %>
    </div>
  <% end %>
<% end %>

<% unless @storage_offline %>
  <div class="pt-viewer">
    <%= viewer_for_item(@item) %>
  </div>

  <% if has_viewer?(@item) %>
    <%= rights_statement(@item.effective_rightsstatements_org_statement,
                         @item.effective_rights_statement) %>
  <% end %>
<% end %>

<% if @item.variant == Item::Variants::DIRECTORY %>
  <section id="pt-files-section">
    <%= render partial: 'files' %>
  </section>
<% end %>

<% if @item.full_text.present? %>
  <section>
    <h2>
      <a role="button" data-toggle="collapse" href="#pt-full-text"
         aria-expanded="false" aria-controls="pt-full-text">
        Full Text</a>
    </h2>
    <div id="pt-full-text" class="collapse">
      <pre><%= @item.full_text %></pre>
    </div>
  </section>
<% end %>

<% unless has_viewer?(@item) %>
  <%= rights_statement(@item.effective_rightsstatements_org_statement,
                       @item.effective_rights_statement) %>
<% end %>

<% if @item.elements.reject{ |e| e.name == 'title' }.any? %>
  <section>
    <%= metadata_section(@item) %>
  </section>
<% end %>

<% if @item.is_compound? %>
  <% # For compound objects, display a table of all page binaries. (IMET-469) %>
  <section>
    <h2>
      <a role="button" data-toggle="collapse" href="#pt-compound-binary-info"
         aria-expanded="false" aria-controls="pt-compound-binary-info">
        File Info</a>
    </h2>
    <div id="pt-compound-binary-info" class="collapse">
      <%= compound_object_binary_info_table(@item) %>
    </div>
  </section>
<% elsif @item.binaries.any? %>
  <% @item.binaries.each do |bs| %>
    <section>
      <h2>
        <a role="button" data-toggle="collapse" href="#pt-binary-<%= bs.id %>"
           aria-expanded="false" aria-controls="pt-binary-<%= bs.id %>">
          <%= bs.human_readable_master_type %> File</a>
      </h2>
      <div id="pt-binary-<%= bs.id %>" class="collapse">
        <%= binary_metadata_as_table(bs) %>
      </div>
    </section>
  <% end %>
<% end %>

<section>
  <h2>
    <% if signed_in? %>
      <a role="button" data-toggle="collapse" href="#pt-staff-info"
         aria-expanded="false" aria-controls="pt-staff-info">
        Staff Information</a>
    <% else %>
      Staff Information
      <%= link_to signin_path, class: 'btn btn-danger btn-xs' do %>
        <i class="fa fa-lock"></i> Sign In
      <% end %>
    <% end %>
  </h2>
  <div id="pt-staff-info" class="collapse">
    <% if signed_in? %>
      <% if @item.is_compound? %>
        <% # For compound objects, display a table of all page binaries. (IMET-469) %>
        <h3>Files</h3>
        <%= compound_object_binary_info_table(@item) %>
      <% elsif @item.binaries.any? %>
        <% @item.binaries.each do |bs| %>
              <h3><%= bs.human_readable_master_type %> File</h3>
          <%= binary_metadata_as_table(bs) %>
        <% end %>
      <% end %>

      <h3>Object</h3>
      <div class="visible-xs">
        <%= tech_metadata_as_list(@item) %>
      </div>
      <div class="hidden-xs">
        <%= tech_metadata_as_table(@item) %>
      </div>
    <% end %>
  </div>
</section>

<%= render partial: 'cite_panel', locals: { item: @item } %>
<%= render partial: 'embed_image_panel', locals: { item: @item } %>
<%= render partial: 'download_panel', locals: { item: @item } %>
<%= render partial: 'download_zip_panel', locals: {
    context: (@item.variant == Item::Variants::DIRECTORY) ? :directory : :item,
    num_downloadable_items: 0, # these are potentially expensive to calculate.
    total_byte_size: 0 } %>

<script type="application/ld+json">
  <%= schema_org_json_ld(@item) %>
</script>
