<% provide :title, @item.title %>
<% provide :body_id, 'items_show' %>

<%= breadcrumb(item: @item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>

<div class="btn-group pull-right" role="group">
  <button class="btn btn-danger pt-remove-from-favorites"
          data-item-id="<%= @item.repository_id %>">
    <i class="fa fa-heart-o"></i> Remove From Favorites
  </button>

  <button class="btn btn-default pt-add-to-favorites"
          data-item-id="<%= @item.repository_id %>">
    <i class="fa fa-heart"></i> Add To Favorites
  </button>

  <%= share_button(@item) %>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-eye"></i>
      View <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li>
        <%= link_to params.merge(format: :atom), target: '_blank' do %>
          <i class="fa fa-rss"></i>&nbsp;&nbsp;Atom
        <% end %>
      </li>
      <li>
        <%= link_to params.merge(format: :json), target: '_blank' do %>
          <i class="fa fa-code"></i>&nbsp;JSON
        <% end %>
      </li>
      <% iiif_url = @item.iiif_image_binary&.iiif_image_url %>
      <% if iiif_url %>
        <li>
          <%= link_to iiif_url, target: '_blank' do %>
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;IIIF Image Information
          <% end %>
        </li>
      <% end %>
      <% if @item.has_iiif_manifest? %>
        <li>
          <%= link_to item_iiif_manifest_path(@item), target: '_blank' do %>
            <i class="fa fa-code"></i>&nbsp;IIIF Manifest
          <% end %>
        </li>
      <% end %>
      <% if @item.bib_id %>
        <li><%= link_to @item.catalog_record_url, target: '_blank' do %>
            <i class="fa fa-book"></i>&nbsp;&nbsp;Library Catalog Record
          <% end %>
        </li>
      <% end %>
      <% if @item.collection.physical_collection_url.present? %>
        <li>
          <%= link_to @item.collection.physical_collection_url,
                      target: '_blank' do %>
            <%= icon_for(@item.collection) %>&nbsp;&nbsp;Physical Collection
          <% end %>
        </li>
      <% end %>
      <li class="divider"></li>
      <li>
        <%= link_to admin_collection_item_path(@item.collection, @item),
                    target: '_blank' do %>
          <i class="fa fa-lock"></i>&nbsp;&nbsp;Admin View
        <% end %>
      </li>
    </ul>
  </div>

  <%= render partial: 'email_curator_button' %>

</div>

<%= item_page_title(@item) %>

<% if (@previous_result or @next_result or session[:browse_context_url] or
  @item.supplementary_item or @item.three_d_item) and !@storage_offline %>
  <% supp_item = @item.supplementary_item %>
  <% supp_bin = supp_item&.effective_viewer_binary %>
  <div style="margin-bottom:16px">
    <% # DLD-6: button that pops open the supplementary section is aligned to
       # the right of the nav buttons %>
    <div style="float:right">
      <% if supp_bin %>
        <a role="button" class="btn btn-default btn-sm" data-toggle="collapse"
           href="#pt-binary-<%= supp_bin.id %>"
           aria-expanded="false" aria-controls="pt-binary-<%= supp_bin.id %>">
          <i class="fa fa-plus-square-o"></i> Supplementary File</a>
      <% end %>
      <% if @item.three_d_item %>
        <a role="button" class="btn btn-default btn-sm" data-toggle="collapse"
           href="#pt-3d-viewer-container"
           aria-expanded="false" aria-controls="pt-3d-viewer-container">
          <i class="fa fa-plus-square-o"></i> 3D Model</a>
      <% end %>
    </div>

    <% # IMET-487: center the nav buttons above the viewer %>
    <div style="margin: 0 auto; width: 300px; text-align: center">
      <%= render partial: 'navigation_buttons' %>
    </div>
  </div>

  <% if supp_bin %>
    <div id="pt-binary-<%= supp_bin.id %>" class="collapse">
      <div class="row">
        <div class="col-sm-9">
          <%= viewer_for_binary(supp_bin) %>
        </div>
        <div class="col-sm-3">
          <%= metadata_as_list(supp_item) %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @item.three_d_item %>
    <div id="pt-3d-viewer-container" class="collapse">
      <%= viewer_for_item(@item.three_d_item) %>
    </div>
  <% end %>
<% end %>

<% unless @storage_offline %>
  <div class="pt-viewer">
    <%= viewer_for_item(@item) %>
  </div>

  <% if has_viewer?(@item) %>
    <div class="row">
      <div class="col-sm-10">
        <%= rights_statement(@item.effective_rightsstatements_org_statement,
                             @item.effective_rights_statement) %>
      </div>
      <div class="col-sm-2">
        <a href="#pt-download-section" class="btn btn-lg btn-success">
          <i class="fa fa-download"></i> Download</a>
      </div>
    </div>
  <% end %>
<% end %>

<% if @item.variant == Item::Variants::DIRECTORY %>
  <section id="pt-files-section">
    <%= render partial: 'files' %>
  </section>
<% end %>

<% unless has_viewer?(@item) %>
  <%= rights_statement(@item.effective_rightsstatements_org_statement,
                       @item.effective_rights_statement) %>
<% end %>

<% if @item.elements.reject{ |e| e.name == 'title' }.any? %>
  <section>
    <%= metadata_section(@item) %>
  </section>
<% end %>

<%= render partial: 'download_section', locals: { item: @item } %>
<%= render partial: 'staff_info' %>

<%= render partial: 'cite_panel', locals: { item: @item } %>

<script type="application/ld+json">
  <%= schema_org_json_ld(@item) %>
</script>
