<% provide :title, @root_item.title %>
<% provide :body_id, 'items_show' %>
<% provide :meta_tags, item_meta_tags(@root_item) %>

<%= breadcrumb(item: @root_item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>

<%= render partial: 'show_button_group', locals: { item: @root_item } %>

<%= item_page_title(@root_item) %>

<% if (@previous_result or @next_result or session[:browse_context_url] or
  @root_item.supplementary_item or @root_item.three_d_item) and !@storage_offline %>
  <% supp_item = @root_item.supplementary_item %>
  <% supp_bin = supp_item&.effective_image_binary %>
  <div style="margin-bottom:16px">
    <% # DLD-6: button that pops open the supplementary section is aligned to
       # the right of the nav buttons %>
    <div style="float:right">
      <% if supp_bin %>
        <a role="button" class="btn btn-default btn-sm" data-toggle="collapse"
           href="#pt-binary-<%= supp_bin.id %>"
           aria-expanded="false" aria-controls="pt-binary-<%= supp_bin.id %>">
          <i class="fa fa-plus-square-o"></i>
          Supplementary <%= supp_bin.human_readable_media_category %></a>
      <% end %>
      <% if @root_item.three_d_item %>
        <a role="button" class="btn btn-default btn-sm" data-toggle="collapse"
           href="#pt-3d-viewer-container"
           aria-expanded="false" aria-controls="pt-3d-viewer-container">
          <i class="fa fa-plus-square-o"></i> 3D Model</a>
      <% end %>
    </div>

    <% # IMET-487: center the nav buttons above the viewer %>
    <div style="margin: 0 auto; width: 300px; text-align: center">
      <%= render partial: 'navigation_buttons' %>
    </div>
  </div>

  <% if supp_bin %>
    <div id="pt-binary-<%= supp_bin.id %>" class="collapse">
      <div class="row">
        <div class="col-sm-9">
          <%= viewer_for_binary(supp_bin) %>
        </div>
        <div class="col-sm-3">
          <%= metadata_as_list(supp_item) %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @root_item.three_d_item %>
    <div id="pt-3d-viewer-container" class="collapse">
      <%= viewer_for_item(@root_item.three_d_item) %>
    </div>
  <% end %>
<% end %>

<section>
  <% if @storage_offline %>
    <%= render partial: 'permalink_section', locals: { item: @root_item } %>
  <% else %>
    <div class="pt-viewer">
      <%= viewer_for_item(@root_item) %>
    </div>

    <% if has_viewer?(@root_item) %>
      <div class="row">
        <div class="col-sm-10">
          <%= render partial: 'permalink_section', locals: { item: @root_item } %>
        </div>
        <div class="col-sm-2">
          <a href="#pt-download-section" class="btn btn-lg btn-success">
            <i class="fa fa-download"></i> Download</a>
        </div>
      </div>
    <% else %>
      <%= render partial: 'permalink_section', locals: { item: @root_item } %>
    <% end %>
  <% end %>
</section>

<section>
  <%= rights_statement(@root_item.effective_rightsstatements_org_statement,
                       @root_item.effective_rights_statement) %>
</section>

<% if @root_item.elements.reject{ |e| e.name == 'title' }.any? %>
  <section>
    <%= metadata_section(@root_item) %>
  </section>
<% end %>

<%= render partial: 'download_section', locals: { item: @root_item,
                                                  expanded: false } %>
<%= render partial: 'staff_info', locals: { item: @root_item } %>

<div class="text-center">
  <%= render partial: 'email_curator_button', locals: { item: @root_item,
                                                        align: :left } %>
</div>

<%= render partial: 'cite_panel', locals: { item: @root_item } %>

<script type="application/ld+json">
  <%= schema_org_json_ld(@root_item) %>
</script>

<% # We will refer to these in JS to determine which item to select in the viewer. %>
<% @downloadable_items.each_with_index do |dl_item, index| %>
  <% if dl_item.repository_id == @selected_item.repository_id %>
    <%= hidden_field_tag('pt-download-item-index', index) %>
  <% end %>
  <%= hidden_field_tag('pt-download-item-id', dl_item.repository_id) %>
<% end %>
