<% provide(:body_id, 'tree_browser') %>
<% provide(:title, @collection.title) %>
<% provide(:active_nav, 'collections') %>
<%= breadcrumb(collection: @collection, context: ItemsController::BrowseContext::BROWSING_COLLECTION) %>

<h1><%= @collection.title %></h1>

<ul class="nav nav-pills">
  <li role="presentation" class="active">
    <%= link_to '#', role: 'button' do %>
      <i class="fa fa-level-down"></i> Tree
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to collection_items_path(display: 'leaves'), role: 'button' do %>
      <i class="fa fa-bars"></i> List
    <% end %>
  </li>
</ul>

<%= render partial: 'tree' %>