<%= render partial: 'show_button_group' %>
<%= breadcrumb(item: @item, context: session[:browse_context],
               context_url: session[:browse_context_url]) %>
<%= item_page_title(@item) %>
<% if @files.any? %>
    <section id="file-tree-stats">
      <% dirs = @files.select{ |item| item.variant == Item::Variants::DIRECTORY } %>
      <% nondirs = @files.select{ |item| item.variant == Item::Variants::FILE} %>
      <h2>Subfolders <span class="badge"><%= dirs.count %></span></h2>
      <h2>Files <span class="badge"><%= nondirs.count %></span></h2>
    </section>
<% end %>
<%= render partial: 'show_technical_info' %>
<%= render partial: 'cite_panel', locals: { item: @item } %>
<%= render partial: 'download_panel', locals: { item: @item } %>
<%= render partial: 'download_zip_panel', locals: {
    context: (@item.variant == Item::Variants::DIRECTORY) ? :directory : :item,
    num_downloadable_items: 0, # these are potentially expensive to calculate.
    total_byte_size: 0 } %>

<script type="application/ld+json">
  <%= schema_org_json_ld(@item) %>
</script>