- provide(:body_id, 'tree_browser')
- provide(:title, @collection.title)
- provide(:active_nav, 'collections')

= breadcrumb(collection: @collection,
             context: ItemsController::BrowseContext::BROWSING_COLLECTION)

%ul.nav.nav-pills.float-right
  %li.nav-item
    = link_to '#', class: 'nav-link active' do
      %i.fa.fa-level-down-alt
      Tree
  %li.nav-item
    = link_to collection_items_path, class: 'nav-link' do
      %i.fa.fa-bars
      List

%h2.dl-title= @collection.title

.clearfix

= render partial: 'tree'
