<% provide :title, 'Server Status' %>
<% provide :body_id, 'status' %>
<% provide :active_nav, 'server' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Server Status</li>
</ol>

<h1>Server Status</h1>

<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default" id="website">
      <div class="panel-heading">
        <h3 class="panel-title">
          PearTree
          <%= admin_label_for_server_status %>
          <%= link_to admin_settings_path, class: 'btn btn-xs btn-default' do %>
            <i class="fa fa-pencil"></i> Edit
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Website URL</dt>
          <dd><%= link_to root_url, root_url %></dd>
          <dt>Control Panel URL</dt>
          <dd><%= link_to admin_root_url, admin_root_url %></dd>
          <dt>OAI-PMH URL</dt>
          <dd><%= link_to oai_pmh_url, oai_pmh_url(verb: 'Identify') %></dd>
          <dt>Application Root</dt>
          <dd><%= Rails.root %></dd>
          <dt>Repository Root</dt>
          <dd><%= Configuration.instance.repository_pathname %></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default pt-dynamic-status" id="pt-search-server">
      <div class="panel-heading">
        <h3 class="panel-title">
          Search Server
          <span class="label label-success pt-service-status hidden"
                data-check="<%= admin_search_server_status_url %>"></span>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>URL</dt>
          <dd><%= link_to Configuration.instance.solr_url,
                          Configuration.instance.solr_url %></dd>
          <dt>Core</dt>
          <dd><%= Configuration.instance.solr_core %></dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default pt-dynamic-status" id="pt-image-server">
      <div class="panel-heading">
        <h3 class="panel-title">
          Image Server
          <span class="label label-success pt-service-status hidden"
                data-check="<%= admin_image_server_status_url %>"></span>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>URL</dt>
          <dd id="image-server-uri">
            <%= link_to Configuration.instance.iiif_url,
                        Configuration.instance.iiif_url %>
          </dd>
        </dl>
      </div>
    </div>

  </div>
</div>
