<%= form_for([:admin, @user]) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :username, 'Username' %>
    <%= f.text_field :username, class: 'form-control',
                     disabled: (context == :edit) %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <%= f.label :enabled do %>
        <%= f.check_box :enabled %> Enabled
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label>Roles</label>
    <% @roles.each do |role| %>
      <div class="checkbox">
        <%= label_tag do %>
          <%= check_box_tag :role_ids, role.id, @user.roles.include?(role),
                            name: 'user[role_ids][]' %> <%= role.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= f.submit(context == :new ? 'Create User' : 'Save Changes',
               class: 'btn btn-primary') %>

<% end %>