= form_for([:admin, @user]) do |f|
  = render 'shared/error_messages', object: f.object
  = f.hidden_field :human, value: false
  .form-group
    = f.label :username, 'Username'
    = f.text_field :username, class: 'form-control',
                   disabled: !f.object.new_record?
  .float-right
    = f.submit(f.object.new_record? ? 'Create User' : 'Save Changes',
               class: 'btn btn-primary')
