<% provide :title, @user.username %>
<% provide :active_nav, 'access' %>
<% provide :body_id, 'users_show' %>

<% if @user != current_user %>
  <%= admin_breadcrumb({ label: 'Home', url: admin_root_path },
                       { label: 'Users', url: admin_users_path },
                       { label: @user.username }) %>
<% end %>

<div class="btn-group float-right" role="group">
  <% if @user == current_user %>
    <div class="btn-group">
      <!-- Actions menu -->
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" role="menu">
        <%= link_to admin_user_reset_api_key_path(@user),
                    method: :post, class: 'dropdown-item' do %>
          <i class="fa fa-key"></i> Reset API Key
        <% end %>
      </div>
    </div>
  <% end %>
  <% unless @user.human %>
    <!-- Delete button -->
    <%= link_to admin_user_path(@user), method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure you want to delete this user?' } do %>
      <i class="fa fa-trash"></i> Delete
    <% end %>
  <% end %>
</div>

<h1>
  <% if @user == current_user %>
    My Account
  <% else %>
    <%= @user.username %>
  <% end %>
</h1>

<dl>
  <% unless @user.human %>
    <dt>Type</dt>
    <dd>Non-Human</dd>
  <% end %>
  <% if @user == current_user or !@user.human %>
    <dt>API Key</dt>
    <dd>
      <% if @user.api_key.present? %>
        <code><%= @user.api_key %></code>
      <% else %>
        None
      <% end %>
    </dd>
  <% end %>
  <% unless @user.human %>
    <dt>Account Created</dt>
    <dd><%= local_time_ago(@user.created_at) %></dd>
  <% end %>
  <dt>Permissions</dt>
  <dd>
    <ul class="dl-permissions">
      <% Permissions.all.each do |p| %>
        <% if @user.has_permission?(p) %>
          <li class="plus">
            <span class="text-success">&#x2713;</span>
            <%= Permissions.constants.find{ |c| p == Permissions.const_get(c) }&.to_s&.humanize %>
          </li>
        <% else %>
          <li class="minus">
            <span class="text-danger">&times;</span>
            <%= Permissions.constants.find{ |c| p == Permissions.const_get(c) }&.to_s&.humanize %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </dd>
</dl>



