- provide :body_id, "search"
- provide :title, "Digital Special Collections" 

- active_tab = params[:tab] || 'all-collections'

:javascript
  $(document).ready(function() {
    // Initialize facets for search_landing page (non-AJAX version)
    const filterForm = $("form.dl-filter");

    const createHiddenInputs = function() {
      // Remove existing hidden fq inputs
      filterForm.find('[name="fq[]"]').remove();
      // Create hidden input for each checked checkbox
      filterForm.find('[name=dl-facet-term]:checked').each(function() {
        const input = $('<input type="hidden" name="fq[]">');
        input.val($(this).data('query'));
        filterForm.append(input);
      });
    };

    // Handle facet checkbox changes
    filterForm.find('.dl-card-facet [name="dl-facet-term"]').on('change', function() {
      createHiddenInputs();
      filterForm.submit();
    });

    // Handle modal facet submissions
    filterForm.find('.dl-modal-facet .modal-footer button.submit').on('click', function(e) {
      e.preventDefault();
      const modal = $(this).parents(".dl-modal-facet");
      modal.modal('hide');
      createHiddenInputs();
      filterForm.submit();
    });
  });

.row
  .col-12
    .card.mb-3
      .card-body
        %ul.nav.nav-pills{role: "tablist"}
          %li.nav-item{role: "presentation"}
            = link_to "All Collections", search_landing_path(tab: 'all-collections'), class: "nav-link #{'active' if active_tab == 'all-collections'}", role: "tab"
          %li.nav-item{role: "presentation"}
            = link_to "Simple Search", search_landing_path(tab: 'simple-search', q: @permitted_params[:q]), class: "nav-link #{'active' if active_tab == 'simple-search'}", role: "tab"
          %li.nav-item{role: "presentation"}
            = link_to "Advanced Search", search_landing_path(tab: 'advanced-search'), class: "nav-link #{'active' if active_tab == 'advanced-search'}", role: "tab"

.tab-content
  #all-collections.tab-pane.fade{class: [('show active' if active_tab == 'all-collections')], role: "tabpanel"}
    .row.justify-content-md-center.mt-4
      .col-md-auto
        = paginate(@count, @limit, @current_page, SearchLandingController::PERMITTED_PARAMS)

    = form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'dl-filter') do
      - @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v|
        - if v.is_a?(Array)
          - v.each do |item|
            = hidden_field_tag("#{k}[]", item)
        - else
          = hidden_field_tag(k, v)
      .row
        .col-sm-3.col-lg-2
          .facets
            = facets_as_cards(@facets, SearchLandingController::PERMITTED_PARAMS)

        .col-sm-9.col-lg-10
          .card.dl-results-summary
            .card-body
              .row
                #dl-search-status.col-sm-8
                  - last = [@count, @start + @num_results_shown].min
                  = raw(sprintf("Showing %d&ndash;%d of %s collections", @start + 1, last, number_with_delimiter(@count)))

          .search-results-list
            - if @collections.present?
              - @collections.each do |collection|
                .search-result-item.mb-4.d-flex.align-items-start
                  .flex-shrink-0{style: "width: 150px; height: 150px; overflow: hidden;"}

                  = thumbnail_tag(collection, shape: :square, size: 150)
                  .search-result-details.flex-grow-1.ms-3
                    =link_to "#{collection.title}", collection_path(collection), class: 'h5 d-block mb-2'
                    %h6= collection.element(:creator)
            - else 
              %p.mt-4.text-muted No collections found.

  #simple-search.tab-pane.fade{class: [('show active' if active_tab == 'simple-search')], role: "tabpanel"}
    .row.justify-content-md-center.mt-4
      .col-md-6
        = form_tag(search_landing_path, method: :get) do
          .input-group.filter-field
            = search_field_tag(:q, @permitted_params[:q], class: "form-control", 'aria-label': 'Simple Search')
            .input-group-append
              = submit_tag("Search", class: "btn btn-primary")
          = hidden_field_tag(:tab, 'simple-search')
    - if @permitted_params[:q].present?
      .row.justify-content-md-center.mt-4
        .col-md-auto
          = paginate(@count, @limit, @current_page, SearchLandingController::PERMITTED_PARAMS)
      .container.mt-4
        .card.dl-results-summary
          .card-body
            .row
              #dl-search-status.col-sm-8
                - last = [@count, @start + @num_results_shown].min
                = raw(sprintf("Showing %d&ndash;%d of %s collections", @start + 1, last, number_with_delimiter(@count)))
        .search-results-list.mt-4
          - if @collections.present?
            - @collections.each do |collection|
              .search-result-item.mb-4.d-flex.align-items-start
                .flex-shrink-0{style: "width: 150px; height: 150px; overflow: hidden;"}
                  = thumbnail_tag(collection, shape: :square, size: 150)
                .search-result-details.flex-grow-1.ms-3
                  =link_to "#{collection.title}", collection_path(collection), class: 'h5 d-block mb-2'
                  %h6= collection.element(:creator)
          - else
            %p.text-muted No collections found.
    %p.text-center.text-muted TODO: Add facets to this page.

  #advanced-search.tab-pane.fade{class: [('show active' if active_tab == 'advanced-search')], role: "tabpanel"}
    .row.justify-content-md-center.mt-4
      .col-md-8
        %p.text-center.text-muted Advanced search content will go here