
- provide :body_id, "search"
- provide :title, "Digital Special Collections"

- active_tab = params[:tab] || 'all-items'

.row
  .col-12
    .card.mb-3
      .card-body
        %ul.nav.nav-pills{role: "tablist"}
          %li.nav-item{role: "presentation"}
            = link_to "All Items", search_landing_path(tab: 'all-items'), class: "nav-link #{'active' if active_tab == 'all-items'}", role: "tab"
          %li.nav-item{role: "presentation"}
            = link_to "Simple Search", search_landing_path(tab: 'simple-search', q: @permitted_params[:q]), class: "nav-link #{'active' if active_tab == 'simple-search'}", role: "tab"
          %li.nav-item{role: "presentation"}
            = link_to "Advanced Search", search_landing_path(tab: 'advanced-search'), class: "nav-link #{'active' if active_tab == 'advanced-search'}", role: "tab"

.tab-content
  #all-items.tab-pane.fade{class: [('show active' if active_tab == 'all-items')], role: "tabpanel"}
    .row.justify-content-md-center.mt-4
      .col-md-auto
        = paginate(@count, @limit, @current_page, SearchLandingController::PERMITTED_PARAMS)

    .row
      .col-sm-3.col-lg-2
        .facets
          = facets_as_cards(@facets, SearchLandingController::PERMITTED_PARAMS)

      .col-sm-9.col-lg-10
        .card.dl-results-summary
          .card-body
            .row
              #dl-search-status.col-sm-8
                = search_status(@count, @start, @num_results_shown)
                
        .search-results-list
          - if @items.present?
            - @items.each do |item|
              .search-result-item.mb-4.d-flex 
                = thumbnail_tag(item, shape: :square, size: 150)
                .search-result-details.flex-grow-1 
                  =link_to "#{item.title}", item_path(item), class: 'h5 d-block mb-2'
                  %h6= item.element(:creator)
          - else 
            %p.mt-4.text-muted No items found.

  #simple-search.tab-pane.fade{class: [('show active' if active_tab == 'simple-search')], role: "tabpanel", "aria-labelledby": "simple-search-tab"}
    .row.justify-content-md-center.mt-4
      .col-md-6
        %p.text-center.text-muted Simple search content will go here

  #advanced-search.tab-pane.fade{class: [('show active' if active_tab == 'advanced-search')], role: "tabpanel", "aria-labelledby": "advanced-search-tab"}
    .row.justify-content-md-center.mt-4
      .col-md-8
        %p.text-center.text-muted Advanced search content will go here