- provide :body_id, "search"
- provide :title, "Digital Special Collections" 

- active_tab = params[:tab] || 'all-results'

:javascript
  $(document).ready(function() {
    Application.initFacets();
  });

.row
  .col-12
    .card.mb-3
      .card-body
        %ul.nav.nav-pills{role: "tablist"}
          %li.nav-item{role: "presentation"}
            = link_to "All Results", search_landing_path(tab: 'all-results'), class: "nav-link #{'active' if active_tab == 'all-results'}", role: "tab"
          %li.nav-item{role: "presentation"}
            = link_to "Simple Search", search_landing_path(tab: 'simple-search', q: @permitted_params[:q]), class: "nav-link #{'active' if active_tab == 'simple-search'}", role: "tab"
          %li.nav-item{role: "presentation"}
            = link_to "Advanced Search", search_landing_path(tab: 'advanced-search'), class: "nav-link #{'active' if active_tab == 'advanced-search'}", role: "tab"

.tab-content
  #all-results.tab-pane.fade{class: [('show active' if active_tab == 'all-results')], role: "tabpanel"}
    .row.justify-content-md-center.mt-4
      .col-md-auto
        = paginate(@count, @limit, @current_page, SearchLandingController::PERMITTED_PARAMS)

    = form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'dl-filter') do
      = hidden_field_tag 'dl-current-path', request.path
      - @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v|
        - if v.is_a?(Array)
          - v.each do |item|
            = hidden_field_tag("#{k}[]", item)
        - else
          = hidden_field_tag(k, v)
      .row
        .col-sm-3.col-lg-2
          .facets
            = facets_as_cards(@facets, SearchLandingController::PERMITTED_PARAMS)

        .col-sm-9.col-lg-10
          #search-results-container
            = render 'search_results'

  #simple-search.tab-pane.fade{class: [('show active' if active_tab == 'simple-search')], role: "tabpanel"}
    .row.justify-content-md-center.mt-4
      .col-md-8
        = form_tag(search_landing_path, method: :get) do
          .input-group.input-group-lg
            = search_field_tag(:q, @permitted_params[:q], 
                                class: "form-control form-control-lg", 
                                placeholder: "Search across #{number_with_delimiter(@total_available_count)} items",
                                'aria-label': 'Simple Search')
            .input-group-append
              = submit_tag("Search", class: "btn btn-primary btn-lg")
          = hidden_field_tag(:tab, 'simple-search')
        .mt-3.text-center
          %p.text-muted Search Digital Special Collections only
    
    .row.justify-content-md-center.mt-4
      .col-md-auto
        = paginate(@count, @limit, @current_page, SearchLandingController::PERMITTED_PARAMS)
    
    = form_tag(@permitted_params.reject{ |k, v| k == 'start' }, method: :get, class: 'dl-filter') do
      = hidden_field_tag 'dl-current-path', request.path
      - @permitted_params.reject{ |k, v| k == 'start' }.each do |k, v|
        - if v.is_a?(Array)
          - v.each do |item|
            = hidden_field_tag("#{k}[]", item)
        - else
          = hidden_field_tag(k, v)
      = hidden_field_tag(:tab, 'simple-search')
      
      .container.mt-4
        .row
          .col-sm-3.col-lg-2
            .facets
              = facets_as_cards(@facets, SearchLandingController::PERMITTED_PARAMS)

          .col-sm-9.col-lg-10
            #search-results-container
              = render 'search_results'

  #advanced-search.tab-pane.fade{class: [('show active' if active_tab == 'advanced-search')], role: "tabpanel"}
    .row.justify-content-md-center.mt-4
      .col-md-8
        %p.text-center.text-muted Advanced search content will go here