
- provide :body_id, "search"
- provide :title, "Digital Special Collections"

.row
  .col-12.text-center.mb-4
    [Insert Menu: All Items (Browse), Simple Search, Advanced Search]

.row.justify-content-md-center.mt-4
  .col-md-auto
    = paginate(@count, @limit, @current_page, SearchLandingController::PERMITTED_PARAMS)

.row
  .col-sm-3.col-lg-2
    .facets
      = facets_as_cards(@facets, SearchLandingController::PERMITTED_PARAMS)

  .col-sm-9.col-lg-10
    .card.dl-results-summary
      .card-body
        .row
          #dl-search-status.col-sm-8
            = search_status(@count, @start, @num_results_shown)
            
    .search-results-list
      - if @items.present?
        - @items.each do |item|
          .search-result-item.mb-4.d-flex 
            = thumbnail_tag(item, shape: :square, size: 150)
            .search-result-details.flex-grow-1 
              %h5= item.title 
              %div.text-muted 
                %span
                  = item.collection.try(:title)
                %span 
                  Digital Special Collections 
              = link_to '+ More info...', item_path(item), class: 'btn btn-sm btn-outline-secondary mt-2'

      - else 
        %p.mt-4.text-muted No items found.

