<% provide :title, 'Server' %>
<% provide :body_id, 'server' %>
<% provide :active_nav, 'server' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Server Status</li>
</ol>

<h1>Server Status</h1>

<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default" id="website">
      <div class="panel-heading">
        <h3 class="panel-title">
          PearTree
          <span class="label label-success label-sm pt-service-status">Online</span>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Website URL</dt>
          <dd><%= link_to root_url, root_url %></dd>
          <dt>Control Panel URL</dt>
          <dd><%= link_to admin_root_url, admin_root_url %></dd>
          <dt>OAI-PMH URL</dt>
          <dd><%= link_to oai_pmh_url, oai_pmh_url(verb: 'Identify') %></dd>
          <dt>Application Root</dt>
          <dd><%= Rails.root %></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default pt-dynamic-status" id="pt-search-server">
      <div class="panel-heading">
        <h3 class="panel-title">
          Search Server
          <span class="label label-success pt-service-status hidden"
                data-check="<%= admin_server_search_server_status_url %>"></span>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>URL</dt>
          <dd><%= link_to PearTree::Application.peartree_config[:solr_url],
                          PearTree::Application.peartree_config[:solr_url] %></dd>
          <dt>Core</dt>
          <dd><%= PearTree::Application.peartree_config[:solr_core] %></dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default pt-dynamic-status" id="pt-image-server">
      <div class="panel-heading">
        <h3 class="panel-title">
          Image Server
          <span class="label label-success pt-service-status hidden"
                data-check="<%= admin_server_image_server_status_url %>"></span>
        </h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>URL</dt>
          <dd id="image-server-uri">
            <%= link_to PearTree::Application.peartree_config[:iiif_url],
                        PearTree::Application.peartree_config[:iiif_url] %>
          </dd>
        </dl>
      </div>
    </div>

  </div>
</div>
