.text-center
  = link_to 'Contact us', "#contact-form", 
                role:            "button",
                class:          "contact-toggle-btn",
                "data-bs-toggle": "collapse",
                "aria-expanded":  "false",
                "aria-controls": "contact-form"
  for questions and to provide feedback. 

  .collapse#contact-form
    = form_tag(controller: "landing", action: "contact", method: :post) do
      -# see for an explanation of the force_encoding():
      -# https://github.com/rails/rails/issues/23978#issuecomment-290032710
      = hidden_field_tag(:page_url, request.url.force_encoding("UTF-8"))
      .row
        .col-sm-6
          .mb-3
            = label_tag(:name, "Your Name (optional)", class: "form-label")
            = text_field_tag(:name, nil, id: "contact_name", class: "form-control")
          .mb-3
            = label_tag(:email, "Your Email (optional)", class: "form-label")
            = text_field_tag(:email, nil, id: "contact_email", class: "form-control")
        .col-sm-6
          .mb-3
            = label_tag(:comment, "Your Comment", class: "form-label")
            = text_area_tag(:comment, nil, id: "contact_comment", rows: 5, class: "form-control")
          .mb-3
            = captcha(contact_path)
      .mb-3 
        = submit_tag("Submit", class: "btn btn-primary")