<footer role="contentinfo">
  <div class="row">
    <div class="col-sm-12 text-line">
      The Digital Collections are a product of the University Library.
      <%= link_to 'Contact us', "mailto:#{Option::string(Option::Keys::ADMINISTRATOR_EMAIL)}" %>
      for questions and to provide feedback.
    </div>
    <div class="col-md-12 info-area">
      <div class="row">
        <div class="col-md-4">
          <div>Main Library Information Desk</div>
          <div><a href="tel:+12173332290">(217) 333-2290</a></div>
          <div>1408 W. Gregory Dr.</div>
          <div>Urbana, IL 61801</div>
          <div class="library-footer_social_div mb-2">
            <a href="https://www.facebook.com/universitylibrary" class="library-footer_social_a" title="Univeristy of Illinois library facebook"><span class="library-footer_social_span fab fa-facebook-f fa-lg"></span></a>
            <a href="https://www.instagram.com/uillinoislibrary/" class="library-footer_social_a" title="Univeristy of Illinois library instagram"><span class="library-footer_social_span fab fa-instagram fa-lg"></span></a>
            <a href="https://twitter.com/IllinoisLibrary" class="library-footer_social_a" title="Univeristy of Illinois library twitter"><span class="library-footer_social_span fab fa-twitter fa-lg"></span></a>
          </div>
          <a href="https://www.library.illinois.edu/friends/make-a-gift/">Make a Gift</a>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <a href="https://illinois.edu">
            <%= image_tag '009_LIBRA_OrangeI_Vert_RGB.png',
                          class: 'footer-library_i-mark',
                          alt: 'University of Illinois Logo' %>
          </a>
          <div class="footer-library_copyright text-center">
            <%= Option::string(Option::Keys::COPYRIGHT_STATEMENT) %>
          </div>
        </div>
        <div class="col-md-4">
          <nav tabindex="-1" id="ui-skip-73">
            <ul>
              <li><a href="https://www.vpaa.uillinois.edu/policies/web_privacy.cfm">Privacy Policy</a></li>
              <li><a href="https://www.library.illinois.edu/library-building-project/">Library Building Project</a></li>
              <li><a href="https://guides.library.illinois.edu/usersdisabilities">Accessibility</a></li>
              <li><a href="https://illinois.edu/fb/sec/887006">Suggest a Purchase</a></li>
              <li><a href="https://www.library.illinois.edu/staff/">Library Staff Website</a></li>
            </ul>
          </nav>
          <div class="footer-library_fdlp-div">
            <a href="https://www.library.illinois.edu/doc/">
              <%= image_tag 'fdlp-emblem-logo-text-invert.png',
                            class: 'footer-library_fdlp-div_img',
                            alt: 'Federal Library Depository Program Logo' %>
            </a>
          </div>
        </div>
        <div class="col-md-4 d-block d-md-none">
          <a href="https://illinois.edu">
            <%= image_tag '009_LIBRA_OrangeI_Vert_RGB.png',
                          class: 'footer-library_i-mark footer-library_i-mark_mobile',
                          alt: 'University of Illinois Logo' %>
          </a>
          <div class="footer-library_copyright text-center">
            &copy; 2020 The Board of Trustees at the University of Illinois. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>