%body
  %header
    = render partial: 'layouts/top_header'
    %nav.navbar.navbar-expand-md{role: "navigation"}
      = link_to 'Digital Collections', root_path, class: 'navbar-brand'
      %button.navbar-toggler{"aria-controls": "navbarColor01",
                             "aria-expanded": "false",
                             "aria-label": "Toggle navigation",
                             "data-target": "#navbarColor01",
                             "data-toggle": "collapse",
                             type: "button"}
        %span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li#collections-nav.nav-item
            = link_to Configuration.instance.metadata_gateway_url + '/collections',
                      class: 'nav-link' do
              = icon_for(Collection)
              Collections
          %li#items-nav.nav-item
            = link_to Configuration.instance.metadata_gateway_url + '/items',
                      class: 'nav-link' do
              = icon_for(Item)
              Items
          %li#repositories-nav.nav-item 
            = link_to repositories_path, class: 'nav-link' do 
              = icon_for(:repository)
              Repositories
          %li#about-nav.nav-item
            = link_to "https://guides.library.illinois.edu/digital-special-collections/",
                      class: 'nav-link' do 
              = icon_for(:info)
              About
        = form_tag(Configuration.instance.metadata_gateway_url + '/search',
                   method: :get,
                   class: 'form-inline my-2 mr-3 my-lg-0') do
          .input-group
            = search_field_tag(:q,
                               '',
                               placeholder: raw('Search'),
                               'aria-label': 'Search',
                               class: 'form-control')
            .input-group-append
              %button.btn.btn-outline-secondary{type: "submit"}
                %i.fa.fa-search
                %span.sr-only Search
= render partial: 'shared/sensitive_content'
