<header>
  <%= render partial: 'layouts/top_header' %>

  <nav class="navbar navbar-expand-md" role="navigation">
    <%= link_to 'Digital Collections', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="collections-nav">
          <%= link_to Configuration.instance.metadata_gateway_url + '/collections', class: 'nav-link' do %>
            <%= icon_for(Collection) %> Collections
          <% end %>
        </li>
        <li class="nav-item" id="items-nav">
          <%= link_to Configuration.instance.metadata_gateway_url + '/items', class: 'nav-link' do %>
            <%= icon_for(Item) %> Items
          <% end %>
        </li>
      </ul>

      <%= form_tag(Configuration.instance.metadata_gateway_url + '/search',
                   method: :get,
                   class: 'form-inline my-2 my-lg-0') do %>
        <div class="input-group">
          <%= search_field_tag(:q, '',
                               placeholder: raw('Search'),
                               'aria-label': 'Search',
                               class: 'form-control') %>
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">
              <i class="fa fa-search"></i> <span class="sr-only">Search</span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </nav>
</header>