<div class="container-fluid">
  <header>
    <div class="row lib-shared-header">
      <div class="col-sm-10 col-xs-8">
        <h1 class="sr-only">University Library, University of Illinois at Urbana-Champaign</h1>
        <div class="table-row">
          <div class="table-cell">
            <a href="http://illinois.edu">
              <%= image_tag('imark.svg',
                            class: 'col-xs-12 banner-image-imark',
                            alt: 'University of Illinois I-Mark') %>
            </a>
          </div>
          <div class="table-cell">
            <a href="http://www.library.illinois.edu">
              <%= image_tag('library_wordmark_horizontal_2.png',
                            class: 'col-xs-12 banner-image-university',
                            alt: 'University') %>
            </a>
          </div>
          <div class="table-cell">
            <a href="http://www.library.illinois.edu">
              <%= image_tag('library_wordmark_horizontal_3.png',
                            class: 'col-xs-12 banner-image-library',
                            alt: 'Library') %>
            </a>
          </div>
          <div class="table-cell">
            <a href="http://www.library.illinois.edu">
              <%= image_tag('library_wordmark_horizontal_4.png',
                            class: 'col-xs-12 banner-image-uiuc banner-mobile-img',
                            alt: 'University of Illinois at Urbana-Champaign') %>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-xs-4 pt-user">
        <% if signed_in? %>
          <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button"
                    id="pt-user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-user"></i> <%= current_user %>
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="pt-user-menu">
              <li><%= link_to 'Administration', admin_root_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign Out', signout_path(referer: request.url),
                              method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to 'Sign In', signin_path, class: 'btn btn-xs btn-default' %>
        <% end %>
      </div>
    </div>
  </header>
</div>

<div class="uiuc-plain-banner">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#pt-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Digital Collections', root_path, class: 'navbar-brand' %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="pt-navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="collections-nav">
            <%= link_to collections_path do %>
              <span class="fa fa-folder-open"></span> Collections
            <% end %>
          </li>
          <li class="dropdown" id="items-nav">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-expanded="false">
              <span class="fa fa-cube"></span> Items<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to('All Items', items_path) %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to('Images',
                            items_path('fq[]': "#{Item::IndexFields::PRIMARY_MEDIA_CATEGORY}:#{Binary::MediaCategory::IMAGE}")) %>
              </li>
              <li>
                <%= link_to('Documents',
                            items_path('fq[]': "#{Item::IndexFields::PRIMARY_MEDIA_CATEGORY}:#{Binary::MediaCategory::DOCUMENT}")) %>
              </li>
              <li>
                <%= link_to('Videos',
                            items_path('fq[]': "#{Item::IndexFields::PRIMARY_MEDIA_CATEGORY}:#{Binary::MediaCategory::VIDEO}")) %>
              </li>
              <li>
                <%= link_to('Sound Recordings',
                            items_path('fq[]': "#{Item::IndexFields::PRIMARY_MEDIA_CATEGORY}:#{Binary::MediaCategory::AUDIO}")) %>
              </li>
            </ul>
          </li>
        </ul>

        <%= form_tag(search_path, method: :get, class: 'navbar-form navbar-right') do %>
          <div class="input-group">
            <%= search_field_tag(:q, '', class: 'form-control', placeholder: 'Search') %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i> <span class="sr-only">Search</span>
              </button>
            </span>
          </div>
        <% end %>
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>
</div>

<% if controller_name == 'landing' %>
  <div id="uiuc-landing-banner" class="uiuc-image-banner hidden-xs">
  </div>
<% end %>
