<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title><%= yield :title %> |
      <%= Option.string(Option::Keys::WEBSITE_NAME) %></title>

    <meta charset="utf-8"/>
    <meta name="copyright" content="<%= Option.string(Option::Keys::COPYRIGHT_STATEMENT) %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <%= csrf_meta_tags %>
    <%= favicon_link_tags %>
    <%= yield(:meta_tags) %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= render partial: 'layouts/font_awesome' %>
  </head>

  <body <%= !yield(:body_id).empty? ? raw("id=\"#{yield(:body_id)}\"") : nil %>
        <%= raw("data-nav=\"#{yield(:active_nav)}\"") %>>

    <%= hidden_field_tag('dl-root-path', root_path) %>
    <%= hidden_field_tag('dl-root-url', root_url) %>
    <%= hidden_field_tag('dl-current-path', request.path) %>

    <div class="container-fluid">
      <%= render 'layouts/header' %>

      <div class="page-content">
        <%= flashes %>
        <%= yield.force_encoding(Encoding::UTF_8) %>
      </div>

      <%= render 'layouts/footer' %>
    </div>

    <%= render partial: 'shared/google_analytics' %>
  </body>
</html>
