!!!
%html{prefix: "og: http://ogp.me/ns#", lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title
      = yield :title
      |
      \#{Setting.string(Setting::Keys::WEBSITE_NAME)}
    %meta{charset: "utf-8"}
    %meta{content: "#{Setting.string(Setting::Keys::COPYRIGHT_STATEMENT)}", name: "copyright"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    = csrf_meta_tags
    -# provided by scars-bootstrap-theme
    = uofi_favicon_tags
    = yield(:meta_tags)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{rel: "dns-prefetch", href: "https://cdn.toolkit.illinois.edu"}
    %link{rel: "stylesheet", href: "https://cdn.toolkit.illinois.edu/2/toolkit.css"}
    %script{src: "https://cdn.toolkit.illinois.edu/2/toolkit.js"}
    %script{src: "https://kit.fontawesome.com/72baa8e3c1.js", crossorigin: "anonymous"}
    %script{src: "https://cdn.disability.illinois.edu/skipto.min.js"}
    :javascript 
      var SkipToConfig = { 
        settings: {
          skipTo: {
            displayOption: 'popup',
            colorTheme: 'illinois'
          }
        }
      };
  %body{id: yield(:body_id).present? ? raw(yield(:body_id)) : nil,
        "data-nav": yield(:active_nav)}
    = hidden_field_tag('dl-root-path', root_path)
    = hidden_field_tag('dl-root-url', root_url)
    = hidden_field_tag('dl-current-path', request.path)
    - if request.path == '/'
      %header
        = render partial: 'layouts/top_header'
    - else
      %header
        = render partial: 'layouts/header'
  %main{id: "main-content"}
    .container-fluid 
      .page-content
        = flashes
        = yield.force_encoding(Encoding::UTF_8)
  %footer
    = render 'layouts/footer'
  = render partial: 'shared/google_analytics'
   
