<!DOCTYPE html>
<html>
<head>
  <title>Download File | <%= Option.string(Option::Keys::WEBSITE_NAME) %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="copyright" content="<%= Option.string(Option::Keys::COPYRIGHT_STATEMENT) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= favicon_link_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!--[if lt IE 9]>
  <script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/src/html5shiv.js"></script>
  <![endif]-->
</head>
<body <%= !yield(:body_id).empty? ? raw("id=\"#{yield(:body_id)}\"") : nil %>
      <%= raw("data-nav=\"#{yield(:active_nav)}\"") %>>

<%= hidden_field_tag('pt-root-path', root_path) %>
<%= hidden_field_tag('pt-root-url', root_url) %>
<%= hidden_field_tag('pt-current-path', request.fullpath) %>

<div class="container-fluid">
  <% flash.each do |type, message| %>
      <div class="pt-flash alert alert-dismissable <%= bootstrap_class_for(type) %>">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button>
        <%= message %>
      </div>
  <% end %>

  <div id="pt-page-content">
    <%= yield.force_encoding(Encoding::UTF_8) %>
  </div>
</div>

<%= render partial: 'shared/google_analytics' %>

</body>
</html>
