!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8",
          "http-equiv": "Content-Type"}
    %title
      Download File | #{Option.string(Option::Keys::WEBSITE_NAME)}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %meta{content: "#{Option.string(Option::Keys::COPYRIGHT_STATEMENT)}", name: "copyright"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    -# provided by scars-bootstrap-theme
    = uofi_favicon_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body{id: yield(:body_id).present? ? raw(yield(:body_id)) : nil,
        "data-nav": yield(:active_nav)}
    = hidden_field_tag('dl-root-path', root_path)
    = hidden_field_tag('dl-root-url', root_url)
    = hidden_field_tag('dl-current-path', request.path)
    .container-fluid
      .page-content
        - flash.each do |type, message|
          %div{class: "dl-flash alert alert-dismissable #{bootstrap_class_for(type)}"}
            %button.close{"aria-hidden": "true", "data-dismiss": "alert", type: "button"} ×
            = message
        = yield.force_encoding(Encoding::UTF_8)
    = render partial: 'shared/google_analytics'
